%div{:id => "system_#{item.id}"}
  %div{:class => 'column_2'}
    .product
      .status_icon{:class => "#{item.send('compliance_color')}"}
    %ul
      %li
        %div.one-line-ellipsis#heading_title
          %span#name
            = item.send('name')
      - if Katello.config.katello?
        %li.one-line-ellipsis
          = _('Env: ')
          %span#environment
            = system_environment_name item
      %li.one-line-ellipsis
        = _('OS: ')
        %span#environment
          = item.send('distribution_name')
  %div{:class => 'column_2'}
    %ul
      %li
        = get_registered(item)
      %li
        = get_checkin(item)
.arrow-right
