= content_for :title do
  #{_("Register System")}
= content_for :content do
  %section.instruction-page
    %p
      #{_("To register a system to this server, run the following commands within a console on the client system.")}
    .clear
      &nbsp
    %p
      #{_("Install the pre-built bootstrap RPM. This will configure the system to use this server.")}
    %pre
      %code
        = install_cert_command
    %p
      #{_("Use Subscription Manager to register.")}
    %pre
      %code
        = register_command

= render :template => "layouts/tupane_layout"
