= content_for :title do
  #{@system.name}

= content_for :remove_item do
  -if @system.deletable?
    = link_to _("Remove System"), { :controller => "systems", :action => "destroy", :id => @system.id }, :confirm => _('Are you sure you want to remove this system?'), :method => :delete, :class=>"remove_item", :remote=>true


= content_for :navigation do
  = render_menu(1..2, systems_navigation)
