= javascript :provider_edit


= content_for :title do
  #{_("Edit Provider")}
  
= content_for :remove_item do
  = link_to _("Remove Provider"), {:action => "destroy", :controller => "providers"}, :method => :delete, :confirm => _('Are you sure?'), :class => "remove_item", :remote=>true

= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)
  
= content_for :content do
  #providers
    .grid_8#provider
      = form_for(@provider, :html => {:multipart => true, :method => :put, :id => 'provider_edit', :remote => true}, :url => provider_path(@provider)) do |f|
  
        %fieldset
          .grid_2.ra
            %label #{_("Name")}:
          .grid_5.la.editable.edit_providername#provider_name{'name' => 'provider[name]', :url => provider_path(@provider.id)} #{@provider[:name]}
  
        %fieldset
          .grid_2.ra
            %label #{_("Description")}:
          .grid_5.la.editable.edit_textarea{:style => "word-wrap: break-word;", 'name' => 'provider[description]', :url => provider_path(@provider.id)}<> #{@provider[:description]}
  
        %fieldset
          .grid_2.ra
            %label #{_("Type")}:
          .grid_5.la #{@provider[:provider_type]}
  
        -if @provider.provider_type == Provider::REDHAT
          %fieldset
            .grid_2.ra
              %label #{_("Repository Url")}:
            .grid_5.la.editable.edit_textfield{'name' => 'provider[repository_url]', :url => provider_path(@provider.id)} #{@provider[:repository_url]}

%input#provider_id{:name => @provider.id, :type => "hidden", :value => @provider.id, "data-ajax_url"=>url_for(:action=> 'update')}  