= javascript :edit_helpers

= content_for :title do
  #{_("Edit Provider")}

= content_for :remove_item do
  - if @provider.deletable?
    = link_to _("Remove Provider"), {:action => "destroy", :controller => "providers"}, :method => :delete, :confirm => _('Are you sure you want to delete this provider?'), :class => "remove_item", :remote=>true


= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)
  
= content_for :content do
  #providers
    %input#panel_element_id{:name => @provider.id, :type => "hidden", :value => "#{name}_#{@provider.id}", "data-ajax_url"=>url_for(:action=> 'update')}
    .grid_9#provider
      = form_for(@provider, :html => {:multipart => true, :method => :put, :id => 'provider_edit', :remote => true}, :url => provider_path(@provider)) do |f|
  
        %fieldset.fl.clear
          .grid_2.ra
            %label #{_("Name")}:
          .grid_5.la#provider_name{'name' => 'provider[name]', 'data-url' => provider_path(@provider.id), :class=>("editable edit_panel_element" if editable)} #{@provider[:name]}
  
        %fieldset.fl.clear
          .grid_2.ra
            %label #{_("Description")}:
          .grid_5.la{:style => "word-wrap: break-word;", 'name' => 'provider[description]', 'data-url' => provider_path(@provider.id), :class=>("editable edit_panel_element" if editable)}<> #{@provider.description}
  
        %fieldset.fl.clear
          .grid_2.ra
            %label #{_("Type")}:
          .grid_5.la #{@provider[:provider_type]}
  
        -if @provider.provider_type == Provider::REDHAT
          %fieldset.fl.clear
            .grid_2.ra
              %label #{_("Repository Url")}:
            .grid_5.la.editable.edit_textfield{'name' => 'provider[repository_url]', 'data-url' => provider_path(@provider.id)} #{@provider[:repository_url]}

%input#provider_id{:name => @provider.id, :type => "hidden", :value => @provider.id, "data-ajax_url"=>url_for(:action=> 'update')}  
