= javascript :edit_helpers

= content_for :title do
  #{@provider.name}

= content_for :remove_item do
  - if @provider.deletable?
    = link_to _("Remove Provider"), {:action => "destroy", :controller => "providers"}, :method => :delete, :confirm => _('Are you sure you want to delete this provider?'), :class => "remove_item", :remote=>true

= content_for :navigation do
  = render_menu(1..2, custom_provider_navigation)


= content_for :content do
  #providers
    %input#panel_element_id{:name => @provider.id, :type => "hidden", :value => "#{name}_#{@provider.id}", "data-ajax_url"=>url_for(:action=> 'update')}
    .grid_9#provider
      = form_for(@provider, :html => {:multipart => true, :method => :put, :id => 'provider_edit', :remote => true}, :url => provider_path(@provider)) do |f|
  
        %fieldset.fl.clear
          .grid_2.ra
            %label #{_("Name")}:
          .grid_5.la#provider_name{:title=>@provider[:name], 'name' => 'provider[name]', 'data-url' => provider_path(@provider.id),
                                  :class=>editable_class(editable)} #{@provider[:name]}
  
        %fieldset.fl.clear
          .grid_2.ra
            %label #{_("Description")}:
          .grid_5.la{'name' => 'provider[description]', 'data-url' => provider_path(@provider.id), :class=>editable_class(editable)}<> #{@provider.description}


%input#provider_id{:name => @provider.id, :type => "hidden", :value => @provider.id, "data-ajax_url"=>url_for(:action=> 'update')}  
