= javascript :provider_create

= content_for :title do
  #{_("New Provider")}

= content_for :content do
  #provider
    .grid_8#new_provider
      = form_for @provider, :html => {:method => :post}, :url => providers_path do |f|
        = render :partial => 'form', :locals => { :form =>f }
