= content_for :title do
  #{_("Edit Provider")}

= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)

= content_for :content do
  .grid_9
    = help_tip_button('subscriptions-help')
    &nbsp;

  #subscriptions
    .grid_9
      = help_tip(_("Listed below are the products available from the selected provider, as well as the " + |
                 "related subscription information.  If you have a subscription manifest you may upload it below. " + |
                 "This manifest may be obtained by visiting the Red Hat Customer Portal or by contacting your support representative."), 'subscriptions-help') |
  
    .grid_9#subscription
      %h4 #{_("Current Subscriptions")}
      %table
        %thead
          %th #{_("Name")}
          %th #{_("Consumed Subscriptions")}
          %th #{_("Quantity Available")}
        %tbody
        - @subscriptions.each do |sub|
          %tr{:class => cycle(nil, 'alt')}
            %td
              = sub["productName"]
            %td
              = sub["consumed"]
            %td
              = sub["quantity"]
      %h4 #{_("Upload Subscription Manifest")}
      = form_for @provider, :html => {:multipart => true, :method => :post, :id => :upload_manifest}, :remote => true, :url => subscriptions_provider_path do |f|
        %fieldset
          = f.label :upload, _("Specify Local Manifest")
          = f.file_field :contents
          .actions
            = f.submit _("Upload")
