= include_javascripts :edit_helpers

%input#panel_element_id{:name => @provider.id, :type => "hidden", :value => @provider.id, "data-ajax_url"=>url_for(:action=> 'update')}

.grid_8
  %h2 #{_("Edit Provider")}
#providers
  .grid_8
    %nav.subnav
      = render_navigation(:expand_all => true, :level => 3)
  .grid_8#provider
    = form_for(@provider, :html => {:multipart => true, :method => :put, :id => 'provider_edit', :remote => true}, :url => provider_path(@provider)) do |f|

      %fieldset
        .grid_2.ra
          %label #{_("Name")}:
        .grid_5.la.editable.edit_panel_element#provider_name{'name' => 'provider[name]', 'data-url' => provider_path(@provider.id)} #{@provider[:name]}

      %fieldset
        .grid_2.ra
          %label #{_("Description")}:
        .grid_5.la.editable.edit_textarea{:style => "word-wrap: break-word;", 'name' => 'provider[description]', 'data-url' => provider_path(@provider.id)}<> #{@provider[:description]}

      %fieldset
        .grid_2.ra
          %label #{_("Type")}:
        .grid_5.la #{@provider[:provider_type]}

      -if @provider.provider_type == Provider::REDHAT
        %fieldset
          .grid_2.ra
            %label #{_("Repository Url")}:
          .grid_5.la.editable.edit_textfield{'name' => 'provider[repository_url]', 'data-url' => provider_path(@provider.id)} #{@provider[:repository_url]}

  = link_to _("Remove Provider"), {:action => "destroy", :controller => "providers"}, :method => :delete, :confirm => _('Are you sure?'), :class => "remove_item", :remote=>true

