-# parameters: form
- raise ArgumentError, "Provider form requires :form be passed in :locals" unless local_assigns[:form]

%fieldset
  .grid_2.ra
    %label #{_("Name")}:
  .grid_5.la
    = form.text_field :name

%fieldset
  .grid_2.ra
    %label #{_("Description")}:
  .grid_5.la
    = form.text_field :description

%fieldset
  .grid_2.ra
    %label #{_("Type")}:
  .grid_5.la    
    = select_tag('provider[provider_type]', options_for_select(Provider::TYPES, @provider.provider_type))

%fieldset
  .grid_2.ra
    %label #{_("Repository Url")}:
  .grid_5.la    
    = form.text_field :repository_url, :id=>"repository_url_field"

.grid_6.la.prefix_2
  = button_to _("Save"), {:action => "create", :controller => "providers"}, :method => :post, :id => :provider_save
