= javascript do
  :plain
    KT.initial_repo_discovery = $.parseJSON('#{escape_javascript({:urls=>discovered, :running=>running}.to_json)}');

= content_for :title do
  #{@provider.name}


= render :partial => 'remove_item', :locals => { :repositories_cloned_in_envrs => repositories_cloned_in_envrs }


= content_for :navigation do
  = render_menu(1..2, custom_provider_navigation)

= content_for :content do
  .grid_10
    %form#repo_discovery_form{:data=>{:url=>discover_provider_path(@provider.id)}}
      .grid_1.ra
        = _("URL:")
      .grid_6.la
        %input{:type=>:text, :name=>'discover_url', :size=>40, :value=>(@provider.discovery_url || '')}
      .grid_1.la
        %input{:type=>:submit, :value=>_("Discover")}
      .grid_1.la{:style=>'display: none;'}
        %input#cancel_discover.button{:type=>:button, :name=>:cancel, :value=>_('Cancel'),
                              :data=>{:url=>cancel_discovery_provider_path(@provider.id)}}
  %br
  .grid_10
    .grid_9
      %h3
        = _("Discovered URLS:")
    %table#discovered_repos{:data=>{:url=>discovered_repos_provider_path(@provider.id)}}
      %thead
        %td
          .grid_5
            %input#url_filter{:type=>'text', :size=>20, :placeholder=>_('Filter found paths')}
          .grid_3
            %button.button#new_repos{:data=>{:url=>new_discovered_repos_provider_path(@provider.id)}}
              = _("Create Within Product")
      %tbody
        %td
