= content_for :title do
  #{_("New Role")}

= content_for :content do
  .grid_10
    = form_tag roles_path, :method => "post", :id => "new_role" do
      %fieldset
        .grid_2.ra
          %label #{_("Name")}:
        .grid_5.la
          = text_field_tag 'role[name]', params[role[:name]], :tabindex => auto_tab_index
      %fieldset
        .grid_2.ra
          %label #{_("Description")}:
        .grid_5.la
          = text_area_tag 'role[description]', params[role[:description]], :tabindex => auto_tab_index
      .grid_5.la.push_2
        = button_to _("Save"), {:action => "create", :controller => "roles"}, :method => :post, :id => :role_save, :tabindex => auto_tab_index        