= javascript :subpanel_new

= content_for :title do
  #{_("Create Application Life Cycle Management Environment")}

= content_for :navigation do
  / pretty

= content_for :subcontent do
  .clear
    &nbsp;
  = kt_form_for KTEnvironment.new, :url => organization_environments_path(@organization.cp_key), :remote=>true, :html => {:id=>"new_subpanel"} do |form|

    = form.text_field :name, :label => _("Name")

    = form.text_area :description, :size => "40x5", :label => _("Description")

    = form.select :prior, options_for_select(@env_labels, @selected), :label => _("Prior Environment")

    = form.submit _("Create"), :disable_with => _("Creating..."), :class => 'subpanel_create'