<h4 class="header">
  <%= _("Content Views") %>
</h4>

<% organizations = Organization.current.present? ? [Organization.current] : User.current.allowed_organizations %>
<% histories = Katello::ContentViewHistory.includes(:content_view_version => [:content_view]).includes(:task, :environment).in_organizations(organizations).where("#{Katello::ContentView.table_name}.generated_for" => :none) %>
<% histories = histories.readable.limit(6) %>

<% if histories.empty? %>
  <p class="ca"><%= _("No content view history events found.") %></p>
<% else %>
  <table class="table table-fixed table-striped table-bordered">
    <thead>
      <tr>
        <th class='ellipsis'><%= _("Content View") %></th>
        <th class='ellipsis'><%= _("Task") %></th>
        <th class='ellipsis'><%= _("Status") %></th>
      </tr>
    </thead>
    <tbody>
      <% histories.each do |history| %>
        <tr>
          <td class='ellipsis'>
            <a href="/content_views/<%= history.content_view_version.content_view.id %>/versions/<%= history.content_view_version.id %>">
              <%= history.content_view_version.content_view.name %> <%= history.content_view_version.version %>
            </a>
          </td>
          <td class='ellipsis'><%= history.humanized_action %></td>
          <td class='ellipsis'><%= history.humanized_status %> on <%= history.updated_at.to_s(:short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
