<h4 class="header">
  <%= _("Latest Errata") %>
</h4>

<% organizations = Organization.current.present? ? [Organization.current] : User.current.allowed_organizations %>
<% systems = Katello::System.in_organizations(organizations).readable %>
<% errata = Katello::Erratum.applicable_to_systems(systems).order('updated desc').limit(6) %>

<% if errata.empty? %>
  <p class="ca"><%= _("There are no errata that need to be applied to registered content hosts.") %></p>
<% else %>
  <table class="table table-striped ellipsis">
    <thead>
      <tr>
        <th>Type</th>
        <th>Errata</th>
      </tr>
    </thead>
    <tbody>
      <% errata.each do |erratum| %>
        <% content_hosts = erratum.systems_applicable.in_organizations(organizations).readable %>

        <tr>
          <th class="" title="<%= erratum.errata_type %>"><%= erratum.errata_type %></th>
          <th>
            <a href="/errata/<%= erratum.uuid %>/info">
              <%= erratum.errata_id %> (<%= content_hosts.length %> _('Content Hosts')))
            </a>
          </th>
        </tr>

      <% end %>
    </tbody>
  </table>
<% end %>
