- owner_info = current_organization.owner_info

= javascript do
  :plain
    KT.subscription_data = [{data:#{escape_javascript(owner_info.total_invalid_compliance_consumers.to_s)}, color:"#e13831"},  //red     invalid
                            {data:#{escape_javascript(owner_info.total_partial_compliance_consumers.to_s)}, color:"#f0e960"},  //yellow  partial
                            {data:#{escape_javascript(owner_info.total_valid_compliance_consumers + owner_info.total_partial_compliance_consumers + owner_info.total_invalid_compliance_consumers == 0 ? "100" : owner_info.total_valid_compliance_consumers.to_s)}, color:"#9ccc50"}]; //green   valid

#dashboard_subscriptions.widget
  .right_side
    #overlay
    #sub_graph

  .left_side
    .line
    .stats
      %hr
      %ul
        %li
          %span
            .icon.red_icon.fl
            %h5
              #{_("Invalid Subscriptions")}
          .sub_count.fr
            #{owner_info.total_invalid_compliance_consumers}
        %li
          %span
            .icon.yellow_icon.fl
            %h5
              #{_("Insufficient Subscriptions")}
          .sub_count.fr
            #{owner_info.total_partial_compliance_consumers}
        %li
          %span
            .icon.green_icon.fl
            %h5
              #{_("Current Subscriptions")}
          .sub_count.fr
            #{owner_info.total_valid_compliance_consumers}
      %hr
        .sys_count.fr
          #{owner_info.total_consumers}

        %h4.fr
          #{_("Total Systems")}
