#dashboard_system_groups.big_widget{"data-quantity"=>quantity}
  - if system_groups_list.empty?
    =_("No system groups found." )

  - else
    .list
      .block_head.clear
        .column_head.col_1
          #{_("Updates")}
        .column_head.col_2
          #{_("Name")}
        .column_head.col_3
          #{_('Systems')}

      .scroll-pane
        - current = 0
        - critical, warning, ok = system_groups_list

        - for group in critical
          - current += 1
          - break if current > quantity
          = render :partial => "system_group_item", :locals => {:group => group, :updates => :critical}

        - for group in warning
          - current += 1
          - break if current > quantity
          = render :partial => "system_group_item", :locals => {:group => group, :updates => :warning}

        - for group in ok
          - current += 1
          - break if current > quantity
          = render :partial => "system_group_item", :locals => {:group => group, :updates => :ok}

