.grid_16
  %h2 #{_("Welcome back, %{u}\n" % {:u => current_user.username}) }
.grid_9
  .dashboard
    .dashhead
      %h2 #{_("Subscriptions")}
    %br.clearfloat
  .dashboard
    .dashhead
      %h2  #{_("Available Errata")}
    %br.clearfloat
.grid_7
  .dashboard
    %h2  #{_("Latest Notifications")}
  .dashboard
    %h2  #{_("Promotions Overview")}
  .dashboard
    %h2  #{_("Sync Overview")}