
=javascript :scroll_pane, :dashboard


.sixty
  - if current_organization && current_organization.readable?
    = dashboard_entry(_("System Subscription Status"), "subscriptions", false)
  - if AppConfig.katello? && current_organization && Repository.any_readable_in_org?(current_organization, true)
    = dashboard_ajax_entry(_("Available Errata"), "errata", errata_dashboard_index_path(), "big_widget", true)
  -#= dashboard_ajax_entry(_("System Overview"), "systems", systems_dashboard_index_path(), "big_widget", true)
  - if AppConfig.katello? && current_organization && SystemGroup.any_readable?(current_organization)
    = dashboard_ajax_entry(_("System Group Overview"), "system_groups", system_groups_dashboard_index_path(), "big_widget", true)

.forty
  - widget_class = AppConfig.katello? ? "small_widget" : "small_widget_headpin"
  = dashboard_ajax_entry(_("Latest Notifications"), "notices", notices_dashboard_index_path(), widget_class, true)
  - if AppConfig.katello?
    - if current_organization && KTEnvironment.any_viewable_for_promotions?(current_organization)
      = dashboard_ajax_entry(_("Promotions Overview"), "promotions", promotions_dashboard_index_path(), "small_widget", true)
    - if current_organization && current_organization.syncable?
      = dashboard_ajax_entry(_("Sync Overview"), "sync", sync_dashboard_index_path(), "small_widget", true)

.dashboard_popout.hidden
  .popout_row.popout
    %label.popout #{_("Display")}
    %select.num_of_results.popout
      - ['5', '15', '30'].each do |i|
        %option.popout{:value => i} #{i} results
  -#.popout_row.popout
  -#  %label.popout Over
  -#  %select.num_of_hours.popout
  -#    - [60.minutes, 24.hours, 48.hours, 168.hours].each do |i|
  -#      %option.popout{:value => i} #{distance_of_time_in_words(i)}
