.grid_16
  %h2 #{_("Welcome back, %{u}\n" % {:u => current_user.username}) }
.grid_9
  .dashboard
    .dashhead
      %h2.fl #{_("Subscriptions")}
      .dropbutton.button.fr *
    .fl.clear
      Subscriptions data goes here.
    %br.clearfloat
  .dashboard
    .dashhead
      %h2.fl  #{_("Available Errata")}
      .dropbutton.button.fr *
    .fl.clear
      Available Errata data goes here.
    %br.clearfloat
.grid_7
  .dashboard
    .dashhead
      %h2.fl  #{_("Latest Notifications")}
      .dropbutton.button.fr *
    .fl.clear
      Latest Notifications data goes here.
    %br.clearfloat
  .dashboard
    .dashhead
      %h2.fl  #{_("Promotions Overview")}
      .dropbutton.button.fr *
    .fl.clear
      Promotions Overview data goes here.
    %br.clearfloat
  .dashboard
    .dashhead
      %h2.fl  #{_("Sync Overview")}
      .dropbutton.button.fr *
    .fl.clear
      Sync Overview data goes here.
    %br.clearfloat