= javascript do
  :plain
    KT.content_view_definition.set_view_repos($.parseJSON('#{escape_javascript(view_repos(view_definitions).to_json)}'));

= content_for :title do
  #{_("New View Definition")}

= content_for :content do
  .clear
    &nbsp;
  #content_view_definition_create
    = kt_form_for Katello::ContentViewDefinition.new do |form|

      = form.text_field :name, :label => _("Name"), :class => :name_input

      = form.field :label, :label => _("Label") do
        = text_field_tag('katello_content_view_definition[label]', nil,
                         :tabindex => form.tabindex, :size => 30, :class => :label_input,
                         'data-url' => default_label_katello_content_view_definitions_path)
        = image_tag "icons/spinner.gif", :class => 'label_spinner hidden'

      = form.text_area :description, :size => "40x5", :label => _("Description"), :maxlength => default_description_limit

      = form.field :composite, :label => _("Composite?") do
        = check_box_tag 'katello_content_view_definition[composite]', "1", false, :tabindex => form.tabindex

      #select_views.hidden
        %label
          = _('Choose Existing Views')
        = render :partial => "view_definitions", :locals => {:form => form,
                                                             :view_definitions => view_definitions,
                                                             :views => nil}

      = form.submit _("Create"), :disable_with => _("Creating..."), :class => 'create_button'

= render :template => "katello/layouts/tupane_layout"
