= content_for :title do
  #{_("Publish View Definition")}


= content_for :subcontent_noscroll do
  = kt_form_for Katello::ContentView.new, :remote => true, :html => {:id => 'publish_form'} do |form|

    = form.text_field :name, :label => _("Name"), :class => :name_input

    = form.field :label, :label => _('Label') do
      = text_field_tag 'content_view[label]', nil, :tabindex => form.tabindex, :size => 30, :class => :label_input, 'data-url' => default_label_content_view_definitions_path
      = image_tag 'katello/icons/spinner.gif', :class => 'label_spinner hidden'

    = form.text_area :description, :size => "40x5", :label => _('Description'), :maxlength => default_description_limit

    %input#publish_button.button{ :type => 'button', :value => _("Publish"),
                                  'data-url' => publish_content_view_definition_path(@view_definition.id),
                                  'data-url-after' => views_content_view_definition_path(@view_definition.id) }

= render :template => "katello/layouts/tupane_layout"
