= javascript 'katello/widgets/subpanel_new'

= content_for :title do
  #{_("Publish View Definition")}

= content_for :subcontent do

  = kt_form_for Katello::ContentView.new, :url => publish_katello_content_view_definition_path(@view_definition.id), :remote => true, :html => {:id => 'new_subpanel'} do |form|

    = form.text_field :name, :label => _("Name"), :class => :name_input

    = form.field :label, :label => _('Label') do
      = text_field_tag 'content_view[label]', nil, :tabindex => form.tabindex, :size => 30, :class => :label_input, 'data-url' => default_label_katello_content_view_definitions_path
      = image_tag 'icons/spinner.gif', :class => 'label_spinner hidden'

    = form.text_area :description, :size => "40x5", :label => _('Description'), :maxlength => default_description_limit

    = form.submit _('Publish'), :disable_with => _('Publishing...'), :class => 'publish_button subpanel_create'

= render :template => "katello/layouts/tupane_layout"
