= javascript :password

= javascript do
  :plain
    //what button should be disabled when passwords don't match

    localize({
      "password_match": '#{escape_javascript(_("The passwords do not match"))}',
      "very_weak": '#{escape_javascript(_("Very Weak"))}',
      "weak": '#{escape_javascript(_("Weak"))}',
      "good": '#{escape_javascript(_("Good"))}',
      "strong": '#{escape_javascript(_("Strong"))}',
      "meterText": '#{escape_javascript(_("Password Strength"))}',
      "usernameMatch": '#{escape_javascript(_("The password should not contain the username."))}'
    });

.modalbox
  %h2 #{_('Change Password')}

  %fieldset.fl.clear
    .grid_3.ra
      = label :user, :password, _("Password:")
    .grid_5.la
      = text_field :user, :password, :id=>"password_field", :value=>"", :type=>"password"

  %fieldset.fl.clear
    .grid_3.ra
      = label :user, :username, _("Confirm Password:")
    .grid_5.la
      = text_field :user, :username, :id=>"confirm_field", :value=>"", :type=>"password"
  .grid_5.la.prefix_2
    #password_conflict

  .grid_5.la.prefix_3
    #save_password.verify_password.button{'data-url'=>password_reset_path(@user.password_reset_token)}
      #{_("Save")}
  .grid_5.la.prefix_3
    #password_conflict
