= javascript :edit_helpers

%div
  %strong #{_("Filter Errata by")}

  = radio_button_tag("errata", "date_type", rule.parameters.include?(:units) ? false : true,
                     {:class => :filter_method, :tabindex => auto_tab_index,
                      'data-url' => edit_date_type_parameters_content_view_definition_filter_rule_path(view_definition.id, filter.id, rule.id)})
  = label_tag(_('Date and Type'))

  = radio_button_tag("errata", "specify", rule.parameters.include?(:units) ? true : false,
                     {:class => :filter_method, :tabindex => auto_tab_index,
                      'data-url' => edit_parameter_list_content_view_definition_filter_rule_path(view_definition.id, filter.id, rule.id)})
  = label_tag(_('Errata ID'))

.rule_parameters
  - if rule.parameters.include?(:units)
    = render :partial => "content_view_definitions/filters/rules/parameter_list",
             :locals => {:view_definition => view_definition, :filter => filter,
                         :rule => rule, :rule_type => rule_type,
                         :editable => editable, :item_partial => item_partial}
  - else
    = render :partial => "content_view_definitions/filters/rules/edit_errata_parameters",
             :locals => {:view_definition => view_definition, :filter => filter,
                         :rule => rule, :rule_type => rule_type,
                         :editable => editable}