= javascript :subpanel_new

= content_for :title do
  #{_("New Rule")}

= content_for :subcontent do

  #rule_create

    = kt_form_for([view_definition, FilterRule.new], :remote => true, :html => {:id => "new_subpanel"}) do |form|

      = form.select :content_type, options_for_select(FilterRule::CONTENT_OPTIONS.sort.reverse, FilterRule::PACKAGE), {},
        {:label => _("Filter on"), :size=>1, :tabindex => form.tabindex}

      = form.submit _("Create"), :disable_with => _("Creating..."),
        :class => 'create_button subpanel_create',
        'data-url_after_submit' => edit_content_view_definition_filter_path(view_definition.id, filter.id)

= render :template => "layouts/tupane_layout"
