= javascript :activation_key_subscriptions, :edit_helpers

= content_for :title do
  #{_("Activation Key")}

= content_for :remove_item do
  %a.remove_item.remove_key{"data-id"=>@activation_key.id ,"data-url"=>activation_key_path(@activation_key.id), "data-confirm-text"=>_('Are you sure?')}
    = _("Remove Activation Key")

= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)

= content_for :content do
  #applied_subscriptions
