= javascript :edit_helpers

= content_for :title do
  = _("Product: ") + @product.name

= content_for :remove_item do
  -if editable
    = link_to _("Remove Repository"), {:controller=>"repositories", :action=>"destroy"}, :confirm => _('Are you sure you want to remove this repository?'), :method => :delete, :class=>"remove_item", :remote=>true


= content_for :subcontent do
  %h3
    = _("Edit Repository")
  
  %fieldset
    .grid_2.ra
      %label #{_("Name")}:
    .grid_5.la#repo_name{'name' => 'repo[name]', 'data-url' => provider_path(@provider.id), :class=>("editable edit_providername" if editable)} #{@repository[:name]}
  
  %fieldset
    .grid_2.ra
      %label #{_("URL")}:
    .grid_5.la{'name' => 'repo[feed]', 'data-url' => provider_path(@provider.id), :class=>("editable edit_textarea" if editable)} #{@repository[:source][:url]}
  
  %fieldset
    .grid_2.ra
      %label #{_("Type")}:
    .grid_5.la #{@provider[:provider_type]}