<h4><%=_("Katello Support")%></h4>
<h5><%= _("IRC") %></h5>
<p><%= _("Katello can be found on the same freenode channels used by Foreman.") %></p>
<h5><%= _("Mailing lists") %></h5>
<p><%= _("Katello uses the same mailing lists as Foreman but requests that Katello specific inquiries begin the subject line with [Katello].") %></p>
<h5><%= _("Issue tracker") %></h5>
<p><%= _("Katello uses the Foreman Redmine to report and track bugs and feature requests, which can be found here:") %> <%= link_to _("issue tracker"), "http://projects.theforeman.org/projects/katello/issues", :rel => "external" %></p>
