- if editable
  .grid_11
    %input.button.subpanel_element.fr{:type => "button", :value => _("Add New Rule"),
                                      "data-url" => new_katello_content_view_definition_filter_rule_path(view_definition.id, filter.id)}

.grid_11
  = kt_form_for(view_definition,
                :url => destroy_rules_katello_content_view_definition_filter_rules_path(view_definition.id, filter.id),
                :html => {:id => "rules_form"}) do |form|

    %table
      %thead
        %tr
          %th #{_("Summary")}

      %tbody
        %tr#empty_row{:class => (:hidden if !filter.rules.empty?)}
          %td
            = _("This filter does not currently have any rules defined.")

        - filter.rules.each do |rule|
          %tr
            %td.one-line-ellipsis
              - if editable
                .panel_link
                  = check_box_tag "filter_rules[#{rule.id}]", Katello::FilterRule::CONTENT_OPTIONS.key(rule.content_type),
                    false, {'data-id' => rule.id}
                  = filter_rule_url(rule)
              - else
                = Katello::FilterRule::CONTENT_OPTIONS.key(rule.content_type)

    - if editable
      %input.button.fr.disabled{:type => "button", :id => "remove_button", :value => _("Remove")}
