= content_for(:title) do
  = project_name
  = "-"
  = default_title

= content_for(:stylesheets_block) do
  = stylesheet_link_tag 'katello/katello'
  = stylesheet_link_tag 'katello/katello_experimental'
  = stylesheet_link_tag controller.section_id
  = yield :stylesheets

= content_for(:head) do
  = csrf_meta_tag
  / [if lt IE 9]
    = javascript_include_tag  :html5
  / [if IE]
    = stylesheet_link_tag :ie, :embed_assets => false

= content_for(:body) do
  %article{ 'ng-app' => 'Katello' }
    = render :file => "katello/common/menu"
    -#%section.subnav-container
      .center
        %nav.subnav#subnav
          = render_main_sub_menu
    %section.maincontent
      = yield

= content_for(:javascripts_block) do
  = javascript_include_tag "katello/common/vendor"
  %script{ :type => "text/javascript" }
    - if defined?(experimental_ui)
      :plain
        $.bbq = undefined;
  = javascript_include_tag 'katello/common'
  = javascript_include_tag 'katello/common/experimental'
  %script{ :type => "text/javascript" }
    -if protect_against_forgery?
      :plain
        var AUTH_TOKEN = #{form_authenticity_token.inspect};
    = render :partial => "katello/common/common_i18n"
    = render :partial => 'katello/common/config_experimental'
    = render :partial => 'katello/common/ajax_notices'
    = render :partial => 'katello/common/notification'
    = yield :inline_javascript

  = yield :javascripts

= render :file => 'alchemy/layouts/base'
