= javascript do
  -if editable
    :plain
      $(document).ready(function() {
        KT.system.errata.init(true, 'system_group');
      });
  -else
    :plain
      $(document).ready(function() {
        KT.system.errata.init(false, 'system_group');
      });

= content_for :title do
  #{@group.name}

= content_for :remove_item do
  - if @group.deletable?
    = link_to _("Remove System Group"), {:action => "destroy", :controller => "system_groups", :id => @group.id}, :method => :delete, :confirm => _('Are you sure you want to delete this group?'), :class => "remove_item", :remote=>true

= content_for :navigation do
  = render_menu(1..2, system_groups_navigation)

= content_for :header do
  #errata_header.clear
    %h5.fl
      #{_("Display")}
    %span
      = select_tag "display_errata_type", '<option value="All">All Errata</option><option>Bug</option><option>Enhancement</option><option>Security</option>'.html_safe
    -#
      %span
        = radio_button_tag "errata_state_radio", "outstanding", true
        %label
          #{_("Outstanding")}
      %span
        = radio_button_tag "errata_state_radio", "applied"
        %label
          #{_("Applied")}

= content_for :content do
  #errata_container{ "data-parent_id" => @group.id }
    %table.filter_table.ajaxScroll
      %thead
        - if editable
          %th
            -# = check_box_tag "select_all_errata", "select_all_errata"
        %th
          #{_("TYPE")}
        %th
          #{_("ERRATA")}
        %th
          #{_("TITLE")}
        %th
          #{_("DETAILS")}
        %th
          #{_("SYSTEMS")}
      %tbody
        -#= render :partial => "system_groups/errata/items", :locals => { :errata => errata, :editable => editable }
    #list-spinner
      = image_tag("embed/icons/spinner.gif", :class=>"ajax_scroll")

= content_for :footer do
  %a#load_more_errata{"data-scroll_url"=>url_for(system_group_errata_path(@group.id)), "data-page_size"=>current_user.page_size, "data-offset"=>offset, :class=>"fl", "style" => "display:none"} #{_("Load %{n} More" % {:n => offset})}
  %span.fl{:id => 'loaded_summary', :style => 'margin-left: 20px;', 'data-total' => 0, "data-current_count" => 0 }
    #{_("Viewing %{n} of %{t} results (%{t} Total Errata)" % {:n => 0, :t => 0 })}

  - if editable
    %span.fr
      %button.button.disabled{:id => 'run_errata_button', 'data-url' => system_group_errata_path(@group.id) }
        #{_('Install')}

