= render :partial => "common/common_products", :locals => {:record => view_definition}

= render :partial => "content_view_definitions/tupane_header"

= content_for :content do
  #package_filter
    %table
      %thead
        %tr
          %th
            #{_("Product")}
      -if editable
        %tr
          %td
            %form{:id=>'add_product_form'}
              %div
                #{'Add Products and Repositories:'}
              #select_container{}
                %select{:id=>'product_select', :style=>'width:400px;', 'data-placeholder'=>_("Choose a product..")}
                .centered
                  %a{:id=>'add_product'}
                    #{_('+ Add')}

      %tr
        %td.no_padding
          %table#product_list


    %input.fr.button{:id=>'revert_products', :type=>'button', :value=>_("Revert")}
    %input.fr.button{:id=>'update_products', :type=>'button', :value=>_("Save"),
                     'data-url'=>update_content_content_view_definition_path(view_definition.id) }

