-# Partial for the 'Content' pane of a 'single' content view definitio
- save_url = update_content_content_view_definition_path(view_definition.id)

= render :partial => "content_view_definitions/tupane_header"

= content_for :content do
  = render "common/common_product_repo_selector",
           :editable => editable,
           :record => view_definition,
           :readable_products => Product.readable(current_organization),
           :editable_products => Product.editable(current_organization),
           :content_types => Repository::TYPES - [Repository::PUPPET_TYPE],
           :save_url => update_content_content_view_definition_path(view_definition.id),
           :title => "Yum Products and Repositories"

  = render "common/repo_selector", :title => "Puppet Repository", :editable => editable,
    :save_url => save_url, :field => :puppet_repository_id, :record => view_definition,
    :repositories => Repository.in_default_view.puppet_type.readable(current_organization.library)

= render :template => "layouts/tupane_layout"
