.grid_16#main
  = two_panel(@view_definitions, @panel_options)

= javascript :content_view_definitions

= javascript do
  :plain
    localize({
      "repos_in_common" : "#{escape_javascript(_('This content view has one or more repositories in common with a view that is currently selected.'))}",
      "view_conflicts" : function(x){ return '#{escape_javascript(_("ERROR: This content view has one or more repositories in common with the following views: %X.<br/>Please unselect views that should no longer be included in this definition."))}'.replace("%X", x);},
      "environments" : function(e){ return '#{escape_javascript(_("Environment(s): %E"))}'.replace("%E", e); }
    });
