//Promotion change set pane


- if @changeset
  #changeset{"data-id"=>@changeset.id, "data-timestamp"=>@changeset.updated_at.to_i}
    #changeset-items.shadowbox
      #changeset-items-product
        - @changeset.products.sort{|a,b| a.name <=> b.name}.each do |product|
          %a.changeset_remove.changeset_remove_product{"data-id" => product.id, "data-type"=>"product", "data-display_name"=>product.name}
            = product.name
      #changeset-items-errata
        - @changeset.errata.each do |errata|
          %a.changeset_remove.changeset_remove_errata{"data-id" => errata.errata_id, "data-display_name"=>errata.display_name, "data-type"=>"errata" }
            = errata.display_name
      #changeset-items-package
        - @changeset.packages.each do |package|
          %a.changeset_remove.changeset_remove_package{"data-id" => package.package_id, "data-display_name"=>package.display_name, "data-type"=>"package"}
            = package.display_name
      #changeset-items-repo
        - @changeset.repos.each do |repo|
          %a.changeset_remove.changeset_remove_repo{"data-id" => repo.repo_id, "data-display_name"=>repo.display_name, "data-type"=>"repo"}
            = repo.display_name
      %br.clear

    .clear
      &nbsp;

    .grid_7
      %h3
        = _("Changeset Summary")


    .grid_2.ra.changeset_product
      =  _("Products") + ":"
    .grid_5.la
      = @changeset.products.size

    .grid_2.ra.changeset_errata
      = _("Errata") + ":"
    .grid_5.la
      = @changeset.errata.size


    .grid_2.ra.changeset_package
      = _("Packages") + ":"
    .grid_5.la
      = @changeset.packages.size

    .grid_2.ra.changeset_repo
      = _("Repositories") + ":"
    .grid_5.la
      = @changeset.repos.size

    .clear
      &nbsp;

    #depend_list.details{"data-url"=>dependency_list_changeset_path(@changeset.id)}
      .grid_2.suffix_5.ra
        = _("Dependencies") + ":"
      .grid_2.ra.changeset_package
        = _("Packages") + ":"
      #depend_size.grid_5{"data-url"=>dependency_size_changeset_path(@changeset.id)}
        = image_tag("/images/spinner.gif")

    - if @environment.successor
      = form_tag "#{promote_changeset_path(@changeset.id)}", :method =>"post" do |f|
        = submit_tag "#{_("Promote to")} #{@environment.name}", :class => "submit dialogbutton", :style=>"float:right;"
