//Edit/view page as seen on the 2 pane changeset history list
= javascript :changeset_edit


= content_for :title do
  = _("Details")

= content_for :content do
  .grid_10
    #changeset.fieldset{'data-ajax_url'=>changeset_path(@changeset.id)}
      .grid_2.ra
        %label #{_("Name:")}
      .grid_7.la.editable.edit_textfield{:name=>"name", "data-id"=>@changeset.id,"data-url"=>changeset_path(@changeset.id)} #{@changeset.name}

    #changeset.fieldset{'data-ajax_url'=>changeset_path(@changeset.id)}
      .grid_2.ra
        %label #{_("Description:")}
      .grid_7.la.editable.edit_description{:name=>"description", "data-id"=>@changeset.id,"data-url"=>changeset_path(@changeset.id)} #{@changeset.description}

    .fieldset
      .grid_2.ra
        %label #{_("Promotion Date:")}
      .grid_7.la
        = I18n.l(@changeset.promotion_date, :format=>:long)

    .grid_10
      %h2 #{_("Contents:")}
      -if @changeset.involved_products.empty?
        .grid_7.prefix_1
          #{_("This changeset contains no content.")}
      -else
        #accordion.grid_8.prefix_1{:style=>"min-height: 200px"}
          - if !@changeset.products.empty?
            %h3
              %a{:href=>'#'} #{_("Full Products")}
            #full_products
              %ul
                -for prod in @changeset.products
                  %li #{prod.name}
          - for prod in @changeset.partial_products
            %h3
              %a{:href=>'#'} #{_(prod.name)}
            = render :partial=>"content_type", :locals=>{:items=>@changeset.packages.where(:product_id=>prod.id).collect{|i| i.display_name},
                                                          :type_string=>_("Packages")}
            = render :partial=>"content_type", :locals=>{:items=>@changeset.errata.where(:product_id=>prod.id).collect{|i| i.display_name},
                                                          :type_string=>_("Errata")}
            = render :partial=>"content_type", :locals=>{:items=>@changeset.repos.where(:product_id=>prod.id).collect{|i| i.display_name},
                                                          :type_string=>_("Repositories")}


