= javascript :edit_helpers

= render :partial => "edit_header"

= content_for :content do
  .grid_10
    .grid_2.ra
      %label #{_("Template Combinations:")}:
    - if @configuration_template.nil?
      .grid_5.la
        #{_("No Template Combinations are currently defined")}:
    - else
      - [1, 2, 3].each do |tc|
        %div.grid_5.la
          #{tc}
          link_to _("Delete")

    = form_for @configuration_template, :as=>"configuration_template", :url=> "", :html=>{:method => :post, :data_url => associations_configuration_template_path(@configuration_template), :id=>"add_association_config_template" } do |form|
      %fieldset
        .grid_2.ra
          %label #{_("Available Environments:")}:
        .grid_5.la
          = select_tag 'configuration_template[template_combinations][environment_id]', options_for_select([['dev', 1], ['test', 2]]), :include_blank => true

      = form.submit _("Add Environment"), :id => :add_association_configuration_template

      %div{ :style => "min-height: 100px;" }
