.tree
  %table#redhatSubscriptionTable
    %thead
      %th= _("Name")
      %th= _("Consumed")
      %th= _('Contract')
      %th= _('Support Level')
      %th= _('Arch')
      %th= _('Start Date')
      %th= _('End Date')
    %tbody
      - if @grouped_subscriptions.length > 0
        - @grouped_subscriptions.each do |sub|
          - cycle_class = cycle("ra", "ra.alt")
          %tr{:id => "#{sub.cp_id}", :class => "#{cycle_class}"}
            %td= sub.product_name
            %td
              - if sub.quantity < 0
                = _('Unlimited')
              -else
                = "#{sub.consumed} of #{sub.quantity}"
            %td= sub.contract_number
            %td= sub.support_level || ""
            %td= sub.arch || ""
            %td=l sub.start_date
            %td=l sub.end_date
      - else
        %tr
          %td{:colspan=>8} #{_("No subscriptions have been imported.")}
