= content_for :title do
  #{_("New Filter")}

= content_for :subcontent do

  #filter_create

    = kt_form_for([view_definition, Filter.new], :remote => true, :html => {:id => "filter_form"}) do |form|

      = form.text_field :name, :label => _("Name"), :class => :name_input

      = form.submit _("Create"), :disable_with => _("Creating..."), :class => 'create_button'

= render :template => "layouts/tupane_layout"
