#dashboard_content_views.widget.scroll-pane{"data-quantity"=>quantity}
  - if (view_histories = content_view_histories).empty?
    #{_("No content view history events found.")}

  -else
    %ul
      - view_histories.each do |history|
        %li
          .row_item
            .col_1.one-line-ellipsis{:title => content_view_version_message(history.content_view_version)}
              %h5
                #{content_view_history_view_info(history)}
            .col_2
              #{content_view_history_action(history)}
            .col_3
              .fl{:class=>content_view_history_class(history)}
              #{content_view_message(history)}

            .col_1
            .col_2
            .col_3
              #{format_time history.updated_at}