#dashboard_errata.widget{"data-quantity"=>quantity, "data-id"=>"errata"}
  - if errata.empty?
    %p #{_("There are no errata that need to be applied to registered content hosts.")}
  - else
    .list
      .block_head.clear
        .column_head.col_1
          #{_("Type")}
        .column_head.col_2
          #{_("Errata")}
      .scroll-pane
        - errata.each do |erratum|
          - content_hosts = erratum.systems_applicable.in_organization(current_organization).readable
          - if !content_hosts.empty?
            .errata
              %div.errata_item
                .col_1
                  %div{:class => errata_type_class(erratum),
                       :title => errata_human_type(erratum.errata_type)}
                %a{:href=>"/errata/#{erratum.uuid}/info", :class=>"col_2"}
                  #{erratum.errata_id} (#{content_hosts.length} #{_('Content Hosts')})
