- owner_info = current_organization.owner_info

= javascript do
  :plain
    KT.subscription_data = [{data:#{escape_javascript(owner_info.total_invalid_compliance_consumers.to_s)}, color:"#e13831"},  //red     invalid
                            {data:#{escape_javascript(owner_info.total_partial_compliance_consumers.to_s)}, color:"#f0e960"},  //yellow  partial
                            {data:#{escape_javascript(owner_info.total_valid_compliance_consumers + owner_info.total_partial_compliance_consumers + owner_info.total_invalid_compliance_consumers == 0 ? "100" : owner_info.total_valid_compliance_consumers.to_s)}, color:"#9ccc50"}]; //green   valid

#dashboard_subscriptions.widget
  .right_side.visible-sm.visible-lg
    #overlay
    #sub_graph

  .left_side
    .line
    .stats
      %hr
      %ul
        %li
          %span
            .icon.red_icon.fl
            %h5
              #{content_hosts_search_status_link(_("Invalid Subscriptions"), "red")}
          .sub_count.fr
            #{owner_info.total_invalid_compliance_consumers}
        %li
          %span
            .icon.yellow_icon.fl
            %h5
              #{content_hosts_search_status_link(_("Insufficient Subscriptions"), "yellow")}
          .sub_count.fr
            #{owner_info.total_partial_compliance_consumers}
        %li
          %span
            .icon.green_icon.fl
            %h5
              #{content_hosts_search_status_link(_("Current Subscriptions"), "green")}
          .sub_count.fr
            #{owner_info.total_valid_compliance_consumers}
      %hr
      %ul
        %li
          %span.h4
            #{link_to(_("Total Content Hosts"), "/content_hosts")}
          .sys_count.fr
            #{owner_info.total_consumers}

