.system_groups

  .col_1
    - if updates == :critical
      %a{:href => "/system-groups/#{group.id}/actions", :title => "#{_('Critical')}"}
        .status_icon.red
    - elsif updates == :warning
      %a{:href => "/system-groups/#{group.id}/actions", :title => "#{_('Warning')}"}
        .status_icon.yellow
    - else
      %a{:href => "/system-groups/#{group.id}/actions", :title => "#{_('Up to date')}"}
        .status_icon.green

  .col_2.one-line-ellipsis
    = link_to(group.name, "/system-groups/#{group.id}/info")

  .col_3.one-line-ellipsis
    = link_to(group.systems.length, "/system-groups/#{group.id}/systems")

