= javascript "katello/dashboard"

.col-md-12
  .alert.alert-info 
    = _('Your dashboard can be rearranged by clicking on a widget\'s title and dragging the widget ' + |
      'to another position.') |

.row
  = render_dashboard

.dashboard_popout.hidden
  .popout_row.popout
    %label.popout #{_("Display")}
    %select.num_of_results.popout
      - ['5', '15', '30'].each do |i|
        %option.popout{:value => i} #{i} results

