= javascript :login

.modalbox
  %h2 #{_('Log In')}
  .katello_form
    = form_tag user_session_path, :id=>:login_form, :method => "post" do
      %fieldset
        = label_tag :username, _('Username')
        = text_field_tag :username, params[:username]
      %fieldset
        = label_tag :password, _('Password')
        = password_field_tag :password, params[:password]
      %div.indented
        = check_box_tag :remember_me
        = label_tag :remember_me, _('Remember me')
      - if !@ldap
        %div.indented
          = link_to _("Forgotten username or password?"), new_password_reset_path
      = submit_tag _('Log In'), :class => 'submit dialogbutton'
