= javascript :filtertable

= content_for :title do
  #{@errata.title}

= content_for :navigation do
  = render_navigation(:items => promotion_errata_navigation, :expand_all => true, :level => 1)

= content_for :content do
  - if @errata.pkglist.length > 0 and @errata.pkglist[0][:packages].length > 0
    = render :partial => "common/filter_table"
    %table.filter_table.errata.ajaxScroll
      %thead
        %th
          #{_("Package")}
      %tbody
        -@errata.pkglist[0][:packages].each do |pkg|
          %tr
            %td
              - if pkg[:epoch] == "0"
                = pkg[:name] + "-" + pkg[:version] + '-' + pkg[:release] + "." + pkg[:arch]
              - else
                = pkg[:name] + "-" + pkg[:epoch] + ":" + pkg[:version] + '-' + pkg[:release] + "." + pkg[:arch]

  - else
    %p #{_("There are no packages to display.")}