= javascript :content

= javascript do
  :plain
    localize({
      "cancel": '#{escape_javascript(_('Cancel'))}',
      "cancelled": '#{escape_javascript(_("Sync Cancelled"))}',
      "error": '#{escape_javascript(_('Error'))}',
      "complete": '#{escape_javascript(_('Sync complete.'))}'
    });

    KT.repo_status = $.parseJSON('#{escape_javascript(status_obj.to_json)}');
    KT.permissions = { "syncable" : #{syncable?} };


.grid_4
  %h2 #{_("Sync Status") }
.grid_12#list_actions
  - if @products.length > 0
    .grid_2
      %a#collapse_all.fl
        #{_("Collapse All")}
    .grid_2
      %a#expand_all.fl
        #{_("Expand All")}
    -if syncable?
      .grid_2
        %a#select_none.fl
          #{_("Select None")}
    -if syncable?
      .grid_2
        %a#select_all.fl
          #{_("Select All")}
  #sync_toggle_cont.grid_3
    %input#sync_toggle{:type=>'checkbox'}
    %label{:for=>"sync_toggle"}
      #{_('Only show syncing.')}
#main.grid_16
  = form_tag("sync", :method => :post, :remote => true, :id => 'sync_product_form') do
    = hidden_field_tag 'sync_status_url', nil, 'data-url' => sync_management_sync_status_path
    %table#products_table
      %thead
        %th #{_("Product")}
        %th.max_width #{_("Start Time")}
        %th.max_width  #{_("Duration")}
        %th #{_("Size (Packages)")}
        %th #{_("Result")}
      %tbody
        - if @products.length > 0
          = render :partial=>"product", :collection=>@product_map, :as=>:prod
        - else
          %tr
            %td{:colspan=>5}
              #{_("There are no custom products or repositories enabled. Try enabling via Content Providers.")}

    - if syncable?
      = submit_tag _('Synchronize Now'), :class => 'button fr', :id => 'sync_button'
