= javascript do
  :plain
    KT.available_environments = $.parseJSON('#{escape_javascript(environments.to_json)}');
    localize({
        "contentViewReset": 'The selected content view was unset. Please choose another one.'
    });

= javascript 'widgets/jquery.jeditable.helpers', 'distributors/distributor_edit'
= render :partial => "distributor_tupane_header_nav"

= content_for :content do
  #distributor
    %form.form
      %input#panel_element_id{:name => @distributor.id, :type => "hidden", :value => "#{name}_#{distributor.id.to_s}", "data-ajax_url"=>url_for(:action=> 'update')}

        %h5 #{_("Distributor Info")}
        .control-group
          .label
            = label :uuid, :uuid, _("UUID")
          .input
            .value
              #{distributor.uuid}

        %h5 #{_("Distributor Properties")}
        .control-group
          .label
            = label :distributor, :name, _("Name")
          .input
            .value
              #distributor_name{'name' => 'distributor[name]', :class=>("editable edit_panel_element" if editable), 'data-url'=>distributor_path(distributor.id)} #{distributor[:name]}
        .control-group
          .label
            = label :distributor, :description, _("Description")
          .input
            .value
              #distributor_description{'name' => 'distributor[description]', :class=>("editable edit_textarea" if editable), 'data-maxlength' => default_description_limit, 'data-url'=>distributor_path(distributor.id)} #{distributor[:description]}
        .control-group
          .label
            = label :env, :env, _("Environment")
          .input
            %span.value#environment_path_selector{'name'=> 'distributor[environment_id]', :class=>("editable" if editable && Katello.config.katello?), 'data-url'=>distributor_path(distributor.id)}
              #{distributor_environment_name distributor}
        - if Katello.config.katello?
          .control_group
            .label
              = label :content_view, :content_view, _("Content View")
            .input
              %span.value{'name' => 'distributor[content_view_id]', :class=>("editable edit_select" if editable), 'data-url'=>distributor_path(distributor.id), 'data-options' => distributor_content_view_opts(distributor)}
                = distributor.content_view

        %h5 #{_("Distributor Events")}
        .control-group
          .label
            = label :checked_in, :checked_in, _("Checked In")
          .input
            .value
              = get_checkin(distributor)
        .control-group
          .label
            = label :registered_date, :registered_date, _("Registered")
          .input
            .value
              = convert_time(distributor.created)

= render :template => "layouts/tupane_layout"
