= javascript do
  /translations needed for jeditable
  :plain
    localize({
      "cancel": '#{escape_javascript(_("Cancel"))}',
      "upload": '#{escape_javascript(_("Upload"))}',
      "uploading": '#{escape_javascript(_("Uploading"))}',
      "clickToEdit": '#{escape_javascript(_("Click to edit"))}',
      "save": '#{escape_javascript(_("Save"))}',
      "saving": '#{escape_javascript(_("Saving..."))}',
      "close": '#{escape_javascript(_("Close"))}'
    });
