= javascript do
  :javascript
    var roles_breadcrumb = $.parseJSON('#{escape_javascript(generate_roles_breadcrumb())}');
    localize({
      "remove"        : '#{_('Remove')}',
      "add"           : '+ #{_('Add')}',
      "loading"       : "#{_('Loading Role')}",
      "rolesStatus"   : "#{_('Please select Organizations to view and add permissions for this role or Users to see current users with this role.')}",
      "edit_role_details"  : '#{_("Edit Role Details")}',
      'close_role_details' : '#{_("Close Role Details")}',
    });

= javascript :role_edit


-#= content_for :title do
  -#{@role.name}

-#= content_for :remove_item do
  -#= link_to _("Remove Role"), {:action => "destroy", :controller => "roles"}, :method => :delete, :confirm => _('Are you sure?'), :class => "remove_item", :remote=>true

-#= content_for :content do
#role
  #roles_tree.sliding_tree
    .breadcrumb_search.clear.clickable
      = link_to _("Remove Role"), {:action => "destroy", :controller => "roles"}, :method => :delete, :confirm => _('Are you sure?'), :class => "remove_item", :remote=>true
      %a.close{:href => "#", "data-close"=>"panel"} #{_("Close")}
      %form#search_form.search.clear
        %input{ :name => "s", :type => "search", :placeholder => "Filter...", :id=>"search_filter"}
        %button.action #{_("Search")}
        %br.clear

      .search_button.fr.clickable
        #{_('Search')}
      .tree_breadcrumb
    .sliding_container
      #roles_list.list.sliding_list{"data-page_size"=>current_user.page_size}
        #tree_loading.slider
          .text
            = _("Loading Permissions")
            = image_tag ("spinner.gif")
        .slider_one.has_content.slider.will_have_content
        .slider_two.no_content.slider
    
    #role_edit.slide_up_container
      %h2
        &nbsp; #{_("Role Details")}
      %input{:type => "hidden", :name => "role_id", :value => @role.id, :id => "role_id" }
      .fieldset
        .grid_2.ra
          %label #{_("Name:")}
        .grid_3.la.editable.edit_name_text{'name' => 'role[name]'} #{@role.name}
        %br
        %br
        .grid_2.ra
          %label #{_("Description:")}
        .grid_3.la.editable.edit_description{'name' => 'role[description]'} #{@role.description}

    #permission_add.slide_up_container
      %h2
        &nbsp; #{_("Add Permission")}
      %form{ :id => "add_permission_form" }
        %input{:type => "hidden", :name => "permission[organization_id]", :value => '', :id => "organization_id" }
        .permission_add_container
          %label.ra.fl #{_("Name:")}
          %input{ :id => 'permission_name', :name => 'permission[name]', :type => "text" }
        .permission_add_container
          %label.ra.fl #{_("Description:")}
          %textarea{ :id => 'description', :name => 'permission[description]' }
        .permission_add_container
          %label.ra.fl #{_("Permission For:")}
          %select{ :id => 'resource_type', :name => 'permission[resource_type_attributes[name]]' }
        .permission_add_container
          %label.ra.fl #{_("Verb(s):")}
          %select{ :id => "verbs", :name => 'permission[verb_values]', :multiple => 'multiple' }
        .permission_add_container
          %label.ra.fl #{_("On:")}
          %select{ :id => "tags", :name => 'permission[tag_names]', :multiple => 'multiple' }
        #permission_button_bar.clear
          -#.button#previous_button.fl{:tabindex => 2}
            -##{_("Previous")}
          .button#save_permission_button.fr{:tabindex => 2}
            #{_("Done")}

    #roles_status
    #sliding_tree_actionbar.clickable
      #add_permission.disabled.cs_action{"title" => "#{_('You must select an organization above before you can add a permission.')}"}
        %span#add_permission_icon.sprite
          SPRITE
        %span.text
          = _("Add Permission")
      #edit_role.cs_action
        %span#edit_role_icon.sprite
          SPRITE
        %span.text
          = _("Edit Role")
      #placeholder.cs_action