= javascript :user_edit

= content_for :title do
  #{_("Edit User")}

= content_for :remove_item do
  - if editable
    = link_to _("Remove User"), { :controller => "users", :action => "destroy", :id => @user.id }, :confirm => _('Are you sure?'), :method => :delete, :class=>"remove_item", :remote=>true

= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)

= content_for :content do
  .grid_10#role
    %h5.grid_10 #{_("Roles")}
    - if editable
      = form_tag user_path(@user), :method => "put", :id => "update_roles" do |f|
        .grid_10
          = select_tag "user[role_ids]", options_from_collection_for_select(Role.non_self_roles, :id, :name, @user.defined_role_ids), :multiple => true, :class => 'multiselect', :style=>"width:400px; height:200px"
        .grid_2
          = button_to _("Save Roles"), {:action => "update", :controller => "users"}, :method => :put, :id => :save_roles
    -else
      .grid_3.ra
        = _("Assigned roles:")
      .grid_6.la
        - for role in @user.defined_roles
          = role.name

    -# no self roles for now
    -#%h5.grid_10 #{_("Permissions")}
    -#= render :partial => 'permissions', :locals => {:role => role}