= javascript do
  :plain
    //what button should be disabled when passwords don't match

    localize({
      "password_match": '#{escape_javascript(_('The passwords do not match'))}',
      "very_weak": '#{escape_javascript(_("Very Weak"))}',
      "weak": '#{escape_javascript(_("Weak"))}',
      "good": '#{escape_javascript(_("Good"))}',
      "strong": '#{escape_javascript(_("Strong"))}',
      "meterText": '#{escape_javascript(_("Password Strength"))}',
      "usernameMatch": '#{escape_javascript(_("The password should not contain the username."))}'
    });

= javascript 'widgets/jquery.jeditable.helpers'

#users
  .grid_10

    %fieldset
      .grid_3.ra
        = label :user, :name, _("Username:")
      #username.grid_5.la
        #{@user.username}

    %fieldset
      .grid_3.ra
        = label :user, :helptips_enable, _("Inline Help Enabled:")
      .grid_5.la
        - if editable
          = check_box("user", "helptips_enabled", :id=>"helptips_enabled", 'data-url'=>user_path(@user.id), :checked=>@user.helptips_enabled ? "checked": "")
        - else
          = @user.helptips_enabled ? _("Yes") : _("No")

    - if editable
      %fieldset.fl.clear
        .grid_3.ra
          = label :user, :username, _("Clear Disabled Helptips:")
        .grid_5.la
          #clear_helptips{:class=>"button", "data-url"=>clear_helptips_user_path(@user.id)}
            = _("Clear")

      - if !ldap
        %fieldset.fl.clear
          .grid_3.ra
            = label :user, :password, _("Change Password:")
          .grid_5.la
            = text_field :user, :password, :id=>"password_field", :value=>"", :type=>"password"

        %fieldset.fl.clear
          .grid_3.ra
            = label :user, :username, _("Confirm:")
          .grid_5.la
            = text_field :user, :username, :id=>"confirm_field", :value=>"", :type=>"password"
        %fieldset.fl.clear
          .grid_5.la.prefix_2
            #password_conflict
          .grid_5.la.prefix_3
            #save_password.verify_password.disabled.button{'data-url'=>user_path(@user.id)}
              #{_('Save')}

  - if !ldap
    .grid_10
      = form_tag user_path(@user), :method => :put, :remote => true do
        %fieldset
          .grid_3.ra
            = label :user, :email, _("Email Address:")
          .grid_5.la{'name' => 'user[email]',  :class => editable_class(editable), 'data-url' => user_path(@user)} #{@user.email}

  .grid_10
    = form_tag update_locale_user_path(@user), :id => "locale_form", :method => :put, :remote => false do
      %fieldset
        .grid_3.ra
          = label :user, :locale, "%s:" % _("Preferred Locale")
        - if editable
          .grid_5.la
            = locale_select @user.default_locale
        - else
          .grid_5.la
            =  @user.default_locale  || "#{_('Browser Default Locale')}"

