= content_for :title do
  #{@user.username}

= content_for :navigation do
  = render_navigation(:items=>user_navigation, :expand_all => true, :level => 1)

= content_for :content do
  %fieldset.fl.clear
    .grid_3.ra
      = label :user, :org, _("Default Organization:")
    .grid_5.la#org_name
      = @old_env ? @old_env.organization.name : _("No default set for this user.")
    .grid_3.ra
      = label :user, :env, _("Default Environment:")
    .grid_5.la#env_name
      = @old_env ? @old_env.name : _("No default set for this user.")
  %fieldset.fl.clear
    .grid_3.ra
      = N_("Choose new defaults:")
  %fieldset.fl.clear
    .grid_3.ra
      = label :user, :org, _("New Default Organization:")
    .grid_5.la
      = organization_select @organization.id
  %fieldset.fl.clear
  .promotion_paths
    = hidden_field_tag 'user[environment_id]', @environment.id unless @environment.nil?
    .grid_3.ra
      %label #{_("New Default Environment")}:
    .grid_5.la
      - if @environment.nil?
        #env_box
          #{_("No environments are currently available in this organization.  Please add some to be able to create users.")}
      - else
        #env_box
          = environment_selector(:path_widget_class=>"grid_5", :path_entries_class=>"grid_5", :locker_clickable=>false,
            :accessible_envs=>accessible_envs, :url_templates_proc=>url_templates_proc)
    .clear
      &nbsp;
    .grid_5.la.prefix_3
      - if @environment.nil?
        #update_user.verify_password.button.disabled{'data-url'=>update_environment_user_path(@user.id)}
          #{_("Save")}
      -else
        #update_user.verify_password.button{'data-url'=>update_environment_user_path(@user.id)}
          #{_("Save")}