= content_for :title do
  #{@user.username}
  
= content_for :remove_item do
  -if @user.deletable?
    = link_to _("Remove User"), { :controller => "users", :action => "destroy" }, :confirm => _('Are you sure?'), :method => :delete, :class=>"remove_item", :remote=>true
  
= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)

= content_for :content do
  = render :partial => "edit_form", :locals=>{:editable=>editable}
