= javascript do
  :plain
    localize({
      "noDefaultEnv": '#{escape_javascript(_("No default environment. Select an organization to choose from available environments."))}',
      "password_match": '#{escape_javascript(_('The passwords do not match'))}',
    });
    env_select.original_env_id = '';
    env_select.ajax_params={};
    env_select.ajax_params["new"]=true;

= content_for :title do
  #{_("New User")}

= content_for :navigation do
  / pretty

= content_for :content do
  .grid_10
    = form_tag roles_path, :method => "post", :id => "new_user" do
      %fieldset.fl.clear
        .grid_2.ra
          = label :user, :username, _("Username:")
        .grid_5.la
          = text_field :user, :username, :id=>"username_field", :tabindex => auto_tab_index
      - if !@ldap
        %fieldset.fl.clear
          .grid_2.ra
            = label :user, :username, _("Password:")
          .grid_5.la
            = text_field :user, :password, :id=>"password_field", :type=>"password", :tabindex => auto_tab_index

        %fieldset.fl.clear
          .grid_2.ra
            = label :user, :username, _("Confirm:")
          .grid_5.la
            = text_field :user, :password, :id=>"confirm_field", :type=>"password", :tabindex => auto_tab_index
          .grid_2.ra
          .grid_5.la
            #password_conflict
        .grid_5.la.prefix_2
          #password_conflict

        %fieldset.fl.clear
          .grid_2.ra
            = label :user, :email, _("Email Address:")
          .grid_5.la
            = text_field :user, :email, :id=>"email_field", :tabindex => auto_tab_index

      %fieldset.fl.clear
        .grid_2.ra
          = label :user, :org, _("Default Organization:")
        .grid_5.la
          = organization_select
      %fieldset.fl.clear

      .promotion_paths
        = hidden_field_tag 'user[environment_id]', @environment.id unless @environment.nil?
        .grid_2.ra
          %label #{_("Environment")}:
        .grid_5.la
          - if @environment.nil?
            #env_box
              -if @organization.nil?
                #{_("No default environment. Select an organization to choose from available environments.")}
              -else
                = no_env_available_msg
          - else
            #env_box
              = environment_selector(:path_widget_class=>"grid_5", :path_entries_class=>"grid_5", :library_clickable=>false,
                :accessible_envs=>accessible_envs, :url_templates_proc=>url_templates_proc)

        .clear
          &nbsp;

      .grid_5.la.prefix_2
        = button_to _("Save User"), {:action => "create", :controller => "users"}, :method => :post, :id => :save_user, :tabindex => auto_tab_index
