.details_container
  .item-container
    %label
      = _("ID")
    %p
      = @puppet_module.id

  .item-container
    %label
      = _("Author: ")
    %p
      = @puppet_module.author

  .item-container
    %label
      = _("Name: ")
    %p
      = @puppet_module.name

  .item-container
    %label
      = _("Version: ")
    %p
      = @puppet_module.version

  - unless @puppet_module.summary.blank?
    .item-container
      %label
        = _("Summary: ")
      %p
        = @puppet_module.summary

  - unless @puppet_module.description.blank?
    .item-container
      %label
        = _("Description: ")
      %p
        = @puppet_module.description

  - unless @puppet_module.license.blank?
    .item-container
      %label
        = _("License: ")
      %p
        = @puppet_module.license

  - unless @puppet_module.project_page.blank?
    .item-container
      %label
        = _("Project Page: ")
      %p
        = @puppet_module.project_page

  - unless @puppet_module.source.blank?
    .item-container
      %label
        = _("Source: ")
      %p
        = @puppet_module.source

  - unless @puppet_module.dependencies.blank?
    .item-container
      %label
        = _("Dependencies: ")
      %p
        &nbsp;
      %p
        - @puppet_module.dependencies.each do |dependency|
          %p
            = _("Name: %{module_name}, Version: %{version}") % {:module_name => dependency[:name], :version => dependency[:version_requirement]}

  - unless @puppet_module.checksums.blank?
    .item-container
      %label
        = _("Checksums: ")
      %p
        &nbsp;
      %p
        - @puppet_module.checksums.each do |checksum|
          %p
            = _("File: %{file_name}, Checksum: %{checksum}") % {:file_name => checksum[0], :checksum => checksum[1]}

  - unless @puppet_module.tag_list.blank?
    .item-container
      %label
        = _("Tag List: ")
      %p
        = @puppet_module.tag_list.join(', ')
