= stylesheet 'widgets/path_selector'
= javascript do
  :plain
    localize({
      "confirm_create" : '#{escape_javascript(_('+ Yes'))}'
      });

.grid_16#main
  = two_panel(@distributors, @panel_options)

= javascript :distributors
