= javascript :edit_helpers, :tabs, :provider_redhat, :treetable
= stylesheet :tabs, :dashboard

.grid_16
  = help_tip_button('subscriptions-help')
  = help_tip(_("Listed below are the subscriptions information." + |
             " If you have a subscription manifest you may upload it below. " + |
             "This manifest may be obtained by visiting the Red Hat Customer Portal or by contacting your support representative."), 'subscriptions-help') |

.grid_8
  #providers
    %input#panel_element_id{:name => @provider.id, :type => "hidden", :value => "#{@provider.name}_#{@provider.id}"}
    #provider
      %h4 #{_("Red Hat Provider Details")}
      %fieldset.fl.clear
        .grid_5
          %label #{_("Repository Url")}:
        .grid_5.la{'name' => 'provider[repository_url]',:class=>("editable edit_textfield" if can_edit_rh_provider?),  'data-url' => provider_path(@provider.id)} #{@provider[:repository_url]}
.grid_8
  - if can_upload_rh_manifest?
    #subscription_manifest
      %h4 #{_("Upload Subscription Manifest")}
      = form_for @provider, :html => {:multipart => true, :method => :post, :id => :upload_manifest}, :remote => true, :url => redhat_provider_providers_path do |f|
        .fl
          = f.label :upload, _("Specify Local Manifest")
          %br
          = f.file_field :contents
        #force_checkbox.fl
          %br
          = check_box_tag :force_import
          = label_tag :force, _('Force')
        #upload_button.fl
          -#= f.submit _("Upload")
          %br
          = link_to _("Upload"), '#', :id => 'upload_submit'


.grid_16
  #tabs
    %nav.tab_details
      %ul
        %li
          %a{:href => "#tabs-1"}
            = _("Subscription")
        - if AppConfig.katello?
          %li
            %a{:href => "#tabs-2"}
              = _("Enable Repositories")
        %li
          %a{:href => "#tabs-3"}
            = _("Import History")
    #tabs-1
      = render :partial=>"providers/redhat/subscription_details"
    - if AppConfig.katello?
      #tabs-2
        = render :partial=>"providers/redhat/repo_whitelist"
    #tabs-3
      = render :partial=>"providers/redhat/import_history"
