= javascript 'katello/widgets/subpanel_new'
= javascript 'katello/providers/repo_discovery_create'

= content_for :title do
  #{_("Create Repositories Under A Product")}

= content_for :subcontent do
  #repo_creation
    %form#discovered_creation{:data=>{:provider_id=>@provider.id}}
      #product_details
        .grid_10
          %h3
            =_('Product Selection')
        .grid_10
          = _("Create repositories within:")
        .grid_10
          %label
            %input{:type=>:radio, :name=>:new_product, :value=>:false,:checked=>:checked}
            = _("Existing Product:")
          %select.grid_6{:name=>'existing_product_select', :id=>'existing_product_select'}
            - for product in @provider.products
              %option{:value=>product.id}
                = product.name
        .grid_10
          %label
            %input{:type=>:radio, :name=>:new_product, :value=>:true}
            = _("New Product:")
        .grid_10
          #new_product{:style=>'display:none;', :data=>{:url=>provider_products_path(@provider.id)}}
            %fieldset
              .grid_2.ra
                = _('New Product Name')
              .grid_5.la
                %input{:type=>:text, :name=>'product_name', :label => _("New Product Name"), :class => :name_input}
            %fieldset
              .grid_2.ra
                = _('New Product Label')
              .grid_5.la
                %input{:type=>:text, :name=>'product_label', :label => _("New Product Label"), :class => :label_input,
                    :data=>{:url=>default_label_provider_products_path(@provider.id)}}

      .grid_10
        %h3
          = _("Options")
        #unprotected
          %fieldset
            .grid_2.ra
              = _('Publish via http')
            .grid_5.la
              = check_box :repo, :unprotected, :id=>"unprotected", :checked=>false

      .grid_10
        %h3
          = _("Selected URLs")
      .grid_10
        #urls
          - urls.each_with_index do |url, count|
            .grid_9.url
              %span.dot_icon-grey
              = url
            .grid_9.new_repo{:id=>"new_repo_#{count}"}
              %fieldset
                .grid_2.ra
                  = _('Repository Name')
                .grid_5.la
                  %input{:type=>:text, :name=>"repo_name", :label => _("Repository Name"), :size=>30,
                    :class => :name_input, :value=>name_from_url(@provider, url)}
              %fieldset
                .grid_2.ra
                  = _('Repository Label')
                .grid_5.la
                  %input{:type=>:text, :name=>"repo_label", :value=>label_from_url(@provider, url), :label => _("Repository Label"),
                    :class => :label_input, :size=>30,
                    :data=>{:url=>default_label_provider_product_repositories_path(0, 0)}}
              %input{:type=>:hidden, :name=>"repo_url", :value=>url}


      .grid_10.ra
        %input.button#create_repos{:type=>:submit, :value=>_('Create Repositories')}

= render :template => "katello/layouts/tupane_layout"
