= javascript 'katello/providers/provider_create'

= content_for :title do
  #{_("New Provider")}

= content_for :content do
  #provider
    = kt_form_for @provider do |form|
      = render :partial => 'form', :locals => { :form => form }

= render :template => "katello/layouts/tupane_layout"
