<div class="col-md-4">
  <%= _('Pulp server version') %>
</div>
<div class="col-md-8">
  <%= @pulp_status['versions']['platform_version'] %>
</div>
<div class="col-md-4">
  <%= _('Database connection') %>
</div>
<div class="col-md-8">
  <%= boolean_to_icon(@pulp_status['database_connection']['connected']) %>
</div>
<div class="col-md-4">
  <%= _('Messaging connection') %>
</div>
<div class="col-md-8">
  <%= boolean_to_icon(@pulp_status['messaging_connection']['connected']) %>
</div>
<div class="col-md-4">
  <%= _('Workers') %>
</div>
<div class="col-md-8">
  <%= @pulp_status['known_workers'].size %><br />
</div>
