<div class="col-md-4">
  <strong><%= _('Pulp server version') %></strong>
</div>
<div class="col-md-8">
  <%= @pulp_status['versions']['platform_version'] %>
</div>
<div class="col-md-4">
  <strong><%= _('Database connection') %></strong>
</div>
<div class="col-md-8">
  <strong><%= boolean_to_icon(@pulp_status['database_connection']['connected']) %></strong>
</div>
<div class="col-md-4">
  <strong><%= _('Messaging connection') %></strong>
</div>
<div class="col-md-8">
  <strong><%= boolean_to_icon(@pulp_status['messaging_connection']['connected']) %></strong>
</div>
<div class="col-md-4">
  <strong><%= _('Workers') %></strong>
</div>
<div class="col-md-8">
  <%= @pulp_status['known_workers'].size %><br />
</div>
<div class="col-md-4">
  <strong><%= _('Supported Content Types') %></strong>
</div>
