-# repo,  parent_set
%tr{:class=>parent_set_class(parent_set) + " #{cycle_class}", :id=>repo_id(repo), "data-product_id"=>repo.product.id, "data-id"=>repo.id}
  %td.one-line-ellipsis
    = check_box_tag "repoids[]", repo.id, false, :id=>"input_repo_#{repo.id}", :class=>"fl"
    %label.fl{:for=>"input_repo_#{repo.id}"}
      #{repo.name}
  %td.start_time
    #{@repo_status[repo.id][:start_time]}
  %td.duration
    #{@repo_status[repo.id][:duration]}
  %td.size{ "data-size" => @repo_status[repo.id][:size] }
    #{@repo_status[repo.id][:display_size]}
  %td.result
    %span.result-info
      %a{:href => "/foreman_tasks/tasks/#{@repo_status[repo.id][:sync_id]}"}
        #{@repo_status[repo.id][:state]}
    %a.info-tipsy.clickable.fa.fa-warning{ "class" => "#{"hidden" if @repo_status[repo.id][:raw_state] != 'error'}",
                                               :href => "/foreman_tasks/tasks/#{@repo_status[repo.id][:sync_id]}"}
      %span.hidden-text.hidden
        .la.error-tipsy
          %ul
            - if @repo_status[repo.id][:error_details].present? && error_state?(@repo_status[repo.id])
              - @repo_status[repo.id][:error_details][:messages].each do |error|
                %li #{error}

  - if @show_org
    %td
