<tr class="<%= parent_set_class(parent_set) %>  <%= cycle_class %>" id="<%= repo_id(repo) %>" data-product_id="<%= repo.product.id %>" data-id="<%= repo.id %>">
  <td class="one-line-ellipsis">
    <%= check_box_tag "repoids[]", repo.id, false, :id=>"input_repo_#{repo.id}", :class=>"fl" %>
    <label class="fl" for="input_repoa_<%= repo.id %>">
      <%= repo.name %>
    </label>
  </td>
  <td class="start_time">
    <%= @repo_status[repo.id][:sync_id] ? @repo_status[repo.id][:start_time] : _('N/A') %>
  </td>
  <td class="duration">
    <%= @repo_status[repo.id][:sync_id] ? @repo_status[repo.id][:duration] : _('N/A') %>
  </td>
  <td class="size" data-size="<%= @repo_status[repo.id][:size] %>">
    <%= @repo_status[repo.id][:sync_id] ? @repo_status[repo.id][:display_size]  : _('N/A')%>
  </td>
  <td class="result">
      <span class="result-info">
        <% if @repo_status[repo.id][:sync_id] %>
          <a href="/foreman_tasks/tasks/<%= @repo_status[repo.id][:sync_id] %>">
            <%= @repo_status[repo.id][:state] %>
          </a>
        <% elsif repo&.latest_sync_audit&.created_at %>
          <%= _("Synced ") + time_ago_in_words(repo&.latest_sync_audit&.created_at) + _(" ago.") %>
        <% else%>
          <%= @repo_status[repo.id][:state] %>
        <% end %>
      </span>
  </td>
  <% if @show_org %>
    <td></td>
  <% end %>
</tr> <!--_repo -->
