<% content_for(:katello_javascripts) do -%>
  <%= javascript_include_tag 'katello/sync_management' %>
  <script>
    localize({
      "cancel": "<%= escape_javascript(_('Cancel')) %>",
      "cancelled": "<%= escape_javascript(_('Sync Canceled')) %>",
      "error": "<%= escape_javascript(_('Error')) %>",
      "complete": "<%= escape_javascript(_('Sync complete.')) %>",
      "no_start_time": "<%= escape_javascript(_('No start time currently available.')) %>"
    });
      KT.repo_status = JSON.parse('<%= escape_javascript(@repo_status.to_json.html_safe) %>');
      KT.permissions = { "syncable" : <%= any_syncable? %> };
      KT.content.populateRepoStatus();
  </script>
<% end -%>

<% if Organization.current -%>
    <%= hidden_field_tag :organization_id, Organization.current.id%>
<% end %>

<div class="grid_4">
  <h2>
    <%= _("Sync Status") %>
  </h2>
</div>

<%= render 'controls' %>

<div id="main" class="grid_16">
  <%= render 'products' %>
</div>
