%div{:class => "column_1"}
  %ul
    %li
      %div.one-line-ellipsis#heading_title
        %span#name
          = activation_key.name
    %li.one-line-ellipsis
      = _('Env: ')
      %span#environment
        = activation_key.environment
    - if Katello.config.katello?
      %li.one-line-ellipsis
        = _('View: ')
        %span#view
          = activation_key.content_view
.arrow-right
