= form_for @activation_key do |f|
  -if @activation_key.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activation_key.errors.count, "error")} prohibited this activation_key from being saved:"
      %ul
        - @activation_key.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
