= content_for :title do
  #{_("New Activation Key")}

= content_for :content do
  .grid_10#new_key
    = form_tag activation_keys_path, :method => "post", :id => "new_activation_key" do
      %fieldset
        .grid_2.ra
          %label #{_("Name")}:
        .grid_7.la
          = text_field_tag 'activation_key[name]', params[:name], :size => "42", :tabindex => auto_tab_index

      %fieldset
        .grid_2.ra
          %label #{_("Description")}:
        .grid_7.la
          = text_area_tag 'activation_key[description]', params[:description], :size => "53x4", :tabindex => auto_tab_index

      .promotion_paths
        = hidden_field_tag 'activation_key[environment_id]', @environment.id unless @environment.nil?
        .grid_2.ra
          %label #{_("Environment")}:
        .grid_7.la
          - if @environment.nil?
            #{_("No environments are currently available in this organization.  Please add some to be able to create activation keys.")}
          - else
            = environment_selector(:path_widget_class=>"grid_7", :path_entries_class=>"grid_7", :library_clickable=>false,
              :accessible_envs=>accessible_envs, :url_templates_proc=>url_templates_proc)

        .clear
          &nbsp;

      - if AppConfig.katello?
        %fieldset#system_templates
          .grid_2.ra
            %label #{_("System Template")}:
          .grid_7.la
            = select_tag 'activation_key[system_template_id]', options_for_select(@system_template_labels, @selected_template)

      %fieldset
        .grid_2.ra
          %label #{_("Usage Limit")}:
        .grid_7.la
          = number_field_tag 'activation_key[usage_limit]', params[:usage_limit], :size => "4", :tabindex => auto_tab_index, :min => 1, :id => :usage_limit_textbox, :disabled => true
          %label
            %input{:type => "checkbox", :checked => 'checked', :id => :usage_limit_checkbox}
            = _("Unlimited")

      .grid_9.ra
        = button_to _("Save"), {:action => "create", :controller => "activation_keys"}, :method => :post, :id => :save_key, :tabindex => auto_tab_index
