
%h2.grid_8 #{_("New Activation Key")}
.grid_8#new_key
  = form_tag activation_keys_path, :method => "post", :id => "new_activation_key" do |f|
    %fieldset
      .grid_2.ra
        %label #{_("Name")}:
      .grid_5.la
        = text_field_tag :name, params[:name], :size => "25", :tabindex => 1
    %fieldset
      .grid_2.ra
        %label #{_("Description")}:
      .grid_5.la
        = text_area_tag :description, params[:description], :size => "32x4", :tabindex => 2
    .grid_6.ra
      = button_to _("Save"), {:action => "create", :controller => "activation_keys"}, :method => :post, :id => :activation_key_save, :tabindex => 3

