= content_for :title do
  #{_("New Activation Key")}

= content_for :content do
  .full#new_key
    = kt_form_for ActivationKey.new do |form|

      = form.text_field :name, :label =>_("Name")

      = form.text_area :description, :label => _("Description"), :size => "40x4"

      .promotion_paths
        = hidden_field_tag 'activation_key[environment_id]', @environment.id unless @environment.nil?

        = form.field :environment_id, :label => _("Environment"), :grid => [2,7] do
          - if @environment.nil?
            #{_("No environments are currently available in this organization.  Please add some to be able to create activation keys.")}
          - else
            = environment_selector(:path_widget_class=>"grid_10", :path_entries_class=>"grid_10", :library_clickable=>true,
              :accessible_envs=>accessible_envs, :url_content_views_proc=>url_content_views_proc)
        .clear
          &nbsp;

      - if Katello.config.katello?
        = form.field :content_view_id, :label => _("Content View"), :wrapper => {:id => "content_views"}, :grid => [2,7] do
          = select_tag 'activation_key[content_view_id]',
            options_for_select(content_view_select_labels(@organization, @environment)),
            :tabindex => auto_tab_index

      = form.field :usage_limit, :label => _("Usage Limit"), :grid => [2,7] do
        = number_field_tag 'activation_key[usage_limit]', params[:usage_limit], :size => "4", :tabindex => form.tabindex, :min => 1, :id => :activation_key_usage_limit, :disabled => true
        %label
          %input{:type => "checkbox", :checked => 'checked', :id => :usage_limit_checkbox, :tabindex=>form.tabindex}
          = _("Unlimited")

      = form.submit _("Save"), :id => :save_key

= render :template => "layouts/tupane_layout"
