%h2 #{_("Edit Activation Key")}
%nav.subnav
  = render_navigation(:expand_all => true, :level => 3)
%h5.grid_8 #{_("Subscriptions")}  
= form_tag  update_subscriptions_activation_keys_path, :method => "post", :id => "update_subscriptions" do |f|
  .grid_7
    = select_tag "activation_key[consumed_pool_ids]", options_from_collection_for_select(all_subs, 'sub', 'name', consumed), :multiple => true, :class => 'multiselect', :style=>"width:400px; height:200px"
  .grid_2
    = button_to _("Save Subscriptions"), {:action => "update_subscriptions", :controller => "activation_keys"}, :method => :post, :id => :subcription_save

= include_javascripts :activation_key_subscriptions
