%table.filter_table
  %thead
    %tr
      %th #{_("Subscription")}
      %th #{_("Type")}
      %th #{_("Start Date")}
      %th #{_("End Date")}
  %tbody
    - if subs.length > 0
      - subs.each do |sub_id, sub|
        %tr
          %td
            %span.fl
              = check_box_tag "subscription_id[#{sub.poolId}]", false
            &nbsp;
            #{sub.name}
          %td #{sub.poolType}
          %td #{sub.startDate}
          %td #{sub.endDate}
    - else
      %tr
        %td{:colspan=>5} #{_("There are no more subscriptions available.")}
