= javascript :activation_key_subscriptions

= content_for :title do
  #{_("Edit Activation Key")}

= content_for :remove_item do
  %a.remove_item.remove_key{"data-id"=>@activation_key.id ,"data-url"=>activation_key_path(@activation_key.id), "data-confirm-text"=>_('Are you sure?')}
    = _("Remove Activation Key")

= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)

= content_for :content do
  #subscriptions
    .lower_content.clear
      .labels
        / %label.la #{_("Sockets supported by your subscription(s): ")}
        / %label.la #{_("Guests supported by your subscription(s): ")}
      %table
        %thead
          %tr
            %th #{_("Current Subscriptions")}
            / %th #{_("Sockets")}
            / %th #{_("Guests")}
            %th #{_("Quantity")}
            %th.buttonColumn
        %tbody
          //- for sub in current_subscriptions
          %tr
            %td
              #{"Test"}
            %td
              50
            %td.remove_subscription
              %span.sprite.remove_subscription_img
                SPRITE
              %span
                #{_("Remove")}
                
      %table
        %thead
          %tr
            %th #{_("Available Subscriptions")}
            / %th #{_("Sockets")}
            / %th #{_("Guests")}
            %th #{_("Quantity")}
            %th.buttonColumn
        %tbody
          - for sub in available_subscriptions
            %tr
              %td
                #{sub.name}
              %td
                #{sub.quantity}
              %td
                %span.sprite.subscribe
                  #{"SPRITE"}
                %span
                  #{_("Subscribe")}