= include_javascripts :edit
= include_javascripts :form
= include_common_i18n
= include_editable_i18n
= include_javascripts :activation_key

.grid_16
  = help_tip_button
  = help_tip(_("placeholder... details coming soon ..." + |
             "")) |

.grid_16#main
  = two_panel(@activation_keys, @panel_options)
