.grid_16
  = help_tip_button
  - if Katello.config.katello?
    = help_tip(_("Activation Keys provide a set of characteristics that may be applied to a system " + |
                 "during system registration.  This includes things such as, default environment to assign " + |
                 "to the system, subscriptions to allocate to the system, system template to apply " + |
                 "to the system...etc.")) |
  - else
    = help_tip(_("Activation Keys provide a set of characteristics that may be applied to a system " + |
                 "during system registration.  This includes things such as, default environment to assign " + |
                 "to the system, subscriptions to allocate to the system...etc.")) |

.grid_16#main
  = two_panel(@activation_keys, @panel_options)
  %div#environment_edit_dialog

= javascript :activation_key