= content_for :title do
  #{_("New GPG Key")}

= content_for :content do
  .grid_10
    = form_tag gpg_keys_path, :method => "post", :id => "upload_new_gpg_key" do
      %fieldset
        .grid_2.ra
          %label #{_("Name")}:
        .grid_7.la
          = text_field_tag 'gpg_key[name]', '', :tabindex => auto_tab_index, :class => "grid_6"
      %fieldset
        .grid_2.ra
          %label #{_("Upload")}:
        .grid_3.la
          = file_field_tag 'gpg_key[content_upload]', :id => "gpg_key_content_upload", :tabindex => auto_tab_index, :class => "grid_6"
      %fieldset
        .grid_2.la.push_2
          %input.button{ "type" => "button", :id => :upload_gpg_key, :tabindex => auto_tab_index, "value" => _("Upload") }
        .grid_1.push_3.ra
          %input.button{ "type" => "button", :id => :clear_upload_gpg_key, :disabled => "disabled", :tabindex => auto_tab_index, "value" => _("Clear") }
      %fieldset
        .grid_2.ra
          %label #{_("or")}
    = form_tag gpg_keys_path, :method => "post", :id => "new_gpg_key" do
      %fieldset
        .grid_2.ra
          %label #{_("Paste GPG Key")}:
        .grid_7.la
          = text_area_tag 'gpg_key[content]', '', :id=> "gpg_key_content", :size => "40x15", :tabindex => auto_tab_index, :class => "grid_6"
      %fieldset
        .grid_2.la.push_2
          %input.button{ "type" => "submit", :id => :save_gpg_key, :tabindex => auto_tab_index, "value" => _("Save") }
        .grid_1.push_5
          %input.button{ "type" => "button", :id => :clear_gpg_key,  :disabled => "disabled", :tabindex => auto_tab_index, "value" => _("Clear") }
