= javascript :edit_helpers

= content_for :title do
  #{@subnet.name}

= content_for :remove_item do
  = link_to _("Remove Subnet"), { :controller => "subnets", :action => "destroy" }, :confirm => _('Are you sure you want to remove this subnet?'), :method => :delete, :class=>"remove_item", :remote=>true

= content_for :content do
  .grid_10
    = kt_form_for @subnet, :as=>"subnet", :data_url => subnet_path(@subnet), :url => subnet_path(@subnet), :html=>{ :id=>"edit_subnet" } do |form|

      = form.editable :name, :label => _("Name:")
      = form.editable :network, :label => _("Network:")
      = form.editable :mask, :label => _("Netmask:")
      = form.editable :gateway, :label => _("Gateway:")
      = form.editable :dns_primary, :label => _("Primary DNS:")
      = form.editable :dns_secondary, :label => _("Secondary DNS:")
      = form.editable :from, :label => _("From IP:")
      = form.editable :to, :label => _("To IP:")
      = form.editable :vlanid, :label => _("VLAN:")

      = form.field :domain_ids, :label => _("Domains:") do
        = domain_select @subnet, "domain_ids"
      = form.field :dhcp_id, :label => _("Dhcp:") do
        = dhcp_select @subnet, "dhcp_id"
      = form.field :tftp_id, :label => _("Tftp:") do
        = tftp_select @subnet, "tftp_id"
      = form.field :dns_id, :label => _("Dns:") do
        = dns_select @subnet, "dns_id"

      .grid_5.la.prefix_2
        #update_subnet.button{:'data-url'=>subnet_path(@subnet)}
          #{_("Save Subnet")}

      %div{ :style => "min-height: 100px;" }

= render :template => "layouts/tupane_layout"
