= render :partial => "foreman/configuration_templates/edit_header"

= content_for :content do
  .grid_10
    .grid_2.ra
      %label #{_("Template Combinations:")}:
    - if @template_combinations.empty?
      .grid_5.la
        #{_("No Template Combinations are currently defined")}:
    - else
      - @template_combinations.each do |tc|
        %div.grid_5.la
          #{environments.find {|e| e.id == tc.environment_id}.name }
          = link_to  _("Delete"), "#", :id => :delete_association_configuration_template, :data_url => template_combination_path(tc.id)

    = form_for @configuration_template, :as=>"configuration_template", :url=> "", :html=>{:method => :post, :data_url => configuration_template_template_combinations_path(@configuration_template), :id=>"add_association_config_template" } do |form|
      %fieldset
        .grid_2.ra
          %label #{_("Available Environments:")}:
        .grid_5.la
          = collection_select :template_combination, :environment_id, environments, :id, :name, :include_blank => true

      = form.submit _("Add Environment")

      %div{ :style => "min-height: 100px;" }
