= javascript :edit, :edit_helpers, :env_select

.grid_16#main
  = two_panel(@users, @panel_options)

= javascript :user, :edit, :multiselect

= javascript do
  :javascript
    var current_username = '#{_(user.username)}';