= javascript :filtertable

= content_for :title do
  #{@distribution.id}

= content_for :navigation do
  = render_navigation(promotion_distribution_navigation, :expand_all => true, :level => 1)

= content_for :content do
  = render :partial => "common/filter_table"

  %table.filter_table
    %thead
      %th #{_("File")}
    %tbody
      -@distribution.files.each do |file|
        %tr
          %td{:class=>'distribution'}
            #{file}
