= content_for :title do
  #{@distribution.id}

= content_for :navigation do
  = render_navigation(promotion_distribution_navigation, :expand_all => true, :level => 1)

= content_for :content do
  .clear
  %fieldset
    .grid_2.ra
      %label #{_("Name")}:
    .grid_5.la
      = @distribution.id

  %fieldset
    .grid_2.ra
      %label #{_("Description")}:
    .grid_5.la
      = @distribution.description
