
= content_for :title do
  #{_("New Hardware Model")}

= content_for :content do
  .grid_10
    = kt_form_for ::Foreman::HardwareModel.new, :as=>"hardware_model", :url=>hardware_models_path, :html=>{ :id=>"new_hardware_model" } do |form|

      - model_help_msg = _("The class of CPU supplied in this machine. This is primarily used by Sparc Solaris builds and can be left blank for other architectures.")
      - vendor_help_msg = _("The class of the machine reported by the Open Boot Prom. This is primarily used by Sparc Solaris builds and can be left blank for other architectures.")

      = form.text_field :name, :label => _("Name:")
      = form.text_field :hardware_model, :label => _("Hardware model:"), :label_help => model_help_msg
      = form.text_field :vendor_class, :label => _("Vendor class:"), :label_help => vendor_help_msg
      = form.text_area :info, :label => _("Info:"), :size => "34x5"

      = form.submit _("Save Model"), :id => :save_model

