.grid_16
  %h1 #{_("500 Internal Server Error")}

  %p #{_("Sorry about that! It seems something went wrong.  If you continue having trouble with this, please contact an Administrator.")}

  %p #{_("You might want to log out and log back in again to clear your cookies.")}

  - if error
    .error
      %h3 #{_("Error:")}
      .prefix_1
        %blockquote #{error}

  %p.fl.clear
    = link_to _("Back"), root_path
