= content_for(:stylesheets) do
  = stylesheet_link_tag "bastion/bastion"
  = yield :stylesheets

= content_for(:title) do
  Katello

= content_for(:content) do
  %article.maincontent.rcue-styles{'ng-app' => "Bastion"}
    %section{'ui-view' => ''}

= content_for(:javascripts) do
  = javascript_include_tag 'bastion/bastion'
  %script{ :type => "text/javascript" }
    :plain
      angular.module('Bastion').value('currentLocale', '#{I18n.locale}');
      angular.module('Bastion').value('CurrentOrganization', "#{current_organization.label if current_organization}");
      angular.module('Bastion').value('CurrentUser', "#{current_user.id if current_user}");

= render :file => "layouts/base"
