= content_for(:stylesheets) do
  = stylesheet_link_tag "bastion/bastion"
  = yield :stylesheets

= content_for(:title) do
  Katello

= content_for(:content) do
  %article.maincontent.rcue-styles
    %section.container-fluid{'ui-view' => ''}

= content_for(:javascripts) do
  = javascript_include_tag 'bastion/bastion'
  %script{ :type => "text/javascript" }
    :plain
      angular.module('Bastion').value('currentLocale', '#{I18n.locale}');
      angular.module('Bastion').value('CurrentOrganization', "#{current_organization.id if current_organization}");
      angular.module('Bastion').value('Permissions', angular.fromJson('#{ current_user.roles.collect { |role| role.permissions }.flatten.to_json }'));
      angular.module('Bastion').value('CurrentUser', {id: "#{User.current.id}", admin: "#{User.current.admin}"});
      angular.module('Bastion').value('markActiveMenu', mark_active_menu);
      angular.module('Bastion').constant('BastionConfig', {
          consumerCertRPM: "#{Katello.config.consumer_cert_rpm}",
          markTranslated: #{SETTINGS[:mark_translated] || false}
      });
  = yield :bastion_javascripts

= render :file => "layouts/base"
