= content_for(:stylesheets) do
  = stylesheet_link_tag "stylesheets/less/bastion"
  = stylesheet_link_tag "stylesheets/scss/bastion"
  = yield :stylesheets

= content_for(:content) do
  %article.maincontent.rcue-styles{'ng-app' => "Bastion"}
    %section{'ui-view' => ''}

= content_for(:javascripts) do
  = javascript_include_tag 'bastion'
  %script{ :type => "text/javascript" }
    :plain
      angular.module('Bastion').value('currentLocale', '#{I18n.locale}');
    = render :partial => 'katello/common/config'
    = render :partial => 'katello/common/ajax_notices'
    = render :partial => 'katello/common/notification'

= render :file => "layouts/base"
