!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html class="no-js lt-ie9">
/[if gt IE 8] <!--> <html class="no-js"> <!--
%head
  %meta{"charset"=>"UTF-8"}
  %meta{"http-equiv"=>"X-UA-Compatible", "content"=>"IE=edge,chrome=1"}
  %title
    = yield :title
  %meta{"name"=>"description", "content"=>""}
  %meta{"name"=>"viewport", "content"=>"width=device-width"}
  = yield :favicon

  = favicon_link_tag 'bastion/images/favicon.png'
  = yield :stylesheets_block
  = yield :head
  = csrf_meta_tag

  %body{"ng-app"=>ng_app_name}
    / [if lt IE 7]
      %p
        You are using an unsupported browser.
    / [if lt IE 9]
      %script{"src"=>"components/es5-shim.js"}
      %script{"src"=>"components/json3.min.js"}
      %script{"src"=>"html5/excanvas.js"}

    = yield :body
    = yield :javascripts_block
    = yield :extra
