= content_for :title do
  #{@filter.name}

= content_for :remove_item do
  - if filter.deletable?
    = link_to _("Remove Filter"), {:action => "destroy", :controller => "filters"}, :method => :delete, :confirm => _('Are you sure you want to delete this filter?'), :class => "remove_item", :remote=>true

= content_for :navigation do
  = render_menu(1..2, package_filter_navigation)

= content_for :content do
  #package_filter
    %table
      %thead
        %tr.no_sort
          %th
            #{_("Package Name")}
      -if editable
        %tr.no_sort
          %td
            #{_('Add Packages')}
            %form{:id=>'add_package_form'}
              %input{:type=>'text', :id=>'package_input', :size=>'35', 'data-url'=>add_packages_filter_path(@filter)}
              %input.button{:type=>'submit', :id=>'add_package', :value=>_('Add')}
      - if @filter.package_list.empty?
        %tr.empty_message
          %td
            #{_("No packages are currently filtered.")}
      - for pkg in @filter.package_list.sort
        %tr
          %td
            -if editable
              %input.package_select{:type=>"checkbox", :id=>pkg, :name=>pkg, :value=>pkg}
            %label{:for=>pkg}
              = pkg
    -if editable
      %input.fr.button{:type=>"button", :id=>"remove_packages", :value=>_("Remove Packages"), 'data-url'=> remove_packages_filter_path(@filter)}
