= javascript "widgets/jquery.jeditable.helpers"

.grid_8
  #providers
    %input#panel_element_id{:name => @provider.id, :type => "hidden", :value => "#{@provider.name}_#{@provider.id}"}
    #provider
      %h4 #{_("Import History")}

#subscription_history
  .grid_16
    %table
      %thead
        %th #{_("Message")}
        %th #{_("Import Time")}
      - if @statuses
        %tbody
          - @statuses.each do |status|
            - cycle_class = cycle(nil, 'alt')
            %tr{:class => cycle_class}
              %td{:style => "width: 70%;"}
                %span.icon_wrap.fl
                  %span.fl{:class => (status["status"] == "FAILURE" ? "shield_icon-black" : "check_icon-black")}
                = status["statusMessage"]
              %td
                = _("%s ago") % time_ago_in_words(status["created"])
            - if status['webUrl']
              - status['webUrl'] += '/' if !status['webUrl'].end_with?('/')
              %tr{:class => cycle_class}
                %td{:colspan => 2}
                  &nbsp; &nbsp; &nbsp;
                  = _('Manifest from %s') % status['upstreamName']
                  = link_to status['webAppPrefix'], "http://#{status['webAppPrefix']}#{status['upstreamId']}", :target => '_blank'
