.block.tall{:id=>"#{name}_#{item.cp_id}", "data-ajax_url" => "#{url_for(:controller=>controller.controller_name)}/#{item.cp_id}", "data-ajax_panelpage" => 'edit'}

  = render :partial => "katello/subscriptions/list_subscription_show", :locals => { :item => item }
