- options = content_options(filter)

= content_for :title do
  #{_("New Rule")}

= content_for :subcontent do

  #rule_create

    - if options.length > 0

      = kt_form_for([view_definition, FilterRule.new], :remote => true, :html => {:id => "filter_rule_form"}) do |form|

        = form.select :content_type, options, {},
          {:label => _("Filter on"), :size=>1, :tabindex => form.tabindex}

        = form.submit _("Create"), :disable_with => _("Creating..."), :class => 'create_button'

    - else

      %p
        = _("Please associate some content with this filter before creating a rule.")

= render :template => "layouts/tupane_layout"
