%tr
  %td.parameter_name{:style => 'vertical-align: middle;'}
    .panel_link
      - if editable
        = check_box_tag "units[#{unit[:name]}]", unit[:name], false,
          {:class => :parameter_checkbox, 'data-id' => unit[:name]}
      %label
        = unit[:name]

  %td.author_name
    = label_tag(_('Author'))
    - if editable
      = text_field_tag("units[author]", unit[:author], :class => "author",
        :placeholder => _('Enter Author Name...'))
    - else
      = unit[:author]


  %td.version_selector
    - if editable
      - version_selected = version_selected(unit)
      - value1, value2 = version_values(unit)

      = select_tag("units[version_type]", options_for_select(version_options, version_selected(unit)),
        :class => 'version_type')

      = text_field_tag("units[version_value]", value1, :size => 8,
        :class => 'version input' + (['version', 'min_version', 'max_version'].include?(version_selected) ? '' : ' hidden'))

      = text_field_tag("units[version_value1]", value1, :size => 8,
        :class => 'range input' + (['version_range'].include?(version_selected) ? '' : ' hidden'))

      = label_tag(' - ', nil,
        :class => 'range input' + (['version_range'].include?(version_selected) ? '' : ' hidden'))

      = text_field_tag("units[version_value2]", value2, :size => 8,
        :class => 'range input' + (['version_range'].include?(version_selected) ? '' : ' hidden'))

      = link_to(_("Save"),
        update_parameter_content_view_definition_filter_rule_path(rule.filter.content_view_definition.id,
        rule.filter.id, rule.id), :class => 'save_parameters hidden')

    - else
      = label_tag(_('Version'))
      = version_selector_readonly(rule, unit)
