= content_for :title do
  #{_("New GPG Key")}

= content_for :content do
  .grid_10
    = kt_form_for GpgKey.new, :html => {:id => "upload_new_gpg_key"} do |form|

      = form.text_field :name, :label => _("Name"), :class => "grid_6"

      = form.file_field :content_upload, :id => "gpg_key_content_upload", :label => _("Upload"), :class => "grid_6"

      %fieldset
        .grid_2.la.push_2
          = submit_tag _("Upload"), :id => :upload_gpg_key, :tabindex => form.tabindex
        .grid_1.push_5
          = submit_tag _("Clear"), :id => :clear_upload_gpg_key, :disabled => true, :tabindex => form.tabindex, :type => 'button', :class => 'button'

      = form.field :or, :label => _("or")

    = kt_form_for GpgKey.new, :html => {:id => "new_gpg_key"}, :tabindex => 5 do |form|

      = form.text_area :content, :id=> "gpg_key_content", :size => "40x15", :label => _("Paste GPG Key"), :class => "grid_6", :maxlength=> Validators::KatelloDescriptionFormatValidator::MAX_LENGTH

      %fieldset
        .grid_2.la.push_2
          = submit_tag _("Save"), :id => :save_gpg_key, :tabindex => form.tabindex
        .grid_1.push_5
          = submit_tag _("Clear"), :id => :clear_gpg_key, :disabled => "disabled", :tabindex => form.tabindex, :type => 'button', :class => 'button'

= render :template => "layouts/tupane_layout"
