<div class="row">
  <h3><%= _('Pulpcore') %></h3>
</div>
<%= show_feature_version('pulpcore') %>
<div class="row">
  <div class="col-md-4">
    <strong><%= _('Supported Content Types') %></strong>
  </div>
  <div class="col-md-8">
    <ul style="list-style-type: none; padding: 0">
    <% @smart_proxy.supported_pulp_types[:pulp3][:supported_types].each do |content_type| %>
      <li><%= content_type %></li>
    <% end %>
    <% @smart_proxy.supported_pulp_types[:pulp3][:overriden_to_pulp2].each do |content_type| %>
      <li><%= content_type + " (supported, but overridden to use Pulp 2)" %></li>
    <% end %>
    </ul>
  </div>
</div>