%article#comparison_grid
  #grid_header
    %header
      %a.fl.button.hidden#return_to_results_btn
        %i.left_arrow-icon-black
        = _("Back to Results")
      %h2.fl{ "data-title" => "results" }
        = _("Search Results")
      %div.fl.hidden#left_select
        %label
          = _("Show")
        %select
      %h2.hidden.fl.one-line-ellipsis{ "data-title" => "details" }
      %div.fr.hidden#right_select
        %label
          = _("View")
        %select
    %div
      %aside
        -#"Filter goes here"
      %div#column_headers_container
        .slide_arrow.hidden{ 'data-arrow_direction' => 'left' }
          .slide_trigger
          %span.left_arrow-icon-black.disabled
        .slide_arrow.hidden{ 'data-arrow_direction' => 'right' }
          .slide_trigger
          %span.right_arrow-icon-black
        #column_selector
          %span.path_button.add_env-icon-black
        #column_headers_window
          %ul#column_headers
  %section
    %ul#grid_row_headers
    #grid_content_window
      #grid_content
    #grid_loading_screen.hidden
      .large_spinner
  %footer
    %div.fl
    %ul.fl
      %li
        %a.button#compare_repos_btn.hidden{ :title => _("Select a set of repositories that you wish to compare the contents of by clicking the checkboxes inside the cells.") }
          = _("Compare Repositories")
