= javascript :content_search
= stylesheet :content_search

= javascript do
  :plain
    KT.available_environments = $.parseJSON('#{escape_javascript(environments.to_json)}');

= render :partial => "browser_box"

= render :partial => "grid"
