= javascript :login

.modalbox
  %h2 #{_('Log In')}
  .katello_form
    = form_tag user_session_path, :id=>:login_form, :method => "post" do
      %fieldset
        = label_tag :username
        = text_field_tag :username, params[:username]
      %fieldset
        = label_tag :password
        = password_field_tag :password, params[:password]
      %div.indented
        = check_box_tag :remember_me
        = label_tag :remember_me
      = submit_tag _('Log In'), :class => 'submit dialogbutton'