%nav#orgSwitcherNav.nav.left{"ng-class" => "{'active-item': orgSwitcher.visible}"}
  %ul#organizationSwitcher.menu-container{"ng-click" => "orgSwitcher.toggleVisibility()", "ng-cloak" => ''}
    %li.menu-item
      - if current_organization && !current_organization.name.nil?
        %a.menu-item-link.organization-name.clickable{:title=>"#{current_organization.name}", "ng-class" => "{'active-item': orgSwitcher.visible}"}
          = current_organization.name
          %i.icon-caret-down
      - elsif user.allowed_organizations.length == 0
        %a.menu-item-link.organization-name{"ng-class" => "{'active-item': orgSwitcher.visible}"}
          = _("No Organization")
      - else
        %a.menu-item-link.organization-name.clickable{:title=>""}
          = _("Select an Organization")
          %i.icon-caret-down
      %span.dropdown{"ng-show" => "orgSwitcher.visible", "ng-class" => "{'dropdown-active': true}"}
        %span.spinner
        %ul#allowed-orgs{"org-switcher" => ""}
        - if Organization.any_readable?
          %div#manage_orgs.menu-item
            %a.menu-item{:href=>organizations_path()}
              %span{:class=>"fl clearfix"}
                #{_("Manage Organizations")}
