= javascript 'katello/widgets/filtertable', 'katello/activation_keys/activation_key_subscriptions'

= content_for :title do
  #{@activation_key.name}

= content_for :remove_item do
  = link_to _("Remove Activation Key"), activation_key_path(@activation_key.id), :confirm => _('Are you sure?'), :method => :delete, :class=>"remove_item", :remote=>true

= content_for :navigation do
  = render_menu(1..2, activation_keys_navigation)


= content_for :content do
  #subscriptions
    .full.lower_content.clear
      .subscription-info
        =image_tag( "icons/info.png", :class=>"fl", :id=>"info_#{@activation_key.id}", :style=>"margin-right:1px;")
        = _("Displaying subscriptions for selected environment: %{env} and selected content view: %{cv}.") % {:env=>@activation_key.environment.name, :cv=>@activation_key.content_view.name}
      %div
        = render :partial => "common/filter_table"

      = form_tag add_subscriptions_activation_key_path(@activation_key), :id=>"subscription_form", :method=>"post", :remote=>true do

        - if editable && available_subs.length > 0
          = submit_tag _('Attach to Key'), :class => 'submit button fr', :id=>"subscription_submit_button", :disabled=>"disabled"

        = render :partial => "subscriptions", :locals => {:product_families => available_subs}

= render :template => "layouts/tupane_layout"
