%div
  %div{:class => 'column_2'}
    .product
      .status_icon{:class => "#{item.send('compliance_color')}"}
    %div.one-line-ellipsis#heading_title{:style => "padding-top: 2px;"}
      = item.send('name')
  %div{:class => 'column_2'}
    = get_checkin(item)
%div
  %div{:class => 'column_1'}
    %ul
      %li
        &nbsp;&nbsp;
        = _('OS: ')
        = item.send('distribution_name')
        &nbsp;&nbsp;
        = System.architectures[item.send('arch')]
      %li
        &nbsp;&nbsp;
        = _('IP: ')
        = item.send('ip')
.arrow-right
