= javascript do
  -if systems_deletable
    :plain
      $(document).ready(function() {
        KT.system_groups.systems_setup(true);
      });
  -else
    :plain
      $(document).ready(function() {
        KT.system_groups.systems_setup(false);
      });

= render :partial => "system_groups/tupane_header"

= content_for :content do
  #system_group_systems.full{'data-id'=>@group.id}
    %input#system_group_id{:name => @group.id, :type => "hidden", :value => "#{name}_#{@group.id}", "data-ajax_url"=>url_for(:action=> 'update')}
    %form#system_form
      -if editable
        %table.list
          %thead
            %th
              -#%span.fr.details-icon.tipsy{"data-help" => _('This allows you to search for systems and add them to the selected system group.')}
              -##{_("Add Systems")}

          %tbody
            %tr.no_sort.not_filtered
              %td
                %div
                  - help_text = _("Enter system name...")
                  %input#add_system_input_id{:type=>'hidden'}
                  %input{:type=>'text', :id=>'add_system_input', :size=>'30', :placeholder => help_text, :title => help_text, :tabindex => auto_tab_index}
                  %input#add_system.button{:style => 'padding-left: 10px;', :value=>_("Add"), :type=>:button, :tabindex => auto_tab_index}

      %table#systems_table.filter_table.list
        %thead.header
          %tr
            %td{:colspan => 4}
              %a.subpanel_element{"data-url" => edit_systems_system_group_path(@group.id)}
                = _("Edit Details for All Systems")
          %tr
            %th
              = _("Name")
            %th
              = _("Environment")
            %th
              = _("Content View")
            %th
              = _("Added")
        %tbody
          %tr.empty_row{:class=>(:hidden if !@system_joins.empty?)}
            %td
              = _("No systems currently exist in this system group.")
            %td
          = render :partial=>'system_item', :collection=>@system_joins, :as=>:system


= content_for :footer do
  .full
    %input#remove_systems.fr.button{:type=>:button, :value=>_("Remove Selected")}

= render :template => "layouts/tupane_layout"
