= javascript :edit_helpers

= content_for :title do
  #{@filter.name}

= content_for :remove_item do
  - if filter.deletable?
    = link_to _("Remove Filter"), {:action => "destroy", :controller => "filters"}, :method => :delete, :confirm => _('Are you sure you want to delete this filster?'), :class => "remove_item", :remote=>true

= content_for :navigation do
  = render_menu(1..2, package_filter_navigation)

= content_for :content do
  #package_filter
    %input{:name=> @filter.id, :type => "hidden", :value => "#{name}_#{filter.id}", "data-ajax_url"=>url_for(:action=> 'update')}
    .grid_9
      = form_for(@filter, :html => {:multipart => true, :method => :put, :id => 'filter_edit', :remote => true}, :url => filter_path(@filter)) do |f|
        %input#filter_id{:name => @filter.id, :type => "hidden", :value => "#{name}_#{@filter.id}", "data-ajax_url"=>url_for(:action=> 'update')}
        %fieldset.fl.clear
          .grid_2.ra
            %label #{_("Name")}:
          .grid_5.la#filter_name{'name' => 'filter[name]', 'data-url' => filter_path(@filter.id), :class=>("edit_name editable" if editable)} #{@filter.name}

        - unless @filter.description.blank?
          %fieldset.fl.clear
            .grid_2.ra
              %label #{_("Description")}:
            .grid_5.la{:style => "word-wrap: break-word;"}<> #{@filter.description}