
= content_for :title do
  #{_("New Package Filter")}

= content_for :navigation do
  / pretty

= content_for :content do
  #provider
    = kt_form_for @filter, :html => {:method => :post}, :url => filters_path do |f|

      = f.text_field :name, :label => _("Name"), :size => 30
      = f.text_area :description, :label => _("Description"), :size => "40x8"

      = f.submit _("Save")