- if controller.respond_to?(:section_id)
  - section_id = controller.section_id
- elsif @body_id
  - section_id = @body_id
- else
  - section_id = "generic"

= content_for(:stylesheets) do
  = stylesheet "katello/katello"
  = stylesheet "katello/#{controller.section_id}"

= content_for(:javascripts) do
  = javascript_include_tag "katello/common/vendor"
  = javascript_include_tag "katello/common"
  = yield(:katello_javascripts)

= content_for(:inline_javascripts) do
  :plain
    KT.routes.options.prefix = "#{Katello.config.url_prefix}";
  = render :partial => "katello/common/common_i18n"

= content_for(:content) do
  %article#maincontent
    %section.maincontent.container_16{:id => section_id}
      = yield

= render :template => 'layouts/base'
