<% content_for(:stylesheets) do %>
    <%= webpacked_plugins_css_for :katello %>
<% end %>

<% content_for(:javascripts) do %>
    <%= webpacked_plugins_js_for :katello %>
<% end %>

<% content_for(:content) do %>
    <div id="organization-id" data-id="<%= Organization.current.id if Organization.current %>" ></div>
    <div id="user-id" data-id="<%= User.current.id if User.current %>" ></div>
    <div id="reactRoot">
      <%= react_component('katello') %>
    </div>
<% end %>
<%= render file: "layouts/base" %>
