- pid = prod[:id]
%tr.product{:id=>product_id(pid)}
  -#%td{:class=>'product', 'data-id'=>prod.id}
  %td
    -#= check_box_tag "product[#{pid}]", '', '', :disabled=>!@sproducts.include?(prod)
    #{prod[:name]}
  %td.max_width.start_time

  %td.max_width.duration

  %td.size
    #{@product_size[pid]}

  %td.result{:id =>'table_#{pid}'}



= render :partial=>"children", :locals=>{:children=>prod[:children], :parent_set=>[pid]} if !prod[:children].empty?

= render :partial=>"repo", :collection=>prod[:repos].sort{|a,b| a.name <=> b.name},
                  :as=>:repo, :locals=>{:parent_set=>[pid]} if !prod[:repos].empty?



  