
        -#%tr{:class=>cycle("", "alt")}
        %tr{:class=>product_class(p.id)}
          %td{:class=>'product', 'data-id'=>p.id}
            / does user have sync permissions?
            - if @sproducts.include?(p)
              =check_box_tag "product[#{p.id}]"
              .clickable
                %a{ :href => "#", :onclick => ""}
                  = image_tag('icons/expander-collapsed.png', :alt => _('Expand'))
                #{p.name}
              %ul
                -for r in @product_repos[p.id]

            - else 
              / user does not have sync permissions
              =check_box_tag "product[#{p.id}]", nil, false, :disabled => true
              .clickable
                %a{ :href => "#", :onclick => ""}
                  = image_tag('icons/expander-collapsed.png', :alt => _('Expand'))
                #{p.name}
              %ul
                -for r in @product_repos[p.id]
                  %li{:class=>'repo'}
                    / put the product's id in the value field so we know what product is syncing
                    =check_box_tag "repo[#{r.id}]", value="#{p.id}", false, :disabled => true
                    #{r.name}


            %ul
              -for r in @product_repos[p.id]
                %li{:id =>"#{'repo_sync_start_' + r.pulp_id.to_s}", :class=>'repo'}




            %ul
              -for r in @product_repos[p.id]
                %li{:id =>"#{'repo_sync_finish_' + r.pulp_id.to_s}", :class=>'repo'}


            %ul
              -for r in @product_repos[p.id]
                %li{:id =>"#{'repo_sync_size_' + r.pulp_id.to_s}", :class=>'repo'}



            %ul{:id =>"#{'prod_' + p.id.to_s}"}
              -for r in @product_repos[p.id]
                %li{:id =>"#{'repo_bar_' + r.pulp_id}"}


  .actions
    - if @sproducts.length > 0
      .grid_2
        %a{ :href => "#", :id=>"select_none", :class=>"fl" }
          #{_("Select None")}
      .grid_2
        %a{ :href => "#", :id=>"select_all", :class=>"fl" }
          #{_("Select All")}
    .grid_3
      %a{ :href => "#", :id=>"toggle_all", :class=>"fl" }
        #{_("Expand/Contract All")}
    - if @sproducts.length > 0
      = submit_tag _('Synchronize Now'), :class => 'dialogbutton fr', :id => 'sync_button'
