-# repo,  parent_set
%tr{:class=>parent_set_class(parent_set), :id=>repo_id(repo)}
  %td.one-line-ellipsis
    =check_box_tag "repos", repo.id, false
    #{repo.name}
  %td.start_time
    #{@repo_status[repo.id][:start_time]}
  %td.duration
    #{@repo_status[repo.id][:duration]}
  %td.size
    #{@repo_status[repo.id][:size]}
    (#{@repo_status[repo.id][:packages]})
  %td.result
    #{@repo_status[repo.id][:state]}