-# repo,  parent_set
%tr{:class=>parent_set_class(parent_set), :id=>repo_id(repo)}
  %td
    =check_box_tag "repo[#{repo.id}]", value="#{repo.product.id}"
    #{repo.name}
  %td
    #{@repo_status[repo.id][:start_time]}
  %td
    #{@repo_status[repo.id][:duration]}
  %td
    #{@repo_status[repo.id][:size]}
    #{'(#{@repo_status[repo.id][:packages]})'}
  %td
    #{@repo_status[repo.id][:state]}