.grid_12#list_actions
  - if @products.length > 0
    .grid_2
      %a#collapse_all.fl= _("Collapse All")
    .grid_2
      %a#expand_all.fl= _("Expand All")
    - if syncable?
      .grid_2
        %a#select_none.fl= _("Select None")
      .grid_2
        %a#select_all.fl= _("Select All")
  #sync_toggle_cont.grid_3
    %input#sync_toggle{:type=>'checkbox'}
    %label{:for=>"sync_toggle"}= _('Only show syncing.')