= javascript :edit_helpers, :system_template_edit

= content_for :title do
  #{_("Edit Sync Plan")}

= content_for :navigation do
  / pretty

= content_for :remove_item do
  - if editable
    = link_to _("Remove System Template"), {:action => "destroy", :controller => "system_templates"}, :method => :delete, :confirm => _('Are you sure?'), :class => "remove_item", :remote => true

= content_for :content do
  %input#template_id{:name => @template.id, :type => "hidden", :value => @template.id, "data-ajax_url"=>url_for(:action=> 'update')}
  .grid_8#plan
    %fieldset.fl.clear
      %label.grid_2 #{_("Name")}:
      .grid_5.la#template_name{'name' => 'system_template[name]', :class=>("editable edit_templatename" if editable), 'data-url' => url_for(:action => 'update')} #{@template[:name]}
    %fieldset.fl.clear
      %label.grid_2 #{_("Description")}:
      .grid_5.la#plan_description{'name' => 'system_template[description]', :class=>("editable edit_textarea" if editable), 'data-url' => url_for(:action => 'update')} #{@template[:description]}
