= javascript :system_template_promotion

= content_for :title do
  = template.name

= content_for :content do
  .clear
  %fieldset.grid_5
    %label #{_("Name")}:
    = template.name
  #system_template_promotion_tabs
    .grid_5
      %h5 #{_("Contents:")}
      -if template.products.empty? && template.packages.empty?
        .grid_2.prefix_1
          #{_("This template contains no content.")}
      -else
        #system_template_accordion.grid_7.system_templates_tab
          - unless template.products.empty?
            %h3
              %a{:href=>'#'}= _("Products")
            #system_templates.system_templates_tab
              %ul
                -for prod in template.products
                  %li #{prod.name}
          - unless template.packages.empty?
            %h3
              %a{:href=>'#'}= _("Packages")
            .system_templates_tab
              %ul.package_item_entry
                - template.packages.each do |package|
                  %li
                    = package.package_name