


= javascript :panel, :edit, :system_template
= include_editable_i18n




= javascript do
  :javascript
    KT.content_breadcrumb = $.parseJSON('#{escape_javascript(template_content_breadcrumb())}');
    KT.template_breadcrumb = $.parseJSON('#{escape_javascript(generate_template_breadcrumb())}');
    localize({
      "add": '+ #{_('Add')}',
      "add_plus": '+ #{_('Add')}',
      "remove": '#{_('Remove')}',
      "products": '#{_('Products')}',
      "packages": '#{_('Packages')}',
      "edit_label": '#{_("Edit Details")}',
      "edit_close_label": '#{_("Close Edit")}',
      "add_label": '#{_("Add")}',
      "add_close_label": '#{_("Cancel Add")}',
      "templates_empty": '#{_("No System Templates are currently defined")}',
      "save" : '#{_("Save")}',
      "saving" : '#{_("Save")}',
      "default_search_text": '#{_("Search available package names...")}',

      });


.grid_16
  #container


    .right_tree.sliding_tree
      #template_tree
        %h2= _("System Templates")
        .breadcrumb_search.fl.clear.clickable
          %form#search_form.search.clear
            %input{ :name => "s", :type => "input", :placeholder => "Filter...", :id=>"search_filter"}
            %button.action #{_("Search")}
            %br.clear

          .search_button.fr.clickable
            #{_('Search')}

          .tree_breadcrumb.clickable.clear
        .sliding_container
          #template_list.list.sliding_list{"data-page_size"=>current_user.page_size}
            #tree_loading.slider.tree_loading
              .text
                = _("Loading System Template")
                = image_tag ("spinner.gif")
            #tree_saving.slider.tree_loading
              .text
                = _("Saving System Template")
                = image_tag ("spinner.gif")
            .slider_one.has_content.slider.will_have_content
            .slider_two.no_content.slider


        #add_template_container.slide_up_container
          %h2= _("New System Template")
          = render :partial=>"new"

        #edit_template_container.slide_up_container
          %h2= _("Edit System Template")
          = render :partial=>"edit", :locals=>{:editable=>true}
        #sliding_tree_actionbar.clickable
          #add_template.cs_action
            %span#add_template_icon.sprite
              SPRITE
            %span.text
              = _("Add")
          #edit_template.cs_action
            %span#edit_template_icon.sprite
              SPRITE
            %span.text
              = _("Edit")
          #remove_template.cs_action{ "data-confirm-text" => "#{_('Are you sure you want to remove this template?')}" }
            %span#remove_template_icon.sprite
              SPRITE
            %span.text
              = _("Remove")
          #save_template.cs_action.disabled
            %span#save_template_icon.sprite
              SPRITE
            %span.text
              = _("Save")



    = render :partial=>"common/tupane"
    #content_tree.left.sliding_tree
      %h2= _("Eligible Content")
      .tree_breadcrumb.clickable.clear
      .sliding_container
        #list.list.sliding_list{"data-page_size"=>current_user.page_size}
          .slider_one.has_content.slider
          .slider_two.no_content.slider



#error_dialog{:style=>"display: none"}
  = _("An error has occured when communicating with the server, please refresh the page to retrieve the current System Template")
