<% if @taxonomy.is_a?(Organization) %>

  <%= javascript_include_tag 'katello/organizations/download_certificate' %>

  <%= text_f f, :label, :disabled => true, :class => 'input-xlarge' %>
  <%= selectable_f(f, :service_level, options_for_select(service_level_options, service_level_selected), {}, :label => _('Default System SLA')) %>

  <%= field(f, _('Debug Certificate'),
            :help_inline => _('This certificate allows a user to view the repositories in any environment from a browser.')) do
    button_tag _('Generate and Download'), :id => :download_debug_cert_key,
               :type => :button, :style => 'margin-top: 8px;', :class => 'btn btn-small',
               'data-url' => "/katello/api/v2/organizations/#{@taxonomy.id}/download_debug_certificate"
  end %>

  <%= field(f, _('Simple Content Access')) do
    tag1 = hidden_field_tag 'simple_content_access', '0'
    tag2 = check_box_tag 'simple_content_access', '1', @taxonomy.simple_content_access?(cached: false)
    tag1 + tag2
  end %>

  <div class="alert alert-warning" role="alert">
    <%= _('Simple Content Access will be required for all organizations in Katello 4.12.') %>
  </div>

<% end %>
