/common translations
:plain
  localize({
    "confirm_request": '#{escape_javascript(_('Are you sure?'))}',
    "validation_errors": '#{escape_javascript(_('Validation Failed:'))}',
    "add": '+ #{escape_javascript(_('Add'))}',
    "add_plus": '+ #{escape_javascript(_('Add'))}',
    "remove": '#{escape_javascript(_('Remove'))}',
    "items_selected": '#{escape_javascript(_(" items selected."))}',
    "yes": '#{escape_javascript(_('Yes'))}',
    "no": '#{escape_javascript(_('No'))}',
    "ok": '#{escape_javascript(_('Ok'))}',
    "alert": '#{escape_javascript(_('Alert'))}',
    "confirmation": '#{escape_javascript(_('Confirmation'))}',
    "error": '#{escape_javascript(_('Error'))}',
    "row_error": '#{escape_javascript(_('There was an error retrieving that row:'))}',
    "add_all": '#{escape_javascript(_('Add All'))}',
    "remove_all": '#{escape_javascript(_('Remove All'))}',
    "cancel": '#{escape_javascript(_("Cancel"))}',
    "upload": '#{escape_javascript(_("Upload"))}',
    "uploading": '#{escape_javascript(_("Uploading"))}',
    "clickToEdit": '#{escape_javascript(_("Click to edit"))}',
    "copy": '#{escape_javascript(_("Copy"))}',
    "save": '#{escape_javascript(_("Save"))}',
    "saving": '#{escape_javascript(_("Saving..."))}',
    "close": '#{escape_javascript(_("Close"))}',
    "x_of_y_total" : function(x,y,z){ return '#{escape_javascript(_("Viewing %X of %Y results (%Z Total)"))}'.replace("%X", x).replace("%Y", y).replace("%Z", z); },
    "x_of_y" : function(x,y){ return '#{escape_javascript(_("Viewing %X of %Y results"))}'.replace("%X", x).replace("%Y", y); },
    "x_more" : function(x){ return '#{escape_javascript(_("(Load %X More)"))}'.replace("%X", x);},
    "installing" : '#{escape_javascript(_("Installing"))}',
    "install_finished" : '#{escape_javascript(_("Install Finished"))}',
    "install_error" : '#{escape_javascript(_("Error on Install"))}',
    "unlimited": '#{escape_javascript(_('Unlimited'))}',
    "name": '#{escape_javascript(_('Name'))}',
    "description": '#{escape_javascript(_('Description'))}',
    "do_not_open_copy": '#{escape_javascript(_('Do not open the copy upon completion'))}',
  });
