/common translations
:javascript
  localize({
    "confirm_request": '#{_('Are you sure?')}',
    "validation_errors": '#{_('Validation Failed:')}',
    "add": '+ #{_('Add')}',
    "add_plus": '+ #{_('Add')}',
    "remove": '#{_('Remove')}'
  });