/translations needed for jeditable
:javascript
  localize({
    "cancel": '#{_('Cancel')}',
    "upload": '#{_('Upload')}',
    "uploading": '#{_('Uploading')}',
    "clickToEdit": '#{_('Click to edit')}',
    "save": '#{_('Save')}',
    "saving": '#{_('Saving...')}'
  });
