= content_for(:appname) do
  = AppConfig.app_name.upcase

= content_for(:logo) do
  = link_to AppConfig.app_name.upcase, dashboard_index_path, :title=>AppConfig.app_name.upcase, :class => "logo"

= content_for(:header_title_2) do
  = AppConfig.app_name.upcase

= content_for(:tabs) do
  - if not current_user.nil?
    = render_menu(1)

= content_for(:widgets) do
  = hidden_field_tag 'get_notices_url', nil, 'data-url' => notices_get_new_path
  = link_to _("Logout"), logout_path, :method=>"POST", :class => "header-widget"
  - if current_user
    = link_to current_user.user_notices.length, notices_path, :id => "unread_notices", :title => _("System Notifications"), :class => "header-widget"
    = render_admin_menu
    = link_to current_user.username, "#{users_path(:id => current_user, :only => true)}#panel=user_#{current_user.id}", :class => "header-widget"
= content_for(:extra_header) do
  - if current_user
    = render :partial => '/layouts/org'
