= content_for(:stylesheets_block) do
  = include_stylesheets :loginpage

= content_for(:javascripts_block) do
  = include_javascripts :common
  = include_javascripts :converge_ui

= content_for(:login_logo) do
  = image_tag("embed/logo.png", :alt => _('Katello Logo'))

= content_for(:title) do
  = project_name
  = "-"
  = default_title

= content_for(:head) do
  = csrf_meta_tag
  / [if lt IE 9]
    = include_javascripts  :html5
  / [if IE]
    = include_stylesheets :ie, :embed_assets => false

= content_for(:extra) do
  %script{ :type => "text/javascript" }
    -if protect_against_forgery?
      :plain
        var AUTH_TOKEN = #{form_authenticity_token.inspect};
    = render :partial => 'common/ajax_notices'
    = render :partial => 'common/notification'

= content_for(:interstitial) do
  %h2 #{_("Choose an Organization")}
  = render :partial => "/layouts/org"

= content_for(:footer) do
  = render :partial => "common/footer"