
<%= javascript "katello/hosts/activation_key_edit" %>


<div class="tab-pane" id="activation_keys">
  <%= field(f, _("Activation Keys"),
            :help_inline => _("comma separated values. The value will be available in templates as @host.params['#{kt_ak_label}']")) do
    text_field_tag("kt_activation_keys", "", :style => 'width: 98%')
  end %>

  <div class="alert alert-info">
    <p><b><%= _('Subscriptions information based on selected activation keys:') %></b></p>
    <ul id="ak-subscriptions-info"></ul>

    <div id="ak-subscriptions-spinner" style="display: none">
      <%= image_tag "spinner.gif" %>
    </div>

    <p><%= _('Activation keys and subscriptions can be managed') %>
      <b><a href="/activation_keys" target="_blank"> <%= _('here') %></a></b>
    </p>
    <p><%= subscription_manager_configuration_url %></p>
    <p><a href="" id="ak_refresh_subscriptions"><%= _('Reload data') %></a></p>
  </div>
</div>
