<%
   if using_discovered_hosts_page?
     media_selection =  use_install_media(@host, :selected_host_group => @host&.hostgroup)
     kickstart_options = kickstart_repository_options(@host, :selected_host_group => @host&.hostgroup)
   elsif using_hostgroups_page?
     media_selection =  use_install_media(@hostgroup)
     kickstart_options = kickstart_repository_options(@hostgroup)
   else
    media_selection = use_install_media(@host, :selected_host_group => @hostgroup)
     kickstart_options = kickstart_repository_options(@host, :selected_host_group => @hostgroup)
   end
   install_media_radio  = media_selection ? 'checked="checked"':''
   synced_content_radio  = media_selection ? '' : 'checked="checked"'
   install_media_disabled = os_media.empty? ? 'disabled = true' : ''
   synced_content_disabled = kickstart_options.empty? ? 'disabled = true' : ''
%>

<div class="clear-fix" id="media_selection_section">
  <div class="form-group">
     <label class="col-md-2 control-label" for="use_install_media">
        <%= _('Media Selection') %>
     </label>
     <div class="col-md-4">
        <label class="radio-inline">
          <input data-media-selector="true" id="host_use_synced_content" name="media_selector" value="synced_content" type="radio" 
            <%= synced_content_radio  %> 
            <%= synced_content_disabled %>
          /> 
          <%= _('Synced Content') %>
        </label>
        <%= popover("", "To enable the synced content option, this host must use a content source, content view, and lifecycle environment which contain synced kickstart repositories for the selected architecture and operating system.") %>
        <label class="radio-inline">
          <input data-media-selector="true" id="host_use_install_media" name="media_selector" value="install_media" type="radio" 
            <%= install_media_radio  %> 
            <%= install_media_disabled  %>
          /> 
          <%= _('All Media') %>
        </label>
        <span class="help-block">
          <%= _("Select the installation media that will be used to provision this host. Choose 'Synced Content' for Synced Kickstart Repositories or 'All Media' for other media.") %>
        </span>
      </div>
  </div>
</div>