= javascript do
  :plain
    localize({
      "noDefaultEnv": '#{escape_javascript(_("No default environment. Select an organization to choose from available environments."))}'
    });
    env_select.original_env_id = '#{@old_env ? @old_env.id : ''}';
    env_select.ajax_params = {};
    env_select.ajax_params["user_id"] = '#{@user.id}';

= content_for :title do
  #{@user.login}

= content_for :remove_item do
  -if @user.deletable?
    = link_to _("Remove User"), { :controller => "users", :action => "destroy" }, :confirm => _('Are you sure you want to remove this user?'), :method => :delete, :class=>"remove_item", :remote=>true

= content_for :navigation do
  = render_subnav_menu(1..2, user_navigation)

= content_for :content do
  %fieldset.fl.clear
    %h5
      #{_("New System Registration Default:")}
  .clear
    %div.helptip
      %p
        = _('Setting a default organization for a user results in the following:')
      %ul.text-list
        %li
          = _("During log in, the user will be automatically logged into the organization")
        %li
          = _("New systems registered by the user without specifying an environment will be automatically registered to this organization's Library environment.")
  %fieldset.fl.clear
    .grid_2.ra
      = label :user, :org, _("Organization:")
  - if editable
    .grid_7.la
      = organization_select(@organization ? @organization.id : nil, true, _('No Default'))
    .grid_7.la
      #update_user.disabled.button{'data-url'=>update_environment_user_path(@user.id)}
        #{_("Save")}
  - else
    .grid_7.la#org_name
      = @old_env ? @old_env.organization.name : _("No system registration default set for this user.")

= render :template => "katello/layouts/tupane_layout"
