= javascript do
  :plain
    //what button should be disabled when passwords don't match

    localize({
      "password_match": '#{escape_javascript(_('The passwords do not match'))}',
      "very_weak": '#{escape_javascript(_("Very Weak"))}',
      "weak": '#{escape_javascript(_("Weak"))}',
      "good": '#{escape_javascript(_("Good"))}',
      "strong": '#{escape_javascript(_("Strong"))}',
      "meterText": '#{escape_javascript(_("Password Strength"))}',
      "loginMatch": '#{escape_javascript(_("The password should not contain the login."))}'
    });

= javascript 'katello/widgets/jquery.jeditable.helpers'

#users
  .grid_10

    %fieldset
      .grid_3.ra
        = label :user, :name, _("Login:")
      #username.grid_5.la
        #{@user.login}

    %fieldset
      .grid_3.ra
        = label :user, :helptips_enable, _("Inline Help Enabled:")
      .grid_5.la
        - if editable
          = check_box("user", "helptips_enabled", :id=>"helptips_enabled", 'data-url'=>user_path(@user.id), :checked=>@user.helptips_enabled ? "checked": "")
        - else
          = @user.helptips_enabled ? _("Yes") : _("No")

    %fieldset
      .grid_3.ra
        = label :user, :legacy_mode, _("Legacy Mode:")
      .grid_5.la
        - if editable
          = check_box("user", "legacy_mode", :id=>"legacy_mode", 'data-url'=>user_path(@user.id), :checked=>@user.legacy_mode ? "checked": "")
        - else
          = @user.legacy_mode ? _("Yes") : _("No")

    - if editable
      %fieldset.fl.clear
        .grid_3.ra
          = label :user, :helptips, _("Clear Disabled Helptips:")
        .grid_5.la
          #clear_helptips{:class=>"button", "data-url"=>clear_helptips_katello_user_path(@user.id)}
            = _("Clear")

  - if !ldap
    .grid_10
      = form_tag katello_user_path(@user), :method => :put, :remote => true do
        %fieldset
          .grid_3.ra
            = label :user, :mail, _("Email Address:")
          .grid_5.la{'name' => 'user[mail]',  :class => editable_class(editable), 'data-url' => katello_user_path(@user)} #{@user.mail}

  .grid_10
    = form_tag update_locale_katello_user_path(@user), :id => "locale_form", :method => :put, :remote => false do
      %fieldset
        .grid_3.ra
          = label :user, :locale, "%s:" % _("Preferred Locale")
        - if editable
          .grid_5.la
            = locale_select @user.default_locale
        - else
          .grid_5.la
            =  @user.default_locale  || "#{_('Browser Default Locale')}"
