= content_for :title do
  #{_("New Changeset")}

= content_for :navigation do
  / pretty

= content_for :content do
  .grid_8#new_changeset123
    -if @next_environment
      = form_tag changesets_path, :method => "post", :id => "new_changeset" do |f|
        %input{ :type => "hidden", :name => "env_id", :value => @environment.id }
        %input{ :type => "hidden", :name => "next_env_id", :value => @next_environment.id }
        %fieldset
          .grid_2.ra
            %label #{_("Name")}:
          .grid_4.la
            = text_field_tag :name, params[:name], :tabindex => auto_tab_index
        %filedset
          .grid_2.ra
            %label #{_("Description")}:
          .grid_4.la
            = text_area_tag :description, nil, :tabindex => auto_tab_index
        .grid_5.ra
          .button#save_changeset_button{:tabindex => auto_tab_index}
            #{_("Save Changeset")}
    -else
      #{_("Cannot create a new changeset without a next environment to promote in to. <br> Create a next environment on the organization screen.")}