= content_for :title do
  #{_("New System Template")}

= content_for :navigation do
  / pretty

= content_for :content do
  = kt_form_for SystemTemplate.new, :html => {:id => 'new_system_template'} do |form|

    = form.text_field :name, :label => _("Name")

    = form.text_area :description, :label => _("Description"), :size => "30x5"

    = form.submit _("Save"), :id => :template_save

= render :template => "layouts/tupane_layout"
