= javascript :system_template_promotion

= content_for :title do
  = template.name

= content_for :content do
  .clear

  %fieldset
    .grid_2.ra
      %label #{_("Name")}:
    .grid_5.la
      = template.name

  %fieldset
    .grid_2.ra
      %label #{_("Description")}:
    .grid_5.la
      = template.description


  #system_template_promotion_tabs
    .grid_5
      %h5 #{_("Contents:")}
      -if template.products.empty? && template.packages.empty?
        .grid_4.prefix_1
          #{_("This template contains no content.")}
      -else
        #system_template_accordion.grid_7.system_templates_tab
          - unless template.products.empty?
            %h3
              %a{:href=>'#'}= _("Products")
            .system_templates.system_templates_tab
              %ul
                -for prod in template.products
                  %li #{prod.name}
          - unless template.repositories.empty?
            %h3
              %a{:href=>'#'}= _("Repositories")
            .system_templates_tab
              %ul.repo_item_entry
                - template.repositories.each do |repo|
                  %li
                    = repo.name
          - unless template.package_groups.empty?
            %h3
              %a{:href=>'#'}= _("Package Groups")
            .system_templates_tab
              %ul.package_group_item_entry
                - template.package_groups.each do |group|
                  %li
                    = group.name
          - unless template.packages.empty?
            %h3
              %a{:href=>'#'}= _("Packages")
            .system_templates_tab
              %ul.package_item_entry
                - template.packages.each do |package|
                  %li
                    = package.package_name
          - unless template.distributions.empty?
            %h3
              %a{:href=>'#'}= _("Distribution")
            .system_templates_tab
              %ul.distro_item_entry
                - template.distributions.each do |distro|
                  %li
                    = distro.distribution_pulp_id

= render :template => "layouts/tupane_layout"
