

%ul.expand_list
  -if products.empty?
    #{_("No products")}
  -for product in products
    %li.clear.slide_link
      %a.product_add_remove.st_button.fr{ "data-id" => product.id, "data-name"=>product.name}
        = "+ #{_("Add")}"
      .link_details{:id=>packages_bc_id(product)}
        - if product.provider.provider_type == Provider::REDHAT
          %span.rh-product-sprite
        - else
          %span.custom-product-sprite
        %span.product-icon{:style=>"display: inline;"}
          #{product.name}&nbsp;
          - for arch in product.repos(@environment).collect{|repo| repo.arch }.uniq
            .product_arch
              = arch



%br.clear
