= javascript :system_template

= javascript do
  :plain

    KT.permissions = {
      editable: #{editable}
    }
    KT.content_breadcrumb = $.parseJSON('#{escape_javascript(template_content_breadcrumb())}');
    KT.template_breadcrumb = $.parseJSON('#{escape_javascript(generate_template_breadcrumb())}');
    KT.product_hash = $.parseJSON('#{escape_javascript(product_hash.to_json)}');
    KT.package_groups = $.parseJSON('#{escape_javascript(package_groups.to_json)}');
    KT.product_distributions = $.parseJSON('#{escape_javascript(product_distro_map.to_json)}');
    KT.repo_distributions = $.parseJSON('#{escape_javascript(repo_distro_map.to_json)}');

    localize({
      "products": '#{escape_javascript(_('Products'))}',
      "repos": '#{escape_javascript(_('Repositories'))}',
      "packages": '#{escape_javascript(_('Packages'))}',
      "package_groups": '#{escape_javascript(_("Package Groups"))}',
      "selected_distribution": '#{escape_javascript(_("Selected Distribution"))}',
      "edit_label": '#{escape_javascript(_("Edit Details"))}',
      "edit_close_label": '#{escape_javascript(_("Close Edit"))}',
      "add_label": '#{escape_javascript(_("Add"))}',
      "add_close_label": '#{escape_javascript(_("Cancel Add"))}',
      "templates_empty": '#{escape_javascript(_("No System Templates are currently defined"))}',
      "need_product_or_repo": '#{escape_javascript(_("No products or repositories are currently associated with this system template.  Please add either a product or repository that contains distributions in order to select a distribution."))}',
      "need_distro_product_or_repo": '#{escape_javascript(_("None of the associated products or repositories contain distributions, please add a product or repository that contains at least one distribution."))}',
      "save" : '#{escape_javascript(_("Save"))}',
      "repo_search_text": '#{escape_javascript(_("Search available repository names..."))}',
      "package_search_text": '#{escape_javascript(_("Search available package names..."))}',
      "product_search_text": '#{escape_javascript(_("Search available product names..."))}',
      "modify_message": '#{escape_javascript(_('The current template "$TEMPLATE" has been modified.  Would you like to save the changes?'))}',
      "leave_page": '#{escape_javascript(_('The current template "$TEMPLATE" has been modified. If you leave, any changes will be lost."'))}'
      });

= help_tip_button
.grid_16
  = help_tip(_('System Templates allow you to create a template for what a system should look like.  This includes what ' + |
               'products are subscribed and what packages are installed.'))   |

#system_templates.grid_16
  #container

    .right_tree.sliding_tree
      #template_tree
        %h2= _("System Templates")
        .breadcrumb_filter.fl.clear.clickable
          %form#filter_form.filter.clear
            %input{ :name => "filter", :type => "input", :placeholder => _("Filter..."), :id=>"filter_input"}
            %button.action #{_("Filter")}
            %br.clear
          .filter_button.fr.clickable
            #{_('Search')}

          .tree_breadcrumb.clickable.clear
        .sliding_container
          #template_list.list.sliding_list{"data-page_size"=>current_user.page_size}
            #tree_loading.slider.tree_loading
              .text
                = _("Loading System Template")
                .spinner
            #tree_saving.slider.tree_loading
              .text
                = _("Saving System Template")
                .spinner
            .slider_one.has_content.slider.will_have_content
            .slider_two.no_content.slider


        #edit_template_container.slide_up_container
          %h2= _("Edit System Template")
          = render :partial=>"edit", :locals=>{:editable=>true}
        #download_template_container.slide_up_container
          %h2= _("Download System Template")
          = render :partial=>"download", :locals=>{:editable=>true}
        - if editable
          #sliding_tree_actionbar.clickable
            #edit_template.cs_action
              %span#edit_template_icon.sprite
                SPRITE
              %span.text
                = _("Edit Details")
            #remove_template.cs_action{ "data-confirm-text" => "#{_('Are you sure you want to remove this template?')}" }
              %span#remove_template_icon.sprite
                SPRITE
              %span.text
                = _("Remove")
            #save_template.cs_action.disabled
              %span#save_template_icon.sprite
                SPRITE
              %span.text
                = _("Save")
            #download_template.cs_action{:title=>_('A modified template must be saved before downloading.')}
              %span#download_template_icon.sprite
                SPRITE
              %span.text
                = _("Download") 


    = render :partial=>"common/tupane"
    #content_tree.left.sliding_tree
      - if editable
        %a.fr{:href => "#", :id => "new", :class => "block", "data-ajax_url" => "#{new_system_template_path}"}
          #{_('+ New Template')}
          .arrow-right
      %h2= _("Eligible Content")
      .breadcrumb_search.clear.clickable
        .tree_breadcrumb
      .sliding_container
        #list.list.sliding_list{"data-page_size"=>current_user.page_size}
          .slider_one.has_content.slider
          .slider_two.no_content.slider

#error_dialog{:style=>"display: none"}
  = _("An error has occurred when communicating with the server, please refresh the page to retrieve the current System Template")

#modified_dialog{:style=>"display: none"}
  %div.text
  %input#discard_dialog.button.fr{:type => "button", :value=>"#{('Discard Changes')}"}
  %input#save_dialog.button.fr{:type => "button", :value=>"#{('Save Changes')}"}
