= javascript 'katello/widgets/filtertable'
= javascript do
  -if editable
    :plain
      $(document).ready(function() {
        KT.system.errata.init(true, 'system');
      });
  -else
    :plain
      $(document).ready(function() {
        KT.system.errata.init(false, 'system');
      });

= render :partial => "katello/systems/system_tupane_header_nav"

= content_for :header do
  #errata_header.clear
    %h5.fl
      #{_("Display")}
    %span
      = select_tag "display_errata_type", options_for_select([[_('All Errata'), 'All'], [_('Bug Fix'), 'BugFix'], [_('Enhancement'), ('Enhancement')], [_('Security'), 'Security']])
    -#
      %span
        = radio_button_tag "errata_state_radio", "outstanding", true
        %label
          #{_("Outstanding")}
      %span
        = radio_button_tag "errata_state_radio", "applied"
        %label
          #{_("Applied")}

= content_for :content do
  #errata_container{ "data-parent_id" => @system.id }
    %table.filter_table.ajaxScroll
      %thead
        - if editable
          %th
            -# = check_box_tag "select_all_errata", "select_all_errata"
        %th
          #{_("TYPE")}
        %th
          #{_("ERRATA")}
        %th
          #{_("TITLE")}
        %th
          #{_("DETAILS")}
      %tbody
        -#= render :partial => "systems/errata/items", :locals => { :errata => errata, :editable => editable }
    #list-spinner
      = image_tag("icons/spinner.gif", :class=>"ajax_scroll")

= content_for :footer do
  %a#load_more_errata{"data-scroll_url"=>url_for(system_errata_path(@system.id)), "data-page_size"=>current_user.page_size, "data-offset"=>offset, :class=>"fl", "style" => "display:none"} #{_("Load %{n} More") % {:n => offset}}
  %span.fl{:id => 'loaded_summary', :style => 'margin-left: 20px;', 'data-total' => 0, "data-current_count" => 0 }
    #{_("Viewing %{n} of %{t} results (%{t} Total Errata)") % {:n => 0, :t => 0 }}

  - if editable
    %span.fr
      %button.button.disabled{:id => 'run_errata_button', 'data-url' => system_errata_path(@system.id) }
        #{_('Install')}

= render :template => "katello/layouts/tupane_layout"
