-errata.each do |e|
  %tr{ :id => "errata_#{e.errata_id}" }
    - if editable
      %td
        = check_box_tag "errata_checkbox", e.errata_id
    %td
      %div{:class=>errata_type_class(e)}
    %td.one-line-ellipsis
      %a{:href => content_search_errata_link(e.errata_id)}
        = e.errata_id
    %td
      %span.one-line-ellipsis.grid_4{ "title" => e.title }
        = e.title
      %span.errata_status.fr.hidden
        = image_tag("icons/spinner.gif")
        %span.errata_status_text
          #{_('Installing')}
    - if e.applicable_consumers.present?
      %td{:style => "text-align:center;"}
        %span.tipsy-icon.systems{"data-list" => e.applicable_consumers.collect{|i| i[:name]}.to_json}
          = e.applicable_consumers.length
