#dashboard_errata.big_widget{"data-quantity"=>quantity, "data-id"=>"errata"}
  - if systems_hash.empty?
    %p #{_("There are no errata that need to be applied to registered systems.")}
  - else
    .list
      .block_head.clear
        .column_head.col_1
          #{_("Type")}
        .column_head.col_2
          #{_("Errata")}
        .column_head.col_3
          #{_('Product')}
        .column_head.col_4
          #{_('Info')}
      .scroll-pane
        -for element in n_errata
          - errata = errata_hash[element[0]]
          - systems = element[1]['consumer_ids']
          - if !systems.empty?
            .errata
              %div.errata_item
                .col_1
                  %div{:class=>errata_type_class(errata)}
                .col_2.one-line-ellipsis
                  %div.collapsed
                  %span
                    #{errata.id} (#{systems.length} #{_('Systems')})
                .col_3.one-line-ellipsis
                  #{errata_product_names(errata, repos)}
                .col_4
                  %span.tipsy-icon.info.errata-info{ "data-title" => errata.title, "data-issued" => errata.issued, "data-description" => errata.description, "data-id" => errata.id, "data-packages" => errata.pkglist.to_json, "data-reference_url" => (errata.references[0] ? errata.references[0]["href"] : "") }
              %div.system_list
                .subheader
                  .col_1
                    &nbsp;
                  .subcol_2
                    #{_("System")}
                  .subcol_3
                    #{_("Environment")}
                - for s in systems
                  - system = systems_hash[s]
                  .system
                    .col_1
                      &nbsp;
                    .subcol_2.one-line-ellipsis
                      = link_to system.name, system_path_helper(system)
                    .subcol_3.one-line-ellipsis
                      #{system.environment.name}
