= include_common_i18n
= include_editable_i18n
= include_javascripts :one_panel
= include_javascripts :sync_schedule

#main.container_16
  %nav.grid_16.subsubnav
    = render_navigation(:expand_all => true, :level => 3)
  .grid_8
    = one_panel('products', @products, @products_options)
  .grid_8
    = one_panel('plans', @plans, @plans_options)
  = form_tag sync_schedules_apply_path, :method => "post", :id => "sync_schedule_form" do |f|
    = hidden_field_tag :data
    = button_to _("Apply Selected Plan to Selected Products"), {:action => "apply",
      :controller => "sync_schedules"}, :method => :post, :class => 'dialogbutton fr', :id => 'apply_button'
