= javascript do
  :javascript
    var roles_breadcrumb = $.parseJSON('#{escape_javascript(generate_roles_breadcrumb())}');
    localize({
      "remove": '#{_('Remove')}',
      "loading": "#{_('Loading Role')}",
    });

= javascript :role_edit


-#= content_for :title do
  -#{@role.name}

-#= content_for :remove_item do
  -#= link_to _("Remove Role"), {:action => "destroy", :controller => "roles"}, :method => :delete, :confirm => _('Are you sure?'), :class => "remove_item", :remote=>true

-#= content_for :content do
#role
  #roles_tree.sliding_tree
    .breadcrumb_search.clear.clickable
      %form#search_form.search.clear
        %input{ :name => "s", :type => "search", :placeholder => "Filter...", :id=>"search_filter"}
        %button.action #{_("Search")}
        %br.clear

      .search_button.fr.clickable
        #{_('Search')}
      .tree_breadcrumb
    .sliding_container
      #roles_list.list.sliding_list{"data-page_size"=>current_user.page_size}
        #tree_loading.slider
          .text
            = _("Loading Permissions")
            = image_tag ("spinner.gif")
        .slider_one.has_content.slider.will_have_content
        .slider_two.no_content.slider
        
    #roles_status