= javascript do
  :javascript
    var roles_breadcrumb = $.parseJSON('#{escape_javascript(generate_roles_breadcrumb())}');

= javascript :role_edit


#role
  #roles_tree.sliding_tree
    .breadcrumb_search.clear.clickable
      %a.close{:href => "#", "data-close"=>"panel"} #{_("Close")}
      %form#search_form.search.clear
        %input{ :name => "s", :type => "input", :placeholder => "Filter...", :id=>"search_filter"}
        %button.action #{_("Search")}
        %br.clear

      .search_button.fr.clickable
        #{_('Search')}
      .tree_breadcrumb
    .sliding_container
      #roles_list.list.sliding_list{"data-page_size"=>current_user.page_size}
        #tree_loading.slider
          .text
            = _("Loading Permissions")
            = image_tag ("spinner.gif")
        .slider_one.has_content.slider.will_have_content
        .slider_two.no_content.slider
    
    #role_edit.slide_up_container
      %h2
        &nbsp; #{_("Role Details")}
      %input{:type => "hidden", :name => "role_id", :value => @role.id, :id => "role_id" }
      .fieldset
        .grid_2.ra
          %label #{_("Name:")}
        .grid_3.la.editable.edit_name_text{'name' => 'role[name]'} #{@role.name}
        %br
        %br
        .grid_2.ra
          %label #{_("Description:")}
        .grid_3.la.editable.edit_description{'name' => 'role[description]'} #{@role.description}

    #permission_add.slide_up_container
      %h2#permission_add_header
      %form{ :id => "add_permission_form" }
        %input{:type => "hidden", :name => "permission[organization_id]", :value => '', :id => "organization_id" }
        .permission_add_container#name_container
          %label.ra.fl #{_("Name:")}
          %input{ :id => 'permission_name', :name => 'permission[name]', :type => "text" }
        .permission_add_container.hidden#description_container
          %label.ra.fl #{_("Description:")}
          %textarea{ :id => 'description', :name => 'permission[description]' }
        .permission_add_container.hidden#resource_type_container
          %label.ra.fl #{_("Permission For:")}
          %select{ :id => 'resource_type', :name => 'permission[resource_type_attributes[name]]' }
          .button#all_types
            #{_('+ All')}
        .permission_add_container.hidden#verbs_container
          %label.ra.fl #{_("Verb(s):")}
          %select{ :id => "verbs", :name => 'permission[verb_values][]', :multiple => 'multiple' }
          .button#all_verbs
            #{_('+ All')}
        .permission_add_container.hidden#tags_container
          %label.ra.fl #{_("On:")}
          %select.fl{ :id => "tags", :name => 'permission[tag_names][]', :multiple => 'multiple' }
          .button.fl#all_tags
            #{_('+ All')}
        #permission_button_bar.clear
          .button.fl#previous_button
            #{_("<< Previous")}
          .button.fr#next_button
            #{_("Next >>")}
          .button.fr#save_permission_button
            #{_("Done")}

    #roles_status
    #sliding_tree_actionbar.clickable
      #add_permission.disabled.cs_action{"title" => "#{_('You must select an organization above before you can add a permission.')}"}
        %span#add_permission_icon.sprite
          SPRITE
        %span.text
          = _("Add Permission")
      #edit_role.cs_action
        %span#edit_role_icon.sprite
          SPRITE
        %span.text
          = _("Edit Role")
      #remove_role.cs_action{ "data-confirm-text" => "#{_('Are you sure you want to remove this role?')}", "data-url" => role_path(@role) }
        %span#remove_role_icon.sprite
          SPRITE
        %span.text
          = _("Remove Role")
      #placeholder.cs_action