= content_for :title do
  #{_("New Role")}

= content_for :navigation do
  / pretty

= content_for :content do
  #new_role
    .grid_10#new_role
      %fieldset
        .grid_1.ra
          = label :role, :name, _("Name")
        .grid_5.la
          = text_field :role, :name, :id=>"role_name_field", :tabindex => auto_tab_index
  
      .grid_3.la.push_1
        .button#save_role_button{'data-url' => roles_path, :tabindex => auto_tab_index}
          #{_("Save Role")}
