= javascript :edit, :role
= include_editable_i18n

= javascript do
  :javascript
    localize({
      "add_permission"               : '#{_('Add Permission')}',
      "close_add_permission"         : '#{_('Close Add Permission')}',
      "remove"                       : '#{_('Remove')}',
      "all"                          : '+ #{_('All')}',
      "add"                          : '+ #{_('Add')}',
      "rule_applied"                 : '#{_('Applied')}',
      "rule_not_applied"             : '#{_('Not Applied')}',
      "adding"                       : '#{_('Adding...')}',
      "removing"                     : '#{_('Removing...')}',
      "name_validation"              : '#{_('Name can not be blank.')}',
      "verb_validation"              : '#{_('You must select at least one verb.')}',
      "full_access"                  : '#{_('Full Access')}',
      "loading"                      : "#{_('Loading Role')}",
      "add_header_org"               : "#{_('Add Permission to')}",
      "add_header_global"            : "#{_('Add Global Permission')}",
      "roles_summary"                : "#{_('Please select Permissions to view and add permissions for this role or Users to see current users with this role.')}",
      "roles_summary_readonly"       : "#{_('Please select Permissions to view permissions for this role or Users to see current users with this role.')}",
      "users_summary"                : "#{_('Click Add or Remove next to a user name to apply or remove them from role.')}",
      "users_summary_readonly"       : "#{_("User assignments for this role")}",
      "role_permissions_summary"     : "#{_('Global permissions allow you to create permissions that span all organizations, or choose a specific organization to apply permissions.')}",
      "role_permissions_summary_readonly" : "#{_('Global permissions are permissions that span all organizations; however, organization permissions apply only to the organization they are associated with.')}",
      "permissions_summary"          : "#{_('Click Add permission from the bar below to add a permission.')}",
      "permissions_summary_readonly" : "#{_('Permissions for this role.')}",
      "edit_role_details"            : '#{_("Edit Role Details")}',
      'close_role_details'           : '#{_("Close Role Details")}',
      'all_types_selected'           : '#{_("You have selected all resource types; this will grant full access to the organization.")}',
    });

    var permissions = {
      create_roles: #{Role.creatable?},
      read_roles: #{Role.any_readable?},
      update_roles: #{Role.editable?},
      delete_roles: #{Role.deletable?}
    };

.grid_16
  = two_panel(@roles, @panel_options)