= javascript :edit, :role
= include_editable_i18n

= javascript do
  :javascript
    localize({
      "add_permission"          : '#{_('Add Permission')}',
      "close_add_permission"    : '#{_('Close Add Permission')}',
      "remove"                  : '#{_('Remove')}',
      "all"                     : '+ #{_('All')}',
      "add"                     : '+ #{_('Add')}',
      "full_access"             : '#{_('Full Access')}',
      "loading"                 : "#{_('Loading Role')}",
      "add_header_org"          : "#{_('Add Permission to')}",
      "add_header_global"       : "#{_('Add Global Permission')}",
      "roles_summary"           : "#{_('Please select Organizations to view and add permissions for this role or Users to see current users with this role.')}",
      "users_summary"           : "#{_('Click Add or Remove next to a user name to apply or remove them from  role.')}",
      "role_permissions_summary": "#{_('Global permissions allow you to create permissions that span all organizations, or choose a specific organization to apply permissions.')}",
      "permissions_summary"     : "#{_('Click Add permission from the bar below to add a permission.')}",
      "edit_role_details"       : '#{_("Edit Role Details")}',
      'close_role_details'      : '#{_("Close Role Details")}',
      'all_types_selected'      : '#{_("You have selected all resource types; this will grant full access to the organization.")}',
    });


.grid_16
  = two_panel(@roles, @panel_options)