- if include_tr
  - cssclass = cycle("alt", "")
  <tr class = "#{cssclass}">

- unless t.system.nil?
  %td.event_name{"data-pending-task-id" => (t.id if t.pending?)}
    - if t.pending?
      = image_tag("icons/spinner.gif")
      = t.system.name

    - else
      %span.icon_wrap.fl.status_icons
        %span.fl{:class=>(t.state=="error" ? "error_icon" : "check_icon")}
          &nbsp;&nbsp;
      .event_status
        = t.system.name
        %span.tipsy-icon.info.task-info{"data-result" => t.result_description.gsub("\n", "<br/>")}

  %td.event_date
    - if t.pending?
      = image_tag("icons/spinner.gif")
      = t.message
    - else
      = t.finish_time

  - if include_tr
    </tr>
