= javascript :edit, :edit_helpers, :environment_edit
= include_editable_i18n 

= content_for :title do
  = _("Environment") + ": " + @environment.name

= content_for :remove_item do
  %a.remove_item.delete_environment{"data-url"=>organization_environment_path(@organization.cp_key, @environment.id), "data-forward"=>edit_organization_path(@organization.cp_key), "data-confirm-text"=>_('Are you sure?')}
    = _("Remove Environment")

= content_for :subcontent do
  .clear
  = form_for @environment, :html => { :name => 'environment_edit' }, :url => {:action => "update",  :organization_id => @organization.cp_key,  :controller => "environments"}, :method => "put", :remote => true do |f|
  
    %fieldset.clearfix
      .grid_2.ra
        %label #{_("Name")}:
      .grid_5.la.editable.edit_env_name{'name' => 'kp_environment[name]', "data-url"=>organization_environment_path(@organization.cp_key, @environment.id),  "data-forward"=>edit_organization_path(@organization.cp_key)}<> #{@environment.name}
  
    %fieldset.clearfix
      .grid_2.ra
        %label #{_("Description")}:
      .grid_5.la.editable.edit_textarea{:style => "word-wrap: break-word;", "data-url"=>organization_environment_path(@organization.cp_key, @environment.id), 'name' => 'kp_environment[description]'}<> #{@environment.description}
  
    %fieldset.clearfix
      %input{ :type => "hidden", :name => "prior_envs", :value => @env_labels_json }
      .grid_2.ra
        %label #{_("Prior Environments")}:
      .grid_5.la.editable.edit_prior_envs{'name' => 'kp_environment[prior]',  "data-url"=>organization_environment_path(@organization.cp_key, @environment.id),  "data-forward"=>edit_organization_path(@organization.cp_key)} #{@selected}
