= javascript 'widgets/subpanel_new'

= content_for :title do
  #{_("Create Application Life Cycle Management Environment")}

= content_for :navigation do
  / pretty

= content_for :subcontent do
  .clear
    &nbsp;
  = kt_form_for KTEnvironment.new, :url => organization_environments_path(@organization.label), :remote=>true, :html => {:id=>"new_subpanel"} do |form|

    = form.text_field :name, :label => _("Name"), :class => :name_input

    = form.field :label, :label => _("Label") do
      = text_field_tag 'kt_environment[label]', nil, :tabindex => form.tabindex, :size => 30, :class => :label_input, 'data-url' => default_label_organization_environments_path(@organization.label)
      = image_tag "icons/spinner.gif", :class => 'label_spinner hidden'

    = form.text_area :description, :size => "40x5", :label => _("Description"), :maxlength => default_description_limit

    = form.select :prior, options_for_select(@env_labels, @selected), {}, {:label => _("Prior Environment"), :size=>1, :tabindex => form.tabindex}

    = form.submit _("Create"), :disable_with => _("Creating..."), :class => 'subpanel_create create_button'

= render :template => "layouts/tupane_layout"
