= javascript :subpanel_new

= content_for :title do
  #{_("Create Application Life Cycle Management Environment")}

= content_for :navigation do
  / pretty

= content_for :subcontent do
  .clear
    &nbsp;
  = form_tag organization_environments_path(@organization.cp_key), :id=>"new_subpanel", :method => "post", :remote=>true do
    %fieldset.clearfix
      %b
        %label.grid_2 #{_("Name")}:
      .grid_5
        = text_field_tag :name, params[:name], :class=>'grid_5', :tabindex => auto_tab_index
    %fieldset.clearfix
      %b
        %label.grid_2
          #{_("Description")}:
      .grid_5
        = text_area_tag :description, params[:description], :class=>'grid_5', :tabindex => auto_tab_index
    %fieldset.clearfix
      %b
        %label.grid_2 #{_("Prior Environment")}:
      .grid_5
        = select_tag "prior", options_for_select(@env_labels, @selected), :tabindex => auto_tab_index
    .grid_5.prefix_2
      = submit_tag _("Create"), :class => 'fr subpanel_create', :tabindex => auto_tab_index, :disable_with => _("Creating...")

