- cssclass = "" if cssclass.nil?

%tr.view_version{:class => "child-of-view_#{version.content_view.id}" + cssclass,
  'data-pending_refresh_id' => (task.id if task && task.pending?)}

  %td #{environments(version)}
  %td #{version.version}
  %td #{task.finish_time unless task.nil?}

  %td
    .fl{:style => "padding-right: 10px;"}
      - if task
        - if task.pending?
          = image_tag("embed/icons/spinner.gif")
          #{_('Refreshing')}
        - elsif task.error?
          #{_('Error refreshing')}

    - if version.environments.include?(version.content_view.organization.library)
      - unless task.nil? || (task && task.pending?)
        %a.refresh_action{:type => 'button', :href => '#', 'data-url' => refresh_content_view_definition_content_view_path(version.content_view.content_view_definition.id, version.content_view.id)}
          - if task.error?
            #{_("Retry")}
          - else
            #{_("Refresh")}