= javascript :edit_helpers

= content_for :title do
  #{@hardware_model.name}

= content_for :remove_item do
  = link_to _("Remove Model"), { :controller => "hardware_models", :action => "destroy" }, :confirm => _('Are you sure you want to remove this hardware model?'), :method => :delete, :class=>"remove_item", :remote=>true

= content_for :content do
  .grid_10
    = kt_form_for @hardware_model, :as=>"hardware_model", :url=>hardware_model_path(@hardware_model), :data_url=>hardware_model_path(@hardware_model), :html=>{ :id=>"edit_hardware_model" } do |form|

      - model_help_msg = _("The class of CPU supplied in this machine. This is primarily used by Sparc Solaris builds and can be left blank for other architectures.")
      - vendor_help_msg = _("The class of the machine reported by the Open Boot Prom. This is primarily used by Sparc Solaris builds and can be left blank for other architectures.")

      = form.editable :name, :label => _("Name:")
      = form.editable :hardware_model, :label => _("Hardware model:"), :label_help => model_help_msg
      = form.editable :vendor_class, :label => _("Vendor class:"), :label_help => vendor_help_msg
      = form.editable :info, :label => _("Info:"), :type => :edit_textarea

= render :template => "layouts/tupane_layout"
