= javascript :edit_helpers

= content_for :title do
  #{@smart_proxy.name}

= content_for :remove_item do
  = link_to _("Remove Smart Proxy"), { :controller => "smart_proxies", :action => "destroy" }, :confirm => _('Are you sure you want to remove this smart proxy?'), :method => :delete, :class=>"remove_item", :remote=>true

= content_for :content do
  .grid_10
    = kt_form_for @smart_proxy, :as=>"smart_proxy", :url=>smart_proxy_path(@smart_proxy), :data_url=>smart_proxy_path(@smart_proxy), :html=>{ :id=>"edit_smart_proxy" } do |form|

      = form.editable :name, :label => _("Name:")
      = form.editable :url, :label => _("URL:")
      .grid_2.ra.fieldset
        %label #{_("Features:")}
      .grid_5
        #{@smart_proxy.features.join(", ")}

