= javascript :plan_edit

= content_for :title do
  #{_("Edit Sync Plan")}

= content_for :remove_item do
  = link_to _("Remove Sync Plan"), {:action => "destroy", :controller => "sync_plans"}, :method => :delete, :confirm => _('Are you sure?'), :class => "remove_item", :remote => true

= content_for :content do
  %input#plan_id{:name => @plan.id, :type => "hidden", :value => @plan.id, "data-ajax_url"=>url_for(:action=> 'update')}
  .grid_8#plan
    %fieldset
      .grid_2.ra
        %label.fl.ra.sp #{_("Name")}:
      .grid_5.la.editable.edit_planname#plan_name{'name' => 'plan[name]', :url => url_for(:action => 'update')} #{@plan[:name]}
    %fieldset
      .grid_2.ra
        %label.fl.ra.sp #{_("Description")}:
      .grid_5.la.editable.edit_textarea{:style => "word-wrap: break-word;", 'name' => 'plan[description]', :url => url_for(:action => 'update')}<> #{@plan[:description]}
    %fieldset
      .grid_2.ra
        %label.fl.ra.sp #{_("Interval")}:
      .grid_5.la.editable.edit_planinterval#plan_interval{'name' => 'plan[interval]', :url => url_for(:action => 'update')} #{@plan[:interval]}
    %fieldset
      .grid_2.ra
        %label.fl.ra.sp #{_("Start Date")}:
      .grid_5.la.editable.edit_datepicker#plan_date{'name' => 'plan[date]', :url => url_for(:action => 'update')} #{@plan.plan_date}
    %fieldset
      .grid_2.ra
        %label.fl.ra.sp #{_("Time")}:
      .grid_5.la.editable.edit_timepicker#plan_time{'name' => 'plan[time]', :url => url_for(:action => 'update')} #{@plan.plan_time}