.block{:id => item.send(accessor), "data-ajax_url" => url_for(:action=> 'edit', :id => item.send(accessor))}
  - for col in columns
    %div{:class => 'column_' + columns.length.to_s}
      - if col.to_s == 'name'
        = item.send('name')[0...32]
      - elsif col.to_s == 'created'
        = convert_time(item.created)
      - elsif col.to_s == 'lastCheckin'
        = get_checkin(item)
      - else
        = item.send(col)
  %div
    %div{:class => 'column_3'}
      %ul
        %li
          = _('Kernel: ')
          = item.send('kernel')
        %li
          = _('IP: ')
          = item.send('ip')
    %div{:class => 'column_3'}
      %ul
        %li
          = _('Uptime: ') 
          = get_uptime
        %li
          %a{:href=>'', :title=>'Schedule Reboot'} 
            = _('Schedule Reboot')
  .arrow-right