%div
  %div{:class => 'column_2'}
    %ul
      %li
        .product
          .status_icon{:class => "#{item.send('compliance_color')}"}
        %div.one-line-ellipsis#heading_title
          = item.send('name')
      %li.one-line-ellipsis
        = _('Env: ')
        = system_environment_name item
  %div{:class => 'column_2'}
    %ul
      %li
        = get_checkin(item)
      %li
        = _('OS: ')
        = item.send('distribution_name')
      %li
        = _('IP: ')
        = item.send('ip')
.arrow-right
