%div{:id => "system_#{item.id}"}
  %div{:class => 'column_2'}
    %ul
      %li
        .product
          .status_icon{:class => "#{item.send('compliance_color')}"}
        %div.one-line-ellipsis#heading_title
          %span#name
            = item.send('name')
      %li.one-line-ellipsis
        = _('Env: ')
        %span#environment
          = system_environment_name item
  %div{:class => 'column_2'}
    %ul
      %li
        = get_checkin(item)
      %li
        = _('OS: ')
        %span#distribution_name
          = item.send('distribution_name')
.arrow-right
