.block.tall{:id => "#{name}_#{item.send(accessor)}", "data-ajax_url" => url_for(:action=> 'edit', :id => item.send(accessor))}
  %div
    %div{:class => 'column_2'}
      .product
        .status_icon{:class => "#{item.send('compliance_color')}"}
      %div.one-line-ellipsis{:style => "padding-top: 2px;"}
        = item.send('name')
    %div{:class => 'column_2'}
      = get_checkin(item)
  %div
    %div{:class => 'column_1', :style => "padding-left: 2em;"}
      %ul
        %li
          = _('OS: ')
          = item.send('distribution_name')
          &nbsp;&nbsp;
          = item.send('arch')
        %li
          = _('IP: ')
          = item.send('ip')
  .arrow-right