
= javascript do
  :plain
    localize({
      "edit_environment": '#{escape_javascript(_('Edit Environment'))}'
    });


- if @environment
  = content_for :title do
    #{_("New system")}
    = content_for :content do
      = form_tag({:action => "create"}, :id => "new_system") do
        = hidden_field_tag 'system[environment_id]', @environment.id
        .grid_8#new_system
          %fieldset
            .grid_2.ra
              = label :system, :name, _("Name of Your System:")
            .grid_5.la
              = text_field :system, :name, :id=>"name_field", :tabindex => 1
          %fieldset
            .grid_2.ra
              = label :system, :arch, _("Architecture:")
            .grid_5.la
              = architecture_select
          %fieldset
            .grid_2.ra
              = label :system, :sockets, _("Number of Sockets or LPARs:")
            .grid_5.la
              = text_field :system, :sockets, :id=>"sockets_field", :tabindex => 3
          %fieldset
            .grid_2.ra
              = label :system, :virtual, _("System Type:")
            .grid_5.la
              = virtual_buttons
          %fieldset
            - if !envsys
              .grid_2.ra
                = label :system, :environment, _("Choose Environment:")
              .grid_5.la
                = environment_selector(:path_widget_class=>"grid_5", :path_entries_class=>"grid_5", :library_clickable=>false,
                  :accessible_envs=>accessible_envs,  :url_products_proc=>url_products_proc)
            - else
              .grid_2.ra
                = label :system, :environment, _("Environment:")
              .grid_5.la
                = @environment.name
          .grid_5.la.prefix_2
            = button_to _("Save"), systems_path, :method => :post, :id => :system_save
- else
  = content_for :title do
    #{_("New system")}
    = content_for :content do
      #{_("You need to create an environment for this org before you can create a system.")}
