
= javascript do
  :plain
    localize({
      "edit_environment": '#{escape_javascript(_('Edit Environment'))}'
    });

:ruby
  sockets_help = _("The number of CPU Sockets or LPARs which this system uses")
  memory_help = _("The amount of RAM memory, in megabytes (MB), which this system has")


- if @environment
  = content_for :title do
    #{_("New system")}
  = content_for :content do
    .full
      = kt_form_for(System.new, :action => "create", :id => "new_system") do |form|
        = hidden_field_tag 'system[environment_id]', @environment.id
        .grid_8#new_system
          = form.text_field :name, :label => _("Name of Your System:")

          = form.field :arch, :label => _("Architecture:") do
            = architecture_select

          = form.text_field :sockets, :label => _("Number of Sockets or LPARs:"), :help => sockets_help, :value => 1

          = form.text_field :memory, :label => _("Amount of RAM (MB):"), :help => memory_help, :value => ''

          = form.field :virtual, :label => _("System Type:") do
            = virtual_buttons

          = form.field :environment, :label => envsys ? _("Environment:") : _("Choose Environment:") do
            - if envsys
              = @environment.name
            - else
              = environment_selector(:path_widget_class => "grid_5",
                  :path_entries_class => "grid_5", :library_clickable => false,
                  :accessible_envs => accessible_envs,
                  :url_products_proc => url_products_proc,
                  :url_content_views_proc => url_content_views_proc)

          - if Katello.config.katello?
            = form.field :content_view_id, :label => _("Content View:") do
              = content_view_select(current_organization, @environment)


          = form.submit _("Save")
- else
  = content_for :title do
    #{_("New system")}
    = content_for :content do
      #{_("You need to create an environment for this org before you can create a system.")}

= javascript do
  :plain
    localize({
        "noContentView": '#{no_content_view}',
        "update_view": '#{escape_javascript(_('Select a View'))}'
    });

= render :template => "layouts/tupane_layout"
