= include_javascripts :system_packages

= content_for :title do
  #{_("System")}

= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)

= content_for :content do
  %form#filter_form.clear
    %input{ :name => "f", :type => "search", :placeholder => "Filter...", :id=>"filter"}
    %button.filter_button #{_("Filter")}
    %br.clear
  %table.packages
    %thead
      %th #{_("Name")}
      %th #{_("Arch")}
    %tbody
      -packages.each do |p|
        %tr
          %td{:class=>'package'}
            #{p.nvrea}
          %td{:class=>"arch"}
            #{p.arch}
