= javascript :filtertable, :system_products

= content_for :title do
  #{@system.name}

= content_for :navigation do
  = render_navigation(:items => systems_navigation, :expand_all => true, :level => 1)

= content_for :content do
  - if products.length > 0
    = render :partial => "common/filter_table"
    %table.filter_table.products.ajaxScroll
      %thead
        %th
          %a#products_sort{"data-sort"=>"asc", :class=>"ascending"}
            #{_("Name")}
        %th
          #{_("Arch")}
      %tbody
        -products.each do |p|
          %tr
            %td{:class=>"product"}
              #{p['productName']}
            %td{:class=>"arch"}
              #{p['productId']}
    %a#products_more{"data-scroll_url"=>url_for(more_products_system_path()), "data-page_size"=>current_user.page_size, "data-offset"=>offset, :class=>"fl"} #{_("More...")}
    #list-spinner
      = image_tag("spinner.gif", :class=>"ajax_scroll")
  - else
    %p There are no products to display.
