= javascript :system_subscriptions

= content_for :title do
  #{_("System")}

= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)

= content_for :content do
  .grid_8.subs
  .grid_6
    = image_tag("icons/status_icons_sprite.png", :class=>"icon")
    #{_("Entitlements Required")}
  .grid_3.ca
    #{_("Socket Requirement")}
    #{"--"}
  .grid_3.ca
    #{_("Guests Requirement")}
    #{"--"}
  .grid_8
    = form_tag update_subscriptions_system_path, :id=>"unsubscribe", :method=>"post", :remote=>true do
      %h5 #{_("System Current Subscription(s)")}
      %table
        %thead
          %tr
            %th #{_("Subscription")}
            %th #{_("Sockets")}
            %th #{_("Guests")}
            %th #{_("Quantity")}
            %th #{_("Expires")}
        %tbody
          - if consumed_subs.length > 0
            - for sub in consumed_subs
              %tr
                %td
                  %span.fl
                    = check_box_tag "system[#{sub.poolId}]", value="#{sub.poolId}", false
                  &nbsp;
                  #{sub.poolName}
                %td #{"--"}
                %td #{"--"}
                %td
                  = number_field_tag 'quantity', nil, :in => 1...sub.quantity, :class=>"ui-spinner"
                %td #{sub.expires}
          - else
            %tr
              %td{:colspan=>5} #{_("The system is not currently consuming any subscriptions.")}
      - if editable && avail_subs.length > 0
        .actions
          = submit_tag _('Unsubscribe'), :class => 'submit dialogbutton'
  .grid_8
    = form_tag update_subscriptions_system_path, :id=>"subscribe", :method=>"post", :remote=>true do
      %h5 #{_("Available Subscriptions")}
      %table
        %thead
          %tr
            %th #{_("Subscription")}
            %th #{_("Sockets")}
            %th #{_("Guests")}
            %th #{_("Quantity")}
            %th #{_("Expires")}
        %tbody
          - if avail_subs.length > 0
            - for sub in avail_subs
              %tr
                %td
                  %span.fl
                    = check_box_tag "system[#{sub.poolId}]", false
                    -#/ put the product's id in the value field so we know what product is syncing
                    -#=check_box_tag "repo[#{r.id}]", value="#{p.id}"
                  &nbsp;
                  #{sub.poolName}
                %td #{"--"}
                %td #{"--"}
                %td
                  = number_field_tag 'quantity', nil, :in => 1...sub.quantity, :class=>"ui-spinner"
                %td #{sub.expires}
          - else
            %tr
              %td{:colspan=>5} #{_("There are no more subscriptions available.")}
      - if editable && avail_subs.length > 0
        .actions
          = submit_tag _('Subscribe'), :class => 'submit dialogbutton'

  %br.clear