%tr{:class => "child-of-#{group}"}
  %td
  %td
    %hr{:class => "child-of-#{group}", :width => "20"}
  %td
  %td
  %td
  %td
  %td

%tr{:class => "child-of-#{group}"}
  %td
  %td{:class => "child-of-#{group} sub-subchild", :colspan => "5", :style => "padding-left: 45px;"}
    %span{:class => "child-of-#{group}",:style => "width:150px;white-space: nowrap;float: left;"}
      = "GPG Key URL"
    %span{:class => "child-of-#{group}", :style => "width: 50px; white-space: nowrap; float: left;"}
      - link = product_content.content.gpgUrl
      %a{:href => "#{link}"}
        = link
%tr{:class => "child-of-#{group}"}
  %td
  %td{:class => "child-of-#{group} sub-subchild", :colspan => "5", :style => "padding-left: 45px;"}
    %span{:class => "child-of-#{group}",:style => "width:150px;white-space: nowrap;float: left;"}
      = "Content Download URL"
    %span{:class => "child-of-#{group}", :style => "width: 50px; white-space: nowrap; float: left;"}
      - link = product_content.content.contentUrl
      %a{:href => "#{link}"}
        = link
%tr{:class => "child-of-#{group}"}
  %td
  %td{:class => "child-of-#{group} sub-subchild", :colspan => "5", :style => "padding-left: 45px;"}
    %span{:class => "child-of-#{group}",:style => "width:150px;white-space: nowrap;float: left;"}
      = "Repo Type"
    %span{:class => "child-of-#{group}", :style => "width: 50px; white-space: nowrap; float: left;"}
      = product_content.content.type
%tr{:class => "child-of-#{group}"}
  %td
  %td{:class => "child-of-#{group} sub-subchild", :colspan => "5", :style => "padding-left: 45px;"}
    %span{:class => "child-of-#{group}",:style => "width:150px;white-space: nowrap;float: left;"}
      = "Enabled by Default"
    %span{:class => "child-of-#{group}", :style => "width: 50px; white-space: nowrap; float: left;"}
      = product_content.enabled
