= javascript :system_subscriptions

= content_for :title do
  #{_("System")}

= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)

= content_for :content do
  %h5.grid_8 #{_("Subscriptions")}  
  = form_tag update_subscriptions_system_path, :method => "post", :id => "update_subscriptions" do |f|
    .grid_7
      = select_tag "system[consumed_pool_ids]", options_from_collection_for_select(all_subs, 'poolId', 'poolName', consumed), :multiple => true, :class => 'multiselect', :style=>"width:400px; height:200px"
    .grid_2
      = button_to _("Save Subscriptions"), {:action => "update_subscriptions", :controller => "systems"}, :method => :post, :id => :subcription_save