%li
  %hr{:width=>"75%"}
%li
  - link = product_content.content.gpgUrl
  = _('GPG Key URL: ')
  - if link == 'http://'
    = _("None")
  - else
    %a{:href => "#{link}"}
      = link
%li
  - link = product_content.content.contentUrl
  = _('Content Download URL: ')
  %a{:href => "#{link}"}
    = link
%li
  = _('Repo Type: ')
  = product_content.content.type
%li
  = _('Enabled by Default: ')
  = product_content.enabled
