= javascript do
  :plain
    localize({
        "systemSelectAutoheal": '#{escape_javascript(_("Select Auto-attach Level..."))}'
    });
= javascript 'widgets/jquery.jeditable.helpers', 'systems/system_subscriptions'

= render :partial => "system_tupane_header_nav"

= content_for :content do
  .subs
    .subs_top
      .subs_image_wrapper
        .subs_image{:class => "#{@system.compliance_color}"}
      .subs_text.fl.panel_link
        = system_status_message(@system)
        = link_to(_('Details'), edit_system_path(@system))
    %input.fr.button#heal_system_button{:type=>"button",:value=>_("Run Auto-Attach"),'data-url'=>refresh_subscriptions_api_system_path(@system.uuid), 'data-method' => "post"}
    .subs_servicelevel{'name' => 'system[serviceLevel]', 'class' => ("editable edit_select_system_servicelevel" if editable), 'data-url' => system_path(system.id), 'data-options' => system_servicelevel_edit(system)}
      = system_servicelevel(system)
    .clear
  #subs_data
    = render :partial=>"subs", :locals=>{:system=>@system, :avail_subs => avail_subs, :consumed_entitlements => consumed_entitlements, :editable=>editable, :subscription_filters=>subscription_filters}
  %br.clear

= render :template => "layouts/tupane_layout"
