= include_javascripts :katello_client
= include_javascripts :edit, :multiselect
= include_editable_i18n
= include_javascripts :system

= include_javascripts :form
= include_javascripts :treetable
%nav.subsubnav
  = render_navigation(:expand_all => true, :level => 3)
-if defined? envsys
  .grid_16
    = environment_selector(:locker_clickable=>false, :url_proc => lambda {|a| systems_path(:env_id =>a[:environment].id )})
.grid_16#main
  = two_panel(@systems, @panel_options)
