= javascript 'systems/systems.controller', 'widgets/nutupane', 'components/scrollWithPage.directive.js', 'components/inline_edit.directive', 'components/input.directive'
= stylesheet 'widgets/nutupane'

%div{ 'ng-controller' => 'SystemsController' }
  %h1
    = _("Systems")
  %div{ 'alch-table-toolbar' => 'table' }
    %button{'ng-click' => 'createNewSystem()'}
      = _("Create New System")
    %button{'ng-click' => 'removeSelectedSystems()', 'ng-show' => 'table.num_selected > 0'}
      = _("Delete")
  %table#nutupane-table.table.stable.stripe-row{ 'alch-table' => 'table', 'row-select' => 'true', 'ng-class' => '{ "table-mask" : table.working, "details-visible": table.detailsVisible}' }
  %div#nutupaneNewItem.nutupane-pane{'ng-show' => 'newPaneVisible', 'ng-cloak' => true}
    %a.fr{ 'ng-click' => 'newPaneVisible = false' }
      = 'x'
    %div.nutupane-pane-content
  %span.nutupane-details.panel#nutupane-details{ 'nutupane-details'=>'table.visible', 'model'=>'table', 'ng-class' => '{ "nutupane-details-open" : !table.visible }' }
