= render :partial => "content_view_definitions/tupane_header"

= content_for :content do

  #content_view_definition_views{'data-views_url' => views_content_view_definition_path(view_definition.id),
    'data-status_url' => status_content_view_definition_path(view_definition.id)}

    %table#content_views
      %thead
        %tr{:style => "background-color: #F5FAFA;"}
          - if view_definition.publishable?
            %td{:colspan => 4, :style => "vertical-align:middle; font-size:130%;"}
              #{_("Publish new content view from this view definition")}
            = publish_button(view_definition)

        %tr
          %th #{_("Name")}
          %th #{_("Version")}
          %th #{_("Published")}
          %th{:colspan => 2}

      %tbody.views
        - cssclass = cycle("", "alt")
        - view_definition.content_views.each do |view|
          = render :partial => 'content_view_definitions/views/view',
            :locals => {:view_definition => view_definition, :view => view, :cssclass => cssclass}

= render :template => "layouts/tupane_layout"
