= javascript :edit_helpers

= content_for :title do
  #{@domain.name}

= content_for :remove_item do
  = link_to _("Remove Domain"), { :controller => "domains", :action => "destroy" }, :confirm => _('Are you sure you want to remove this domain?'), :method => :delete, :class=>"remove_item", :remote=>true

= content_for :content do
  .grid_10
    = kt_form_for @domain, :as=>"domain", :url=>domain_path(@domain), :data_url=>domain_path(@domain), :html=>{ :id=>"edit_domain" } do |form|

      = form.editable :name, :label => _("Name:")
      = form.editable :fullname, :label => _("Full Name:")
      = form.field :dns_id, :label => _("Dns:") do
        = dns_select @domain, "dns_id"

      .grid_5.la.prefix_2
        #update_domain.button{:'data-url'=>domain_path(@domain)}
          #{_("Save Domain")}

= render :template => "layouts/tupane_layout"
