
= content_for :title do
  #{_("New Domain")}

= content_for :content do
  .grid_10
    = kt_form_for ::Foreman::Domain.new, :as=>"domain", :url=>domains_path, :html=>{ :id=>"new_domain" } do |form|

      = form.text_field :name, :label => _("Name:")
      = form.text_field :fullname, :label => _("Full Name:"), :value=> ""
      = form.field :dns_id, :label => _("Dns:") do
        = dns_select "domain", "dns_id"
      = form.submit _("Save Domain"), :id => :save_domain

