:javascript
  $('td').click(function(){
    $('.scroll-pane').jScrollPane().data('jsp').reinitialise();
  });

= content_for :title do 
  #{@system.name}

= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)
  
= content_for :content do
  #facts
    %table#factsTable.scroll-panel
      %thead
        %th= _("Group")
        %th= _("Fact")
        %th= _("Value")
      %tbody
        - group = nil
        - @system.facts.sort.each do |fact, value|
          - new_group = fact.split(".", 2)[0]
          - if (new_group != group)
            - group = new_group
            %tr{:id => group}
              %td= new_group
              %td 
              %td
          %tr{:class => "child-of-#{group}", :id => fact}
            %td
            %td= fact
            %td= value
    :javascript
      $("#factsTable").treeTable({initialState: "collapsed", clickableNodeNames: true});
      $('.scroll-pane').jScrollPane().data('jsp').reinitialise();