= javascript 'systems/systems.controller', 'widgets/nutupane', 'components/inline_edit.directive', 'components/input.directive'
= stylesheet 'widgets/nutupane'

%div{ 'ng-controller' => 'SystemsController' }
  %h1
    = _("Systems")
  %div{ 'alch-table-toolbar' => 'table' }
  %table#nutupane-table.table.stable.stripe-row{ 'alch-table' => 'table', 'row-select' => 'true', 'ng-class' => '{ "table-mask" : table.working }' }

  %div.nutupane-details{ 'nutupane-details'=>'table.visible', 'ng-class' => '{ "nutupane-details-open" : !table.visible }' }
    %header
      %h2.left
        {{ system.name }}
      %div.right
        %a{ 'ng-click' => 'table.visible = true' }
          = "Close"
    %section{ "style" => "clear:both;" }
      %nav{ 'alch-menu' => "systems_menu" }
      %form.form

        %h5 #{_("Basic Information")}
        %div(alch-input){ 'label'=>_('ID') }
          .value
            {{ system.id }}
        %div(alch-input){ 'label'=>_('UUID') }
          .value
            {{ system.uuid }}

        %h5 #{_("Networking")}
        %div(alch-input){ 'label'=>_('Hostname') }
          .value
            {{ system.hostname  }}
        %div{ 'alch-input'=>'system.interfaces', 'label'=>_('Interfaces') }
          %table#interface_table
            %tr{ 'ng-repeat' => 'interface in system.interfaces' }
              %td.interface_name
                {{ interface.name }}
              %td.interface_addr
                {{ interface.addr }}

        %h5 #{_("System Properties")}
        %div(alch-input){ 'label'=>_('Name') }
          %span{ 'inline-edit-text'=>'system.name' }
        %div(alch-input){ 'label'=>_("Description") }
          %span{ 'inline-edit-textarea'=>'system.description' }
        %div(alch-input){ 'label'=>_("OS") }
          .value
            {{ system.distribution_name }}
        %div(alch-input){ 'label'=>_("Release") }
          .value
            {{ system.kernel }}
        -#.control-group
          .label.help
            %i
              = "?"
            = label :releaseVer, :releaseVer, _("Release Version")
            %span
              = _("Setting the release version limits content to this version only, preventing newer packages from being available for installation.")
          .input
            - if !releases_error.nil?
              %span.value{'name' => 'system[releaseVer]', 'class' => ("editable edit_select_system_releasever_message error_message" if editable), 'data-url'=>system_path(system.id), 'data-message'=>releases_error}
                = system.release == "" ? _("System Default") : system.release
            - elsif releases == []
              - if Katello.config.katello?
                - none_message = ("No alternate release version choices are available. These choices are based upon the repositories that have been enabled and promoted to this system's environment.")
              - else
                - none_message = _("No alternate release version choices are available. These choices are based upon the Red Hat manifest imported and the content available in the CDN.")
              %span.value{'name' => 'system[releaseVer]', 'class' => ("editable edit_select_system_releasever_message" if editable), 'data-url'=>system_path(system.id), 'data-message'=>none_message}
                = system.release == "" ? _("System Default") : system.release
            - else
              %span.value{'name' => 'system[releaseVer]', 'inline-edit-select'=>'system.release', 'inline-edit-select-options' => system_releasevers_edit(system, releases)}
        %div(alch-input){ 'label'=>_("Arch") }
          .value
            {{ system.arch }}
        %div(alch-input){ 'label'=>_("RAM (MB)") }
          .value
            {{ system.memory }}
        %div(alch-input){ 'label'=>_("Sockets") }
          .value
            {{ system.sockets }}
        %div(alch-input){ 'label'=>_("Location") }
          %span{ 'inline-edit-text'=>'system.location' }
        %div(alch-input){ 'label'=>_("Environment") }
          -#.input
            %span{ 'inline-edit-environment-selector'=>'system.environment' }
              #environment_path_selector{'name'=> 'system[environment_id]', :class=>("editable" if editable), 'data-url'=>system_path(system.id)}
              %span #{system_environment_name system}
        - if Katello.config.katello?
          %div(alch-input){ 'label'=>_("Content View") }
            %span{ 'inline-edit-select'=>'system.content_view_id',
                   'inline-edit-select-options'=>'system.available_content_views' }

        %h5 #{_("System Events")}
        %div(alch-input){ 'label'=>_("Checked In") }
          .value
            {{ system.created_time }}
        %div(alch-input){ 'label'=>_("Registered") }
          .value
            {{ system.created }}
        %div(alch-input){ 'label'=>_("Activation Key") }
          .value
            %ul
              %li{ 'ng-repeat'=>'key in system.activation_key' }
                {{ key.name }}

        %h5 #{_("Host & Guest Info")}
        %div(alch-input){ 'label'=>_("System Type") }
          .value
            {{ system.type }}
        %div(alch-input){ 'label'=>_("Host") }
          .value
            {{ system.host.attributes.name }}
        %div(alch-input){ 'label'=>_("Guests"), 'ng-hide'=>'system.type=="Guest"' }
          .value
            %span{ 'ng-show'=>'system.guests.length==0' }
              = _("None")
            %ul
              %li{ 'ng-repeat'=>'guest in system.guests' }
                {{ guest.attributes.name }}
