
= javascript :env_select

-if defined? envsys
  .grid_16
    = environment_selector(:locker_clickable=>false, :accessible_envs=>accessible_envs,  :url_proc => lambda {|a| environments_systems_path(:env_id =>a[:environment].id )})

.grid_16#main
  = two_panel(@systems, @panel_options)

= javascript :edit, :multiselect, :system, :treetable
= include_editable_i18n
-if defined? envsys
  = javascript do
    :javascript
      $(document).ready(function() {
          env_select.env_changed_callback('#{@environment.id}');
          env_select.click_callback = function(env_id) {
              $.bbq.pushState({env_id : env_id});
              $('#search_form').trigger('submit');
          };
      });
