:plain
  {
      "System %systemName": "#{_("System %systemName")}",
      "Remove System": "#{_("Remove System")}",
      "Close": "#{_("Close")}",
      "Details": "#{_("Details")}",
      "Basic Information": "#{_("Basic Information")}",
      "Name": "#{_("Name")}",
      "UUID": "#{_("UUID")}",
      "Description": "#{_("Description")}",
      "System Properties": "#{_("System Properties")}",
      "OS": "#{_("OS")}",
      "Release": "#{_("Release")}",
      "Release Version": "#{_("Release Version")}",
      "System Default": "#{_("System Default")}",
      "Arch": "#{_("Arch")}",
      "RAM (GB)}": "#{_("RAM (GB)")}",
      "Sockets": "#{_("Sockets")}",
      "Location": "#{_("Location")}",
      "Environment": "#{_("Environment")}",
      "Content View": "#{_("Content View")}",
      "Networking": "#{_("Networking")}",
      "Hostname": "#{_("Hostname")}",
      "IP Address": "#{_("IP Address")}",
      "Interfaces": "#{_("Interfaces")}",
      "Subscription Status Details": "#{_("Subscription Status Details")}",
      "Subscription Status": "#{_("Subscription Status")}",
      "Autoheal": "#{_("Autoheal")}",
      "Service Level": "#{_("Service Level")}",
      "System Status": "#{_("System Status")}",
      "Registered": "#{_("Registered")}",
      "Checkin": "#{_("Checkin")}",
      "Never checked in": "#{_("Never checked in")}"
  }
