= generate_menu

%section#navigation{ "ng-controller"=>"MenuController" }
  %header.header.logo-header
    - if Katello.config.katello?
      = link_to "", dashboard_index_path, :class => "fl katello-logo logo"
    - else
      = link_to "", dashboard_index_path, :class => "fl headpin-logo logo"
    - if User.current.legacy_mode
      %span#legacy_indicator
        = _("legacy mode")
    %nav.banner_menu{ 'alch-menu' => 'bannerMenu' }
  %header.header.nav-header
    = render :file => 'bastion/widgets/org_switcher'
    .nav(compact){ "alch-menu" => "menu" }
    .nav.right
      %ul.menu-container.menu-item-notices
        %li.menu-item{ "ng-mouseenter" => "handle_hover(notices, true)", "ng-mouseleave" => "handle_hover(notices, false)" }
          %a.menu-item-link{ :href => "{{ notices.url }}", "ng-class" => "{ 'active-item' : notices.active }"}
            %span#unread_notices{"ng-cloak" => true}
              %i.icon-warning-sign
              %span#unread_notices_count
                {{notices.count}}
      - if defined? KatelloForemanEngine
        %ul.menu-container
          %li.menu-item{ "ng-mouseenter" => "handle_hover(foreman, true)", "ng-mouseleave" => "handle_hover(foreman, false)" }
            %a.menu-item-link{ :href => Katello.config.foreman.url, "ng-class" => "{ 'active-item' : foreman.active }"}
              %span
                Foreman
                = image_tag("cross_link.png", :class => 'link_icon icon')
    .nav.admin_menu{ "alch-menu" => "adminMenu" }
