.grid_3
  = link_to dashboard_index_path, :class => 'logo' do
    = image_tag("logo.png", :alt => _('Katello Logo'))
    %span{:class => 'pipe'}
    %h1
      = AppConfig.app_name.upcase
  #loading.fr
    = image_tag('spinner_head.gif', :alt => _('Loading'))
.grid_13
  = hidden_field_tag 'get_notices_url', nil, 'data-url' => notices_get_new_path
  - if current_user
    - if current_organization
      %div.org
        = render :partial => '/layouts/org'
    %ul
      %li.hello
        -# This will "deep link" to a single user and open it for display (#panel= does this)
        = link_to "#{users_path(:id => current_user, :only => true)}#panel=user_#{current_user.id}" do
          %strong
            = current_user.username
      %li
        = link_to current_user.user_notices.length, notices_path, :id => 'unread_notices', :title => _('System Notifications')
      %li.logout
        = link_to _("Logout"), logout_path, :method=>"POST"
