= content_for(:title) do
  = project_name
  = "-"
  = default_title

= content_for(:stylesheets) do
  = include_stylesheets :common
  = include_stylesheets controller.section_id

  / [if lt IE 9]
    = include_javascripts  :html5
  / [if IE]
    = include_stylesheets  :ie, :embed_assets=>false

  = yield :stylesheets
 
= content_for(:content) do   
  - if not current_user
    #formwindow
      = yield
  - else
    %nav.subnav#subnav
      = render_menu(2..3)
    .inner.container_16
      = yield

= content_for(:footer) do
  = render :partial => "common/footer"

= content_for(:extra) do
  = include_javascripts  :common
  %script{ :type => "text/javascript" }
    -if protect_against_forgery?
      :plain
        var AUTH_TOKEN = #{form_authenticity_token.inspect};
    = render :partial => "common/common_i18n"
    = render :partial => 'common/config'
    = render :partial => 'layouts/ajax_notices'
    = render :partial => 'layouts/notification'
    = yield :inline_javascript

  / [if lt IE 9]
    = include_javascripts  :html5

  = yield :javascripts
  
  = csrf_meta_tag
  = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?

= render :partial => 'common/header'

= render :file => 'layouts/converge-ui/shell_layout'
