= content_for(:title) do
  = project_name
  = "-"
  = default_title

= content_for(:stylesheets) do
  = include_stylesheets :common
  = include_stylesheets controller.section_id
  = yield :stylesheets
 

= content_for(:body_tag) do
  - if controller.respond_to?(:section_id)
    - section_id = controller.section_id
  - else
    - section_id = "generic"
  %body{:id => section_id}

= content_for(:content) do   
  - if not current_user
    #formwindow
      = yield
  - else
    %nav.subnav#subnav
      = render_menu(2..3)
    .inner.container_16
      = yield

= content_for(:footer) do
  = render :partial => "common/footer"

= content_for(:extra) do
  = include_javascripts  :common
  = render :partial => 'common/config'

  / [if lt IE 9]
    = include_javascripts  :html5

  = render :partial => 'common/ajax_notices'
  = render :partial => 'common/notification'
  = render :partial => "common/common_i18n"
  = include_editable_i18n
  = yield :javascripts
  
  = csrf_meta_tag
  = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?

= render :partial => 'common/header'

= render :file => 'layouts/converge-ui/shell_layout'
