-# org, informable_type, task_state, and task_uuid from locals
= javascript 'widgets/jquery.jeditable.helpers'

= javascript do
  :plain
    localize({
      "default_info_apply_success": '#{escape_javascript(_("Successfully synced default info"))}',
      "default_info_apply_error": '#{escape_javascript(_("An error has occurred while syncing default info. Please contact your administrator"))}',
      "default_info_create_success": '#{escape_javascript(_("Successfully created default information keyname"))}',
      "default_info_delete_success": '#{escape_javascript(_("Successfully deleted default information keyname"))}',
      "default_info_warning": '#{escape_javascript(_("Caution: this action will remove default custom info, even those containing values"))}'
    });

= content_for :title do
  = @organization.name

= content_for :navigation do
  = render_menu(1..2, organization_navigation)

= content_for :content do
  #default_info
    .clear
      %h5
        = _('%s Default Custom Info') % informable_type.capitalize
    .grid_4
      #apply_default_info_button_container
        %input.btn.fullwidth#apply_default_info_button{ :value => _("Sync default info to all %s") % informable_type.pluralize, :type => "button", "data-url" => api_organization_apply_default_info_path(org.label, informable_type), "data-method" => "post", :disabled => org.default_info[informable_type].empty?, "data-taskstate" => task_state, "data-taskuuid" => task_uuid }
      %table#default_info_table.default_info
        %tbody
          %tr#new_default_info_row
            %td
              %input#new_default_info_keyname{ :placeholder => _("Keyname"), :required => true }
            %td
              %input.btn.primary#add_default_info_button{ :value => _("Add"), :type => "submit", "data-url" => api_organization_create_default_info_path(org.label, informable_type), "data-method" => "post", :disabled => true }
          - org.default_info[informable_type].sort.each do |info|
            - escaped_info = url_encode(info)
            %tr.multiline{"data-id" => "default_info_#{escaped_info}" }
              %td.ra
                = label :default_info, escaped_info, info
              %td
                %input.btn.warning.remove_default_info_button{ :value => _("Remove"), :type => "submit", "data-url" => api_organization_destroy_default_info_path(org.label, informable_type, info), "data-method" => "delete", "data-id" => "default_info_#{escaped_info}" }


= render :template => "layouts/tupane_layout"
