- collection.each do |erratum|
  %li.no_slide.block{:id => erratum.id, "data-ajax_url" => erratum_path(erratum.id)}

    - if @product
      - product_id = [@product.id].to_json
    - else
      - product_id = escape_javascript(erratum.product_ids.to_json)

    .fr
      %span.added.tipsify.hidden #{_("Added")}
      %a{:class => "fr content_add_remove remove_errata st_button hidden", "data-display_name"=> erratum.title,
         "data-id" => erratum.id, "data-type" => "errata", "data-product_id"=> "#{product_id}",
         "data-promotable" => "#{@promotable_errata.include?(erratum.id)}", :id => "add_remove_errata_#{erratum.id}"}

    - if !@promotable_errata.include?(erratum.id) and !@not_promotable.include?(erratum.id)
      .fr.promoted
        = _("Promoted")

    .simple_link
      %span
        = errata_title(erratum)
