%ul.expand_list
  -if @packages.empty?
    #{_("No packages available for promotion")}
  - @packages.each do |pack|
    %li
      - if @next_env_pkgs.include? pack.id
        .fr.promoted
          = _("Promoted")
      - elsif @next_environment && @next_environment.products.member?(@product)
        %a{:class => "fr content_add_remove remove_package st_button", "data-display_name"=> pack.nvrea, "data-id" => pack.id, "data-type" => "package", "data-product_id"=>@product.id, :id => "add_remove_package_#{pack.id}"}
      .no_slide
        %span.block{:id => pack.id, "data-ajax_url" => "/packages/#{pack.id}"}
          = pack.nvrea