= include_stylesheets :systems

.grid_16
  = help_tip_button
  = help_tip(_("System Groups allow you to do stuff...")) |

.grid_16#main
  = two_panel(@groups, @panel_options)




= javascript :system_groups
