
= javascript do
  :plain
    KT.filters.set_current_filter($.parseJSON('#{escape_javascript(objectify(@filter).to_json)}'));

= content_for :title do
  #{@filter.name}

= content_for :remove_item do
  - if filter.deletable?
    = link_to _("Remove Filter"), {:action => "destroy", :controller => "filters"}, :method => :delete, :confirm => _('Are you sure you want to delete this filter?'), :class => "remove_item", :remote=>true

= content_for :navigation do
  = render_menu(1..2, package_filter_navigation)

= content_for :content do
  #package_filter
    %table
      %thead
        %tr
          %th
            #{_("Product")}
      -if editable
        %tr
          %td
            %form{:id=>'add_product_form'}
              %div
                #{_('Add Products and Repositories:')}
              #select_container{}
                %select{:id=>'product_select', :style=>'width:350px;', 'data-placeholder'=>_("Choose a product..")}
                .centered
                  %a{:id=>'add_product'}
                    #{_('+ Add')}

      %tr
        %td.no_padding
          %table#product_list


    %input.fr.button{:id=>'revert_products', :type=>'button', :value=>_("Revert Filter")}
    %input.fr.button{:id=>'update_products', :type=>'button', :value=>_("Save Filter")}






