
= content_for :title do
  = _("Edit Inclusion")

= content_for :subcontent do

  %br
  = kt_form_for(rule,
    :url => katello_content_view_definition_filter_rule_path(view_definition.id, filter.id, rule.id),
    :html => {:id => "update_form"}) do |form|

    = radio_button_tag("filter_rule[inclusion]", true, rule.inclusion ? true : false,
                       {:class => :inclusion, :tabindex => auto_tab_index})
    = label_tag(_('Specify %{type} to include') % {:type => rule_type.downcase})

    = radio_button_tag("filter_rule[inclusion]", false, rule.inclusion ? false : true,
                       {:class => :inclusion, :tabindex => auto_tab_index})
    = label_tag(_('Specify %{type} to exclude') % {:type => rule_type.downcase})

= render :template => "katello/layouts/tupane_layout"
