= content_for :title do
  #{view_definition.name}

= content_for :remove_item do
  - if editable
    = link_to _("Remove"), content_view_definition_path(view_definition.id), :confirm => _('Are you sure?'), :method => :delete, :class=>"remove_item", :remote=>true

= content_for :navigation do
  = render_menu(1..2, content_view_definition_navigation)

= content_for :content do

  #content_view_definition_views
    %table
      %thead
        %tr{:style => "background-color: #F5FAFA;"}
          %td{:colspan => 3, :style => "vertical-align:middle; font-size:130%;"}
            #{_("Publish new content view from this view definition")}
          %td
            %input.fr.button.subpanel_element{:type=>'button', :value=>_("Publish"), 'data-url' => publish_setup_content_view_definition_path(view_definition.id)}
        %tr
          %th #{_("Name")}
          %th #{_("Version")}
          %th{:colspan => 2} #{_("Published")}
      %tbody.views
        - view_definition.content_views.each do |view|
          - view.versions.each do |view_version|
            %tr
              %td #{view.name}
              %td #{view_version.version}
              %td #{view_version.created_at}
              %td
