%ul.expand_list
  -if @distributions.empty?
    #{_("No distributions available.")}

  - @distributions.each do |element|
    - distribution = element[0]
    - repo = element[1]

    %li.no_slide.block{:id => distribution.id, "data-ajax_url" => repository_distribution_path(repo.id, URI::escape(distribution.id))}

      - promoted = @next_env_distros.include? distribution.id
      - promotable = !promoted and (@next_environment && !(@next_env_repos).empty?)

      .fr
        %span.added.tipsify.hidden #{_("Added")}
        %a{:class => "fr content_add_remove remove_distribution st_button hidden",
           "data-display_name"=> distribution.id, "data-id" => distribution.id, "data-type" => "distribution",
           "data-product_id" => [@product.id].to_json, "data-promotable" => "#{promotable}",
           :id => "add_remove_distribution_#{distribution.id}"}

      - if promoted
        .fr.promoted
          = _("Promoted")

      .simple_link
        %span
          = distribution.id
