= include_javascripts :bbq
= include_javascripts :katello_client
= include_javascripts :promotion
= include_javascripts :panel

:javascript
  var content_breadcrumb = $.parseJSON('#{escape_javascript(generate_content_breadcrumb())}');
  var changeset_breadcrumb = $.parseJSON('#{escape_javascript(generate_cs_breadcrumb())}');
  localize({
    "add": '+ #{_('Add')}',
    "remove": '&mdash; #{_('Remove')}',
    "loading": "#{_('Loading Changeset')}",
    "no_products":"#{_('No products exist in the changeset for this product')}",
    "no_errata": "#{_('No errata exist in this changeset.')}",
    "no_package": "#{_('No packages exist in this changeset.')}",
    "no_repo": "#{_('No repositories exist in this changeset.')}",
    "errata": "#{_("Errata")}",
    "package": "#{_("Packages")}",
    "repo": "#{_("Repositories")}",
    "viewing": '#{_('currently editing this changeset')}',
    "review": '#{_("Review for Promotion")}',
    "promote": '#{_("Promote Changeset to ")}',
    "promote_confirm": '#{_("promote_confirm")}',
    "package_singular": '#{_("Package")}',
    "package_plural": '#{_("Packages")}',
    "product_singular": '#{_("Product")}',
    "product_plural": '#{_("Products")}',
    "errata_singular": '#{_("Erratum")}',
    "errata_plural": '#{_("Errata")}',
    "repo_singular": '#{_("Repository")}',
    "repo_plural": '#{_("Repositories")}',
    "changeset_empty": '#{_("Changeset is empty.")}',
    "summary": '#{_("Summary:")}'
  });


#error_dialog{:style=>"display: none"}
  = _("An error has occured when communicating with the server, please refresh the page to retrieve the current changeset.")


//Div for dep. content 
#dialog_content{:style => "word-wrap: break-word;", :title=>"#{_('Package Dependencies')}"}

= help_tip_button
.grid_12.prefix_2.suffix_2
  = help_tip(_('Promotions allow you to promote content from one environment to the next along ' + |
                'a promotion path. Clicking "Add" next to one or more products will add them to '+ |
                'the change set. If products already exist in the next environment, you may '    + |
                'promote other types of content. Once you have created a change set, click the ' + |
                '"Promote" button to commit it to the next environment.'))   |
.grid_16
  = environment_selector(:url_proc=>lambda {|args|  promotions_path(args[:organization].name, args[:environment].name, :next_env_id=>(args[:next_environment].id if args[:next_environment] and args[:environment].locker?) )})

.grid_16
  #container

    .right_tree
      #changeset_tree
        - if @next_environment
          %h2 #{@next_environment.name + _(" Changesets")}
          .breadcrumb_search.fl

            %form#search_form.search.clear
              %input{ :name => "s", :type => "search", :placeholder => "Filter...", :id=>"search"}
              %button.action #{_("Search")}
              %br.clear

            .search_button.fr.clickable
              #{_('Search')}
            .tree_breadcrumb
          #cslist.list.sliding_list.shadowbox.outlined{"data-page_size"=>current_user.page_size}
            #changeset_loading.slider
              .text
                = _("Loading Changeset")
                = image_tag ("spinner.gif")
            .slider_one.has_content.slider.will_have_content
            .slider_two.no_content.slider
          #changeset_users
          #changeset_status
          #delete_changeset.button{"data-url"=>changesets_path(), "data-confirm-text"=>_('Are you sure?')}
            = _("Remove Changeset")
          #changeset_action.button.fr
          #review_cancel.button.fr{:style=>"display: none;"}
            = _('Cancel Review')
        - else
          %h2 #{_("Changesets")}
          = _("An environment does not exist to promote content to.  If you would like to manage changesets and content, please create a new environment.")

    #panel-frame
      #panel.panel.closed
        .head
          %a.close{:href => "#", "data-close"=>"panel"} #{_("Close")}
        .data
          #spinner{:style=>"display: none"}
            = image_tag ("spinner.gif")
          .panel-content
          %br.clear

    #content_tree.left
      - if @next_environment
        %a.fr{:href => "#", :id => "new", :class => "block", "data-ajax_url" => "#{url_for(:controller=>'changesets', :action=> 'new')}?env_id=#{@environment.id}&next_env_id=#{@next_environment.id}"}
          #{_('+ New Changeset')}
          .arrow-right
      - else
        %a.fr{:href => "#", :id => "new", :class => "block", "data-ajax_url" => "#{url_for(:controller=>'changesets', :action=> 'new')}?env_id=#{@environment.id}"}
          #{_('+ New Changeset')}
      %h2 #{@environment.name + _(" Content")}
      .tree_breadcrumb.clickable.clear
      #list.sliding_list.shadowbox.outlined{"data-page_size"=>current_user.page_size}
        .slider_one.has_content.slider
          = render(:partial=>"detail")
        .slider_two.no_content.slider
