%article#browse_box
  %header
    %h2
      = _("Search")
    %aside
  %section#filters
    %form
      %fieldset.primary#content_selector
        = label_tag :content, _("Content")
        %div.no_border
          = select_tag :content, options_for_select(content_types)
      - if Katello::ContentView.readable?
        %fieldset.primary#views_selector
          = label_tag :views, _("Content Views")
          #view_autocomplete_list{'data-url'=>auto_complete_content_views_path}
            %input.hidden_selection{:type=>:hidden}
            = text_field_tag :view_auto_complete, "", :class => "auto_complete_input", :placeholder=>_('Auto-complete View')
            %a.button{ :id => "add_view" }
              = _("Add")
            %ul
              %li.all
                = _("All Content Views")
      %fieldset.primary#products_selector
        = label_tag :products, _("Products")
        #product_autocomplete_list{'data-url'=>auto_complete_products_path}
          %input.hidden_selection{:type=>:hidden}
          = text_field_tag :product_auto_complete, "", :class => "auto_complete_input", :placeholder=>_('Auto-complete Product')
          %a.button{ :id => "add_product" }
            = _("Add")
          %ul
            %li.all
              = _("All Products")
      %fieldset.primary#repos_selector
        = label_tag :repos, _("Repositories")
        #repo_search
          = radio_button_tag :repos, :search_radio, true
          = text_field_tag :repo_search_input, nil, :placeholder=>_('Search repositories')
          %span.browse_tipsy.fa.fa-question-circle
            %span.hidden-text.hidden
              .la.content-tipsy
                = _('Example Searches:')
                %div
                %ul
                  %li
                    =_('Searching for all repositories containing the word "Server"')
                    .example
                      "*Server*"
                  %li
                    =_('Searching for a specific arch:')
                    .example
                      arch:x86_64
                  %li
                    =_('Searching for a specific minor version:')
                    .example
                      minor:6.2



        %div#repo_autocomplete_list{'data-url'=>auto_complete_library_repositories_path}
          = radio_button_tag :repos, :auto_complete_radio, true
          %input.hidden_selection{:type=>:hidden}
          = text_field_tag :repo_auto_complete, nil, :class => "auto_complete_input", :placeholder=>_('Auto-complete repository')
          %a.button#add_repo
            = _("Add")
          %ul
            %li.all
              = _("All Repos")
      %fieldset.primary#packages_selector
        = label_tag :packages, _("Packages")
        #package_search
          = text_field_tag :search, nil, :placeholder=>_('Search packages'), :size=>19
          %span.browse_tipsy.fa.fa-question-circle
            %span.hidden-text.hidden
              .la.content-tipsy
                = _('Example Searches:')
                %div
                %ul
                  %li
                    =_('Searching for an exact package:')
                    .example
                      kernel-2.6.32-220.2.1.el6.x86_64
                  %li
                    =_('Searching starting with kernel:')
                    .example
                      kernel*
                  %li
                    =_('Searching by exact name:')
                    .example
                      name:kernel
                  %li
                    =_('Searching by name and arch:')
                    .example
                      name:kernel AND arch:x86_64
                  -# %li
                    = _('Search for all packages with a specific requires:')
                    .example
                      requires:sendmail

      %fieldset.primary#puppet_modules_selector
        = label_tag :puppet_modules, _("Puppet Modules")
        #puppet_modules_search
          = radio_button_tag :puppet_modules, :search, true
          = text_field_tag :search, '', :size=>19, :placeholder=>_('Search modules')
          %span.browse_tipsy.fa.fa-question-circle
            %span.hidden-text.hidden
              .la.content-tipsy
                = _('Example Searches:')
                %div
                %ul
                  %li
                    =_('Searching by exact name:')
                    .example
                      name:activemq

                  %li
                    =_('Searching by exact name and author:')
                    .example
                      name:activemq AND author:puppetlabs

                  %li
                    =_('Searching for name starting with lib:')
                    .example
                      name:lib*

                %div
                  = _('Available search fields:')
                  %ul
                    %li.example
                      name, author, version, summary, description, license, project_page, source, checksums, tag_list


      %input#browse_button.fr.button{:type=>'submit', :value=>_('Go')}
