-# may want to not store this as a partial for performance reasons
- container ||=  nil
- env ||= nil
- view ||= nil

- if !details

  - if container.is_a? Product
    = ([container.total_package_count(env, view),
        container.total_errata_count(env, view),
        container.total_puppet_module_count(env, view)]).join(' / ')

  - else
    = ([container.total_package_count(env),
        container.total_errata_count(env),
        container.total_puppet_module_count(env)]).join(' / ')

- else

  - if container.is_a? Product
    = _("Packages (%s)") % container.total_package_count(env, view)
    <br/>
    = _("Errata (%s)") % container.total_errata_count(env, view)
    <br/>
    = _("Puppet Modules (%s)") % container.total_puppet_module_count(env, view)

  - else
    = _("Packages (%s)") % container.total_package_count(env)
    <br/>
    = _("Errata (%s)") % container.total_errata_count(env)
    <br/>
    = _("Puppet Modules (%s)") % container.total_puppet_module_count(env)