= content_for :title do
  = _("Distribution")

= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3)

= content_for :content do
  %table
    %thead
      %th #{_("File")}
    %tbody
      -@distribution.files.each do |file|
        %tr
          %td{:class=>'distribution'}
            #{file}
