= include_javascripts :panel, :fancyqueries, :bbq
= include_stylesheets :fancyqueries
#container
  .right
    - if enable_create
      %h4
        #{_("Click New to create a new")} #{name}
    %br
    %br
    %h4
    #{_('Select Result')}:
    %br
    #select-result
  #panel-frame
    #panel.panel.closed
      .head
        %a.close{:href => "#", "data-close"=>"panel"} #{_("Close")}
      .data
        .spinner
          = image_tag ("spinner.gif")
        .panel-content
        %br.clear
  #subpanel-frame
    #subpanel.panel.subpanel.closed
      .head
        %a.close{:href => "#", "data-close"=>"subpanel"} #{_("Close")}
      .data
        .spinner
          = image_tag ("spinner.gif")
        .panel-content
        %br.clear


  .left
    #list-title
      %h2.fl #{title}
      - if enable_create
        %a.fr{:href => "#", :id => "new", :class => "block", "data-ajax_url" => url_for(:action=> 'new')}
          #{_('+ New ')} #{create}
          .arrow-right
      %br
      %br
      - if url.nil?
        %form#search_form.search{"data-url" => search_index_path()}
          = auto_complete_field_tag_jquery(:search, params[:search], {:type => "text", :placeholder => "Filter..."},{ :delay => 100, :min_length => -1 })
          %button.action{:form => "search_form"} #{_("Search")}
      - else
        %form#search_form.search{"data-url" => url_for(url)}
          = auto_complete_field_tag_jquery(:search, params[:search], {:type => "text", :placeholder => "Filter..."},{ :delay => 100, :min_length => -1 })
          %button.action{:form => "search_form"} #{_("Search")}

    #list.clear.expand_list{:class=>("ajaxScroll" if ajax_scroll), "data-scroll_url"=>ajax_scroll, "data-page_size"=>current_user.page_size}
      .block_head.clear
        - for col in columns
          %div{:class => 'column_' + columns.length.to_s}
            -if enable_sort 
              = sort(col.to_s.sub(/[_]/, " "))
            -else
              = col.to_s.sub(/[_]/, " ")
      .arrow-right
      - if custom_rows
        = render_rows(:collection=>collection, :columns=>columns, :accessor=>accessor)
      - else
        - for item in collection
          = render :partial=>"common/list_item", :locals=>{:item=>item, :accessor=>accessor, :columns=>columns}
    %br.clear
