-# org and informable_type from locals
= javascript :edit_helpers

.grid_8
  %h5 #{_("%{object} Default Info") % {:object => informable_type.capitalize}}
.grid_4
  %table#default_info_table
    %tbody
      %tr#new_default_info_row
        %td
          %input#new_default_info_keyname{ "placeholder" => "keyname", "required" => true }
        %td
          %input.btn.primary#add_default_info_button{ "value" => "add", "type" => "submit", "data-url" => api_organization_create_default_info_path(org.name, informable_type), "data-method" => "post", :disabled => true }
      - org.default_info[informable_type].sort.each do |info|
        - space_safe_info = info.gsub(" ", "_")
        %tr{"data-id" => "default_info_#{space_safe_info}" }
          %td.ra
            = label :default_info, info.to_sym, info
          %td
            %input.btn.warning.remove_default_info_button{ "value" => "remove", "type" => "submit", "data-url" => api_organization_destroy_default_info_path(org.name, informable_type, info), "data-method" => "delete", "data-id" => "default_info_#{space_safe_info}" }
