= content_for :title do
  #{_("New Organization")}

= content_for :navigation do
  / pretty

= content_for :content do
  .grid_8#new_organization123
    = kt_form_for Organization.new do |f|

      = f.text_field :name, :label => _("Name")

      = f.text_area :description, :label => _("Description"), :size => "40x5"

      %fieldset
        .grid_7.la
          %label #{_("Initial Application Life Cycle Management Environment")}:

      = f.field :envname, :label => _("Name") do
        = text_field_tag 'environment[name]', nil, :tabindex => f.tabindex

      = f.field :envdescription, :label => _("Description") do
        = text_area_tag 'environment[description]', nil, :tabindex => f.tabindex, :size => "40x5"

      %fieldset
        .grid_7.la
          %label= _("Note: This will be set as your initial default environment.")

      = f.submit _("Save")
