= javascript :filtertable, :system_errata

= javascript do
  :javascript
    localize({
      "x_of_y_errata" : function(x,y){ return '#{_("(Loaded %X of %Y Total)")}'.replace("%X", x).replace("%Y", y); }
      });

= content_for :title do
  #{@system.name}

= content_for :navigation do
  = render_navigation(:items => systems_navigation, :expand_all => true, :level => 1)

= content_for :content do
  - if errata.length > 0
    #system_errata{ "data-system_id" => @system.id }
      %div
        %h5.fl
          #{_("Display")}
        %span.fl
          = select_tag "display_errata_type", '<option value="All">All Errata</option><option>Bug</option><option>Enhancement</option><option>Security</option>'.html_safe
      %table.filter_table.ajaxScroll
        %thead
          %th
            = check_box_tag "select_all", "select_all"
          %th
            #{_("TYPE")}
          %th
            #{_("ERRATA")}
          %th
            #{_("PRODUCT")}
        %tbody
          = render :partial => "systems/errata/items", :locals => { :errata => errata }
      #list-spinner
        = image_tag("spinner.gif", :class=>"ajax_scroll")
    - else
      %p There is no errata to display.

= content_for :footer do
  .grid_8
    %a#more{:style => "padding-left: 20px;", "data-scroll_url"=>url_for(system_errata_path(@system.id)), "data-page_size"=>current_user.page_size, "data-offset"=>offset, :class=>"fl"} #{_("Load %{n} More" % {:n => offset})}
    %span{:id => 'loaded_summary', :style => "padding-left: 20px;"}
      #{_("%{n} Loaded of %{t} Total" % {:n => offset, :t => total_errata })}

    - if editable
      .prefix_2.grid_6.ra
        = submit_tag _('Run'), :class => 'button', :id => 'add_errata', 'data-url' => system_errata_path(@system.id)
