-errata.each do |e|
  %tr{ :id => "errata_#{e.errata_id}" }
    - if editable
      %td
        = check_box_tag "errata_checkbox", e.errata_id
    %td
      %div{:class=>errata_type_class(e)}
    %td.one-line-ellipsis
      = e.errata_id
    %td
      %span.one-line-ellipsis.grid_4{ "title" => e.title }
        = e.title
      %span.errata_status.fr.hidden
        = image_tag("icons/spinner.gif")
        %span.errata_status_text
          #{_('Installing')}
    %td
      %span.tipsy-icon.info.errata-info{ "data-title" => e.title, "data-issued" => e.issued, "data-description" => e.description, "data-id" => e.errata_id, "data-packages" => e.pkglist.to_json, "data-reference_url" => (e.references[0] ? e.references[0]["href"] : "") }
    -if defined?(errata_systems) and !errata_systems.blank?
      %td{:style => "text-align:center;"}
        %span.tipsy-icon.systems{"data-list" => errata_systems[e.errata_id].to_json}
          = errata_systems[e.errata_id].length
