.grid_3
  %a{:href => '/dashboard', :class => "logo"}
    = image_tag('logo.png', :alt => _('Katello Logo'))
    %span{:class => 'pipe'}
    %h1 Katello
  #loading.fr
    = image_tag('spinner_head.gif', :alt => _('Spinning Work Indicator'))
.grid_13
  - if current_user
    -if current_organization
      %div.org
        = render :partial => '/layouts/org'
    %ul
      %li.hello
        = link_to account_path do
          %strong
            = current_user.username
      %li
        %a{ :id => "unread_notices", :href => "/notices", :title => "System Notifications"}
          #{current_user.user_notices.length}
      %li.logout
        = link_to _("Logout"), logout_path, :method=>"POST"
