.grid_3
  %a{:href => '/dashboard', :class => "logo"}
    %img{:src => '/images/logo.png', :alt => 'Katello Logo'}
    %span{:class => 'pipe'}
    %h1 Katello
  #loading.fr
    %img{:src => '/images/spinner_head.gif', :alt => 'Spinning Work Indicator'}
.grid_13
  - if current_user
    %div.org
      = render :partial => '/layouts/org'
    %ul
      %li.hello
        = link_to account_path do
          %strong
            = current_user.username
      %li
        %a{ :id => "unread_notices", :href => "/notices", :title => "System Notifications"}
          #{current_user.user_notices.length}
      %li.logout
        %a{ :href => "/logout"}
          #{_("Logout")}
