= yield :javascripts

.grid_8
  %h2
    = yield :title
  = yield :remove_item    
  %a.close{:href => "#", "data-close"=>"panel"} #{_("Close")}

%nav.subnav.clear
  = yield :navigation

#panel_main.scroll-pane
  = yield :content

= yield :footer

= yield