= javascript 'widgets/jquery.jeditable.helpers"

= content_for :title do
  #{@architecture.name}

= content_for :remove_item do
  = link_to _("Remove Architecture"), { :controller => "architectures", :action => "destroy" }, :confirm => _('Are you sure you want to remove this architecture?'), :method => :delete, :class=>"remove_item", :remote=>true

= content_for :content do
  .grid_10
    = kt_form_for @architecture, :as=>"architecture", :url=>architecture_path(@architecture), :data_url=>architecture_path(@architecture), :html=>{ :id=>"edit_architecture" } do |form|

      = form.editable :name, :label => _("Name:")
      = form.field :operatingsystem_ids, :label => _("Operating systems:") do
        = os_select @architecture, "operatingsystem_ids"
      .grid_5.la.prefix_2
        #update_architecture.button{:'data-url'=>architecture_path(@architecture)}
          #{_("Save Architecture")}

= render :template => "layouts/tupane_layout"
